@charset "utf-8";
/* CSS Document */

.wrapper {
				/*background-color: white;*/
				/*width: 480px;*/
				/*margin: 40px auto;
				padding: 50px;
				box-shadow: 0 0 5px #999;*/
			}
			.list_carousel {
				/*background-color: #fff;*/
				/*margin: 0 0 30px 60px;*/
				/*width: 360px;*/
				width:100%;
				position:relative;
				
			}
			.list_carousel ul {
				margin: 0;
				padding: 0;
				list-style: none;
				display: block;
			}
			.list_carousel li {
				
				text-align: center;
				/*background-color: #fff;*/
				border: 0px solid #999;
				/*width: 50px;
				height: 50px;*/
				padding: 0;
				margin: 6px;
				/*display: block;
				float: left;*/
				display:inline-block;
				float: left;
			}
			.list_carousel.responsive {
				width: auto;
				margin-left: 0;
			}
			.clearfix {
				float: none;
				clear: both;
			}
			.prev {
				float: left;
				
				width:21px;
				height:39px;
				background:url(../images/prev-arrow.png) no-repeat;
			}
			
			a.prev { position:absolute; left:0px; top:36%;}
			a.next { position:absolute; right:0px;top:36%;}
			.next {
				float: right;
				
				width:21px;
				height:39px;
				background:url(../images/next-arrow.png) no-repeat;
			}


			
			
			a.prevv { position:absolute; left:-55px;  top:5%;}
			a.nextt { position:absolute;  right: 0; top:5%;}
			
				
			.pager {
				float: left;
				width: 300px;
				text-align: center;
			}
			.pager a {
				margin: 0 5px;
				text-decoration: none;
			}
			.pager a.selected {
				text-decoration: underline;
			}
			.timer {
				background-color: #999;
				height: 6px;
				width: 0px;
			}
			
			
			
			
			a.prev2 { position:absolute; left:90%; top:-8%;}
			a.next2 { position:absolute; right:0;  top:-8%;}
			
			
			
			
			.prev01 {
				float: left;
				
				width:35px;
				height:43px;
				background:url(../images/prev-arrow.png) no-repeat;
			}
			
			a.prev01 { position:absolute; left:-30px; top:21%;}
			a.next01 { position:absolute; right:-30px;top:21%;}
			.next01 {
				float: right;
				
				width:35px;
				height:43px;
				background:url(../images/next-arrow.png) no-repeat;
			}