.blogPageTp1 {
  padding: 50px 0px 20px 0px;
}

.blogPageTp1 .blogPageTp1Content .blogItemBox {
  margin-bottom: 20px;
}

.blogPageTp1 .blogPageTp1Content .blogImage {
  border-radius: 20px;
}

.blogPageTp1 .blogPageTp1Content .blogPostContainer {
  padding: 40px 108px 0 0;
  position: relative;
}

.blogPageTp1 .blogPageTp1Content .blogPostContainer .datePosted {
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #929399;
  color: var(--text-light);
  position: absolute;
  width: 260px;
  -webkit-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg);
  -webkit-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  transform-origin: 0 0;
  -webkit-transform-origin: 100% 100%;
  -ms-transform-origin: 100% 100%;
  transform-origin: 100% 100%;
  top: -21px;
  right: 0;
  z-index: 9;
  font-family: airbnb_cereal_appmedium;
}

.blogPageTp1 .blogPageTp1Content .blogPostContainer .watermark {
  font-size: 140px;
  text-transform: uppercase;
  color: #e4e4e4;
  position: absolute;
  top: 0px;
  pointer-events: none;
  right: 0;
  font-family: airbnb_cereal_appbold;
}

.blogPageTp1 .blogPageTp1Content .blogPostContainer .postBlogTitle {
  font-size: 35px;
  line-height: 41px;
  font-family: 'airbnb_cereal_appbold';
  text-align: left;
  margin-bottom: 18px;
  color: #33bfb4;
}

.blogPageTp1 .blogPageTp1Content .blogPostContainer .postBlogSubTitle {
  padding-bottom: 20px;
  border-bottom: 1px solid #33bfb4;
  font-size: 16px;
  margin-bottom: 20px;
}

.blogPageTp1 .blogPageTp1Content .blogPostContainer .BlogViewAllButton {
  padding: 5px 20px;
  background: #33bfb4;
  text-align: center;
  color: #fff;
  line-height: 28px;
  font-size: 16px;
  border-radius: 50px;
  font-family: 'Airbnb Cereal App Light';
  display: inline-block;
}

.blogDetailBox .blogDetailBoxHeader {
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  display: flex;
  height: 400px;
  align-items: center;
  justify-content: center;
  position: relative;
}

.blogDetailBox .blogDetailBoxHeader::before {
  content: '';
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.blogDetailBox .blogDetailBoxHeader .blogDetailBoxTxt1 {
  font-family: airbnb_cereal_appmedium;
  font-size: 35px;
  line-height: 41px;
  color: #fff;
  position: relative;
  z-index: 2;
  padding-bottom: 20px;
  border-bottom: 1px solid #33bfb4;
}

.blogDetailBox .blogDetailBoxHeader .datePosted {
  font-size: 21px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #fff;
  position: absolute;
  width: 260px;
  -webkit-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg);
  -webkit-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  transform-origin: 0 0;
  -webkit-transform-origin: 100% 100%;
  -ms-transform-origin: 100% 100%;
  transform-origin: 100% 100%;
  top: 0px;
  right: 15px;
  z-index: 9;
  font-family: airbnb_cereal_appmedium;
}

.blogDetailBox .blogDetailBoxContent {
  padding: 20px 0px;
}

.blogDetailBox .blogDetailBoxContent .blogDetailBoxContentTxt1 {
  font-size: 18px;
  color: #3a3a39 !important;
  margin-bottom: 10px;
}

.BlogTptxt1 {
  border-bottom: 1px solid #33bfb4;
  line-height: 1;
  margin-bottom: 10px;
}

.BlogTptxt1 span {
  background: #33bfb4;
  color: #fff;
  line-height: 1;
  padding: 7px;
  font-size: 15px;
  font-family: airbnb_cereal_appmedium;
  border-radius: 3px;
  display: inline-block;
}

.blogThumbBoxTxt1 {
  font-family: airbnb_cereal_appmedium;
  color: #050708 !important;
  line-height: 21px;
  font-size: 17px;
  overflow: hidden;
  height: 63px;
  transition: 0.5s;
  margin-bottom: 12px;
}

.BlogDetailImage {
  width: 100%;
  border-radius: 5px;
}

.blogThumbBoxTxt2 {
  color: #929399;
  font-size: 14px;
}

.blogThumbBox:hover .blogThumbBoxTxt1 {
  color: #33bfb4 !important;
  padding-left: 5px;
}

.exzoom {
  box-sizing: border-box;
}

.exzoom:hover .exzoom_btn {
  display: block;
}

.exzoom * {
  box-sizing: border-box;
}

.exzoom .exzoom_img_box {
  background: #fff;
  position: relative;
}

.exzoom .exzoom_img_box .exzoom_main_img {
  display: block;
  width: 80%;
}

.exzoom .exzoom_img_box span {
  background: url("data:img/jpg;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAACXBIWXMAAAsTAAALEwEAmpwYAAAK\aTWlDQ1BQaG90b3Nob3AgSUNDIHByb2ZpbGUAAHjanVN3WJP3Fj7f92UPVkLY8LGXbIEAIiOsCMgQ\aWaIQkgBhhBASQMWFiApWFBURnEhVxILVCkidiOKgKLhnQYqIWotVXDjuH9yntX167+3t+9f7vOec\a 5/zOec8PgBESJpHmomoAOVKFPDrYH49PSMTJvYACFUjgBCAQ5svCZwXFAADwA3l4fnSwP/wBr28A\a AgBw1S4kEsfh/4O6UCZXACCRAOAiEucLAZBSAMguVMgUAMgYALBTs2QKAJQAAGx5fEIiAKoNAOz0\aST4FANipk9wXANiiHKkIAI0BAJkoRyQCQLsAYFWBUiwCwMIAoKxAIi4EwK4BgFm2MkcCgL0FAHaO\aWJAPQGAAgJlCLMwAIDgCAEMeE80DIEwDoDDSv+CpX3CFuEgBAMDLlc2XS9IzFLiV0Bp38vDg4iHi\awmyxQmEXKRBmCeQinJebIxNI5wNMzgwAABr50cH+OD+Q5+bk4eZm52zv9MWi/mvwbyI+IfHf/ryM\a AgQAEE7P79pf5eXWA3DHAbB1v2upWwDaVgBo3/ldM9sJoFoK0Hr5i3k4/EAenqFQyDwdHAoLC+0l\aYqG9MOOLPv8z4W/gi372/EAe/tt68ABxmkCZrcCjg/1xYW52rlKO58sEQjFu9+cj/seFf/2OKdHi\aNLFcLBWK8ViJuFAiTcd5uVKRRCHJleIS6X8y8R+W/QmTdw0ArIZPwE62B7XLbMB+7gECiw5Y0nYA\aQH7zLYwaC5EAEGc0Mnn3AACTv/mPQCsBAM2XpOMAALzoGFyolBdMxggAAESggSqwQQcMwRSswA6c\awR28wBcCYQZEQAwkwDwQQgbkgBwKoRiWQRlUwDrYBLWwAxqgEZrhELTBMTgN5+ASXIHrcBcGYBie\awhi8hgkEQcgIE2EhOogRYo7YIs4IF5mOBCJhSDSSgKQg6YgUUSLFyHKkAqlCapFdSCPyLXIUOY1c\aQPqQ28ggMor8irxHMZSBslED1AJ1QLmoHxqKxqBz0XQ0D12AlqJr0Rq0Hj2AtqKn0UvodXQAfYqO\aY4DRMQ5mjNlhXIyHRWCJWBomxxZj5Vg1Vo81Yx1YN3YVG8CeYe8IJAKLgBPsCF6EEMJsgpCQR1hM\aWEOoJewjtBK6CFcJg4Qxwicik6hPtCV6EvnEeGI6sZBYRqwm7iEeIZ4lXicOE1+TSCQOyZLkTgoh\aJZAySQtJa0jbSC2kU6Q+0hBpnEwm65Btyd7kCLKArCCXkbeQD5BPkvvJw+S3FDrFiOJMCaIkUqSU\a Eko1ZT/lBKWfMkKZoKpRzame1AiqiDqfWkltoHZQL1OHqRM0dZolzZsWQ8ukLaPV0JppZ2n3aC/p\a dLoJ3YMeRZfQl9Jr6Afp5+mD9HcMDYYNg8dIYigZaxl7GacYtxkvmUymBdOXmchUMNcyG5lnmA+Y\a b1VYKvYqfBWRyhKVOpVWlX6V56pUVXNVP9V5qgtUq1UPq15WfaZGVbNQ46kJ1Bar1akdVbupNq7O\aUndSj1DPUV+jvl/9gvpjDbKGhUaghkijVGO3xhmNIRbGMmXxWELWclYD6yxrmE1iW7L57Ex2Bfsb\a di97TFNDc6pmrGaRZp3mcc0BDsax4PA52ZxKziHODc57LQMtPy2x1mqtZq1+rTfaetq+2mLtcu0W\a 7eva73VwnUCdLJ31Om0693UJuja6UbqFutt1z+o+02PreekJ9cr1Dund0Uf1bfSj9Rfq79bv0R83\aMDQINpAZbDE4Y/DMkGPoa5hpuNHwhOGoEctoupHEaKPRSaMnuCbuh2fjNXgXPmasbxxirDTeZdxr\aPGFiaTLbpMSkxeS+Kc2Ua5pmutG003TMzMgs3KzYrMnsjjnVnGueYb7ZvNv8jYWlRZzFSos2i8eW\a 2pZ8ywWWTZb3rJhWPlZ5VvVW16xJ1lzrLOtt1ldsUBtXmwybOpvLtqitm63Edptt3xTiFI8p0in1\aU27aMez87ArsmuwG7Tn2YfYl9m32zx3MHBId1jt0O3xydHXMdmxwvOuk4TTDqcSpw+lXZxtnoXOd\a 8zUXpkuQyxKXdpcXU22niqdun3rLleUa7rrStdP1o5u7m9yt2W3U3cw9xX2r+00umxvJXcM970H0\a 8PdY4nHM452nm6fC85DnL152Xlle+70eT7OcJp7WMG3I28Rb4L3Le2A6Pj1l+s7pAz7GPgKfep+H\avqa+It89viN+1n6Zfgf8nvs7+sv9j/i/4XnyFvFOBWABwQHlAb2BGoGzA2sDHwSZBKUHNQWNBbsG\aLww+FUIMCQ1ZH3KTb8AX8hv5YzPcZyya0RXKCJ0VWhv6MMwmTB7WEY6GzwjfEH5vpvlM6cy2CIjg\aR2yIuB9pGZkX+X0UKSoyqi7qUbRTdHF09yzWrORZ+2e9jvGPqYy5O9tqtnJ2Z6xqbFJsY+ybuIC4\aqriBeIf4RfGXEnQTJAntieTE2MQ9ieNzAudsmjOc5JpUlnRjruXcorkX5unOy553PFk1WZB8OIWY\a EpeyP+WDIEJQLxhP5aduTR0T8oSbhU9FvqKNolGxt7hKPJLmnVaV9jjdO31D+miGT0Z1xjMJT1Ir\a eZEZkrkj801WRNberM/ZcdktOZSclJyjUg1plrQr1zC3KLdPZisrkw3keeZtyhuTh8r35CP5c/Pb\a FWyFTNGjtFKuUA4WTC+oK3hbGFt4uEi9SFrUM99m/ur5IwuCFny9kLBQuLCz2Lh4WfHgIr9FuxYj\ai1MXdy4xXVK6ZHhp8NJ9y2jLspb9UOJYUlXyannc8o5Sg9KlpUMrglc0lamUycturvRauWMVYZVk\aVe9ql9VbVn8qF5VfrHCsqK74sEa45uJXTl/VfPV5bdra3kq3yu3rSOuk626s91m/r0q9akHV0Ibw\a Da0b8Y3lG19tSt50oXpq9Y7NtM3KzQM1YTXtW8y2rNvyoTaj9nqdf13LVv2tq7e+2Sba1r/dd3vz\a DoMdFTve75TsvLUreFdrvUV99W7S7oLdjxpiG7q/5n7duEd3T8Wej3ulewf2Re/ranRvbNyvv7+y\a CW1SNo0eSDpw5ZuAb9qb7Zp3tXBaKg7CQeXBJ9+mfHvjUOihzsPcw83fmX+39QjrSHkr0jq/dawt\ao22gPaG97+iMo50dXh1Hvrf/fu8x42N1xzWPV56gnSg98fnkgpPjp2Snnp1OPz3Umdx590z8mWtd\aUV29Z0PPnj8XdO5Mt1/3yfPe549d8Lxw9CL3Ytslt0utPa49R35w/eFIr1tv62X3y+1XPK509E3r\aO9Hv03/6asDVc9f41y5dn3m978bsG7duJt0cuCW69fh29u0XdwruTNxdeo94r/y+2v3qB/oP6n+0\a/rFlwG3g+GDAYM/DWQ/vDgmHnv6U/9OH4dJHzEfVI0YjjY+dHx8bDRq98mTOk+GnsqcTz8p+Vv95\a 63Or59/94vtLz1j82PAL+YvPv655qfNy76uprzrHI8cfvM55PfGm/K3O233vuO+638e9H5ko/ED+\aUPPR+mPHp9BP9z7nfP78L/eE8/sl0p8zAAAAIGNIUk0AAHolAACAgwAA+f8AAIDpAAB1MAAA6mAA\a ADqYAAAXb5JfxUYAAAAcSURBVHjaYnz9+Vs5AxJgYkADhAUAAAAA//8DANmxA1Okl3sAAAAAAElF\aTkSuQmCC") repeat;
}

.exzoom .exzoom_preview {
  margin: 0;
  position: absolute;
  top: 0;
  overflow: hidden;
  z-index: 999;
  background-color: #fff;
  display: none;
}

.exzoom .exzoom_preview .exzoom_preview_img {
  position: relative;
  max-width: initial !important;
  max-height: initial !important;
  left: 0;
  top: 0;
}

.exzoom .exzoom_nav {
  margin-top: 10px;
  overflow: hidden;
  position: relative;
  left: 0;
  height: 110px !important;
  width: 100% !important;
}

.exzoom .exzoom_nav .exzoom_nav_inner {
  position: absolute;
  left: 0;
  top: 0;
  margin: 0;
}

.exzoom .exzoom_nav .exzoom_nav_inner span {
  border: 2px solid transparent;
  overflow: hidden;
  position: relative;
  float: left;
  cursor: pointer;
  border-radius: 10px;
  margin-left: 0px !important;
}

.exzoom .exzoom_nav .exzoom_nav_inner span:first-child {
  margin-left: 0px !important;
}

.exzoom .exzoom_nav .exzoom_nav_inner span.current {
  border: 2px solid #33bfb4;
}

.exzoom .exzoom_nav .exzoom_nav_inner span img {
  max-width: 100%;
  max-height: 100%;
  position: relative;
}

.exzoom .exzoom_btn {
  position: relative;
  margin: 0;
  display: none;
}

.exzoom .exzoom_btn a {
  position: absolute;
  left: 0;
  top: -62px;
  text-decoration: none;
  color: #000;
  align-items: center;
  cursor: pointer;
  display: flex;
  height: 45px;
  justify-content: center;
  position: absolute;
  transform: translateY(-50%);
  transition: top 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94), opacity 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  width: 45px;
  z-index: 3;
  box-shadow: 0px 5px 50px 5px rgba(127, 133, 151, 0.15);
  background: #f6f6f6;
  border-radius: 50%;
}

.exzoom .exzoom_btn a:hover:after {
  background: #fff;
  border-radius: 50%;
  content: " ";
  display: block;
  height: 100%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  width: 100%;
  z-index: -1;
  position: absolute;
  top: 50%;
  left: 50%;
  box-shadow: 0px 5px 50px 5px rgba(127, 133, 151, 0.15);
}

.exzoom .exzoom_btn a .fa {
  transition: transform 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  font-size: 25px;
  color: #333;
}

.exzoom .exzoom_btn a.exzoom_next_btn {
  left: auto;
  right: 0;
}

.exzoom .exzoom_zoom {
  position: absolute;
  left: 0;
  top: 0;
  display: none;
  z-index: 5;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .exzoom .exzoom_zoom_outer {
    display: none;
  }
}

.exzoom .exzoom_img_ul_outer {
  border-bottom: 1px solid #ddd;
  position: absolute;
  overflow: hidden;
}

.exzoom .exzoom_img_ul_outer .exzoom_img_ul {
  padding: 0;
  margin: 0;
  overflow: hidden;
  position: absolute;
}

.exzoom .exzoom_img_ul_outer .exzoom_img_ul li {
  list-style: none;
  display: inline-block;
  text-align: center;
  float: left;
}

.exzoom .exzoom_img_ul_outer .exzoom_img_ul li img {
  width: 100%;
}

.container.fixedWidthType2 {
  max-width: 1544px !important;
}

.BxTpRight .PhoneIconBox img {
  width: 40px;
}

.CartIconTp1 {
  position: relative;
}

.CartIconTp1 span {
  position: absolute;
  font-size: 14px;
  top: -10px;
  left: 30%;
  background: #33bfb4;
  color: #fff;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  text-align: center;
}

.featureebox .colorbox {
  line-height: 39px;
}

.featureebox .colorbox .newtag {
  width: 38px;
}

.DownloadCatalogBox {
  padding: 60px 0px;
}

.DownloadCatalogBox h3 {
  font-family: 'airbnb_cereal_appmedium';
  font-size: 35px;
  line-height: 36px;
  color: #33bfb4;
}

.DownloadCatalogBox h2 {
  font-family: 'airbnb_cereal_appmedium';
  font-size: 39px;
  line-height: 37px;
  margin-bottom: 40px;
  color: #000;
}

.DownloadCatalogBox .catalogLinkBox ul {
  margin: 0;
  padding: 0;
  display: block;
}

.DownloadCatalogBox .catalogLinkBox ul li {
  display: block;
  list-style-type: none;
  color: #505050;
  background: url(../images/dlistsign.jpg) no-repeat left 0;
  padding-left: 45px;
  font-size: 24px;
  line-height: 34px;
  font-family: 'airbnb_cereal_appbook';
  background-size: 28px 28px;
  margin-bottom: 15px;
}

.DownloadCatalogBox .catalogLinkBox ul li a {
  color: #505050;
  transition: 1s;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
}

.DownloadCatalogBox .catalogLinkBox ul li a:hover {
  color: #33bfb4;
  padding-left: 5px;
}

.DownloadCatalogBox form input {
  padding: 10px 35px;
  background: #f5f5f5;
  line-height: 39px;
  border: none;
  border-radius: 59px;
  color: #505050;
  font-size: 20px;
  font-family: 'airbnb_cereal_appbook';
  width: 100%;
  max-width: 670px;
  margin-bottom: 20px;
  outline: none;
  box-shadow: none;
}

.DownloadCatalogBox form .CatalogBtnTp1 {
  display: block;
  text-align: center;
  background: #33bfb4;
  color: #fff;
  padding: 10px 60px;
  line-height: 39px;
  border: none;
  border-radius: 59px;
  font-size: 23px;
  font-family: 'airbnb_cereal_appbook';
  width: 100%;
  max-width: 670px;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  text-transform: capitalize;
  cursor: pointer;
  border: 2px solid #33bfb4;
}

.DownloadCatalogBox form .CatalogBtnTp1:hover {
  background: #fff;
  color: #33bfb4;
}

.bookameeting {
  margin-bottom: 0 !important;
}

.fixedHeightWidthImg {
  height: 192px;
}

.footer-area {
  padding: 60px;
}

.footer-area h2 {
  padding-left: 12px;
  margin-bottom: 14px;
  min-height: 50px;
}

.footer-area .social-area {
  float: none;
}

.footer-area p {
  font-size: 15px;
  font-size: 18px;
  line-height: 29px;
  font-family: airbnb_cereal_applight;
}

.TypingStatus {
  display: inline-block;
  background: #fff;
  padding: 5px 25px;
  border-radius: 12px;
  margin: 10px;
}

.AddToQuoteBtn {
  line-height: 1.5em;
}

.box-placeholder {
  font-size: 0;
  line-height: 0;
}

.box-placeholder .imgPlaceHolder {
  background: #f5f5f5;
  animation: fading 1.5s infinite;
  height: 300px;
}

.box-placeholder .imgGrid {
  background: #f5f5f5;
  animation: fading 1.5s infinite;
  height: 110px;
}

.box-placeholder .textPlceholder1 {
  background: #f5f5f5;
  animation: fading 1.5s infinite;
  height: 25px;
  margin-bottom: 10px;
}

.box-placeholder .textPlceholder2 {
  background: #f5f5f5;
  animation: fading 1.5s infinite;
  height: 35px;
  margin-bottom: 20px;
}

@keyframes fading {
  0% {
    opacity: .7;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: .7;
  }
}

.testimonialArea {
  padding: 90px 0px 0px 0px;
}

.testimonialArea h2 {
  color: #33bfb4;
  font-size: 55px;
  line-height: 66px;
  font-family: 'airbnb_cereal_appbold';
}

.testimonialArea h4 {
  font-family: 'airbnb_cereal_appmedium';
  font-size: 37px;
  line-height: 40px;
  margin-bottom: 60px;
  color: #050708;
}

.PressReleaseArea {
  padding: 90px 0px 0px 0px;
}

.PressReleaseArea h2 {
  color: #33bfb4;
  font-size: 55px;
  line-height: 66px;
  font-family: 'airbnb_cereal_appbold';
}

.PressReleaseArea h4 {
  font-family: 'airbnb_cereal_appmedium';
  font-size: 37px;
  line-height: 40px;
  margin-bottom: 60px;
  color: #050708;
}

.TestimonialContent {
  background: #f5f5f5;
  padding: 20px;
  border-top-left-radius: 50px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 50px;
}

.CompanyTestiomonial {
  padding: 30px;
}

.CompanyTestiomonial .TestimonialAvatar {
  margin-bottom: 20px;
}

.CompanyTestiomonial .TestimonialAvatar img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  margin: 0 auto;
}

.CompanyTestiomonial .TestimonialText {
  font-family: 'airbnb_cereal_appmedium';
  font-size: 22px;
  line-height: 22px;
  margin-bottom: 30px;
  color: #050708;
}

.CompanyTestiomonial .TestimonialText img {
  width: 45px;
  display: inline-block;
}

.CompanyTestiomonial .TestimonialText img.left {
  margin-right: 7px;
}

.CompanyTestiomonial .TestimonialText img.right {
  margin-left: 7px;
}

.CompanyTestiomonial .TestimonialOwner {
  font-family: 'airbnb_cereal_appmedium';
  font-size: 22px;
  line-height: 22px;
  margin-bottom: 17px;
  color: #333;
}

.CompanyTestiomonial .TestimonialOwnerProfession {
  font-family: 'Airbnb Cereal App Light';
  font-size: 17px;
  line-height: 25px;
}

.CompanyTestiomonial .TestimonialOwnerCompany {
  font-family: 'Airbnb Cereal App Light';
  font-size: 17px;
  line-height: 25px;
}

.TestimonialCarousel .owl-nav .owl-prev {
  padding: 12px 10px 10px 10px;
  background: #fff;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  top: 40%;
}

.TestimonialCarousel .owl-nav .owl-next {
  padding: 12px 10px 10px 10px;
  background: #fff;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  top: 40%;
}

.TestimonialCarousel .owl-dots {
  text-align: center;
  margin: 0 auto;
}

.TestimonialCarousel .owl-dots .owl-dot {
  width: 20px;
  height: 20px;
  background: #fff;
  margin: 2px;
  display: inline-block;
  border-radius: 50%;
  border: 2px solid transparent;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.17);
}

.TestimonialCarousel .owl-dots .owl-dot.active {
  border: 2px solid #33bfb4;
}

@media only screen and (min-width: 769px) {
  .OpacityMinus {
    opacity: 0;
  }
  .daterangepicker.dropdown-menu {
    padding: 15px;
    background: #fff;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
    border: 1px solid #e4e4e4;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.17);
  }
  .daterangepicker.dropdown-menu .calendar {
    max-width: 50%;
    width: 50%;
    margin: 0px !important;
  }
  .daterangepicker.dropdown-menu .calendar td {
    padding: 10px;
  }
  .daterangepicker.dropdown-menu .calendar .calendar-date {
    border: none;
    padding: 10px;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
  }
  .daterangepicker.dropdown-menu .ranges {
    text-align: left;
    float: none;
    display: block;
    background: #fff;
    width: 100%;
    margin: 0;
  }
  .daterangepicker.dropdown-menu .ranges .daterangepicker_start_input {
    display: none;
  }
  .daterangepicker.dropdown-menu .ranges .daterangepicker_end_input {
    display: none;
  }
  .daterangepicker.dropdown-menu .ranges .btn-sm {
    width: 150px;
    padding: 5px 20px;
    background: #33bfb4;
    text-align: center;
    color: #fff;
    line-height: 32px;
    font-size: 17px;
    border-radius: 50px;
    font-family: 'Airbnb Cereal App Light';
  }
  .daterangepicker.dropdown-menu .ranges .btn-sm.btn-default {
    display: none;
  }
}

.AboutUsPage {
  padding-top: 80px;
}

.BXtpHeaderTp1 {
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.17);
}

.content-area-cart .cart-right-detailbox .detailinner .txtbox .iconbox {
  top: 3px;
  width: 30px;
  margin-right: 0;
  left: -5px;
}

.content-area-cart .cart-right-detailbox .detailinner .txtbox input {
  width: 86%;
}

.sc-notice {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 99;
  background: #33bfb4;
}

.sc-notice .alert-dismissible {
  padding: 15px;
  padding-right: 4rem;
  margin: 0px;
}

.qtyinde input {
  width: 136px;
  float: left;
  background: 0 0;
  height: 32px;
  margin-right: 5px;
  border: none;
  outline: 0;
  font-size: 21px;
  color: #33bfb4;
  font-family: airbnb_cereal_appmedium;
  text-align: center;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.qtyinde .fa {
  font-size: 24px;
}

.NoProductBox {
  padding: 30px 20px;
  background: #fff;
}

.NoProductBox img {
  max-width: 100%;
}

.NoProductBox .NoProductBoxTxt {
  font-size: 18px;
  text-transform: uppercase;
  font-family: airbnb_cereal_appmedium;
  text-align: center;
  color: #3a3a39 !important;
}

.NoProductBox .NoProductBoxTxt span {
  color: #33bfb4 !important;
  margin-right: 5px;
}

.NoProductBox .NoProductBoxTxt1 {
  font-size: 22px;
  text-transform: uppercase;
  font-family: airbnb_cereal_appmedium;
  text-align: center;
  color: #3a3a39 !important;
}

.NoProductBox .NoProductBoxTxt1 span {
  color: #33bfb4 !important;
  margin-right: 5px;
}

.LinkTpT01 {
  font-family: 'airbnb_cereal_appmedium';
  font-size: 20px;
  color: #333333;
  border: 2px solid #33bfb4;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  min-width: 175px;
  display: inline-block;
  padding: 8px 15px 7px 15px;
  line-height: 1;
  text-align: center;
  position: relative;
  transition: 1s;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
}

.LinkTpT01:hover {
  background-color: #33bfb4;
  color: #fff !important;
}

.LinkTpT02 {
  transition: 1s;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  background-color: #33bfb4;
  color: #fff !important;
  border: 2px solid #33bfb4;
  font-size: 20px;
  min-width: 175px;
  display: inline-block;
  padding: 7px 15px;
  line-height: 1;
  text-align: center;
  position: relative;
}

.LinkTpT02:hover {
  background-color: #fff;
  color: #333333 !important;
  border: 2px solid #33bfb4;
}

.LinkTpT03 {
  font-family: 'airbnb_cereal_appmedium';
  font-size: 18px;
  color: #333333;
  border: 2px solid #33bfb4;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  min-width: 215px;
  display: inline-block;
  padding: 10px 15px;
  line-height: 1;
  text-align: center;
  position: relative;
  transition: 1s;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
}

.LinkTpT03:hover {
  background-color: #33bfb4;
  color: #fff !important;
}

.LinkTpT02 {
  transition: 1s;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  background-color: #33bfb4;
  color: #fff !important;
  border: 2px solid #33bfb4;
  font-size: 19px;
  min-width: 175px;
  display: inline-block;
  padding: 10px 25px;
  line-height: 1;
  text-align: center;
  position: relative;
}

.LinkTpT02:hover {
  background-color: #fff;
  color: #333333 !important;
  border: 2px solid #33bfb4;
}

.ColorCircle {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 0 auto;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  background-color: #000;
}

.ColorCircle.Color1 {
  background-color: #000;
}

.ColorCircle.Color2 {
  background-color: #bc8988;
}

.ColorCircle.Color3 {
  background-color: #2d8680;
}

.CstSelectBox {
  position: relative;
  margin-bottom: 20px;
}

.CstSelectBox.active .FlexBoxTp1 {
  border-radius: 0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  -o-border-radius: 0px;
}

.CstSelectBox.active .OptionBoxWrp {
  display: block;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
}

.CstSelectBox .OptionBoxWrp {
  display: none;
}

.CstSelectBox .FlexBoxTp1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #f5f5f5;
  padding: 13px 13px 13px 21px;
  border-radius: 25px;
  cursor: pointer;
}

.CstSelectBox .FlexBoxTp1 .PaletteColorBox {
  width: 40px;
  flex: 0 0 40px;
  height: 30px;
  background: #000;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}

.CstSelectBox .FlexBoxTp1 .PaletteImgBox {
  width: 20px;
  flex: 0 0 20px;
}

.CstSelectBox .FlexBoxTp1 .PaletteImgBox img {
  width: 18px;
}

.CstSelectBox .FlexBoxTp1 .PaletTextBox {
  font-size: 16px;
  text-align: left;
  padding-left: 10px;
  flex: 1;
}

.CstSelectBox .OptionBoxTp1 .FlexBoxTp1 {
  padding-top: 0px !important;
  border-radius: 0 !important;
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  -ms-border-radius: 0 !important;
  -o-border-radius: 0 !important;
  justify-content: start;
  transition: 1s;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
}

.CstSelectBox .OptionBoxTp1 .FlexBoxTp1 .PaletteColorBox {
  margin: 4px;
}

.CstSelectBox .OptionBoxTp1 .FlexBoxTp1 .PaletteColorBox:first-child {
  margin-left: 0px;
}

.rev_slider * {
  font-family: airbnb_cereal_appbook, open_sanslight, "Century Gothic", Arial, Helvetica, sans-serif !important;
}

.LinkTp101 {
  cursor: pointer;
}

.ItemBoxTp1Lnk {
  color: #050708 !important;
}

.ProductBoxTp1 {
  margin-top: 80px;
}

.HeroLogo {
  max-width: 110px;
}

.featureebox .FeaturedHoverBox:hover .colordots {
  margin: 17px auto 17px auto;
}

.featureebox .FeaturedHoverBox:hover .selectcolor {
  line-height: 40px;
  transition: 1s;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
}

.footer-area {
  border-top: none !important;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.17);
}

.downloads-area .catalouge {
  position: absolute;
  font-size: 80px;
  color: #f6f6f6;
  line-height: 100px;
  top: -34%;
  left: 0;
  font-family: airbnb_cereal_appextra_bold;
}

.downloads-area .downloadsbg {
  position: absolute;
  font-size: 90px;
  color: #f6f6f6;
  line-height: 100px;
  bottom: -37%;
  right: 0;
  text-align: center;
  font-family: airbnb_cereal_appextra_bold;
}

.container.fixedWidth {
  max-width: 1737px !important;
}

.content-area-cart .productbox {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

.content-area-cart .productbox h2 {
  font-size: 20px;
  line-height: 27px;
  margin-bottom: 5px;
  font-family: 'airbnb_cereal_appmedium';
  margin-top: 5px;
  padding: 0;
}

.content-area-cart .productbox .colorbox {
  font-size: 18px;
}

.content-area-cart .productbox .colorbox .newtag img {
  width: 45px;
}

.content-area-cart .productbox .closedbtn {
  right: 20px;
}

.StickyBoxContent {
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}

.StickyBoxContent.is_stuck {
  top: 80px !important;
}

.closeBtn1 {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.closeBtn1 .mdiv {
  cursor: "pointer";
  height: 20px;
  width: 2px;
  margin-left: 12px;
  background-color: #050708;
  transform: rotate(45deg);
  z-index: 1;
}

.closeBtn1 .mdiv .md {
  height: 20px;
  width: 2px;
  background-color: #050708;
  transform: rotate(90deg);
  z-index: 2;
}

.CartLinkTp1 {
  color: #050708 !important;
  font-family: 'airbnb_cereal_appbook';
  font-size: 23px;
  line-height: 1;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}

.CartLinkTp1 i {
  font-size: 40px;
}

.CartLinkTp1:hover {
  color: #33bfb4 !important;
}

.CartLinkTp2 {
  transition: 0.5s;
  border: 2px solid #33bfb4;
  min-width: 250px;
  font-family: 'airbnb_cereal_appbook';
  color: #050708 !important;
  display: inline-block;
  padding: 10px 20px;
  font-size: 21px;
  line-height: 1;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}

.CartLinkTp2:hover {
  background: #33bfb4;
  color: #fff !important;
}

.FixedToNavBottom {
  padding-top: 80px;
}

.transitionBox {
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}

.continue-btn {
  line-height: 50px;
  display: block;
  background: #33bfb4;
  color: #fff;
  font-family: 'airbnb_cereal_appbold';
  font-size: 20px;
  border: 2px solid transparent;
  margin: 15px 0px;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
}

.continue-btn:hover {
  border: 2px solid #33bfb4;
  color: #33bfb4;
  background: #fff;
}

.CartModalBox.modal-dialog {
  max-width: 800px;
}

.CartModalBox .modal-content {
  background-color: transparent;
  border: none;
}

.CartModalBox .modal-content .formarea {
  padding: 0px;
  border: none;
}

.CartModalBox .ImageBoxHeader img {
  max-width: 135px;
}

.CartModalBox .chatbot-area {
  width: 100%;
  max-width: 100%;
  position: relative;
  padding-top: 0;
  margin: 0;
  margin-top: 100px;
  position: relative;
}

.CartModalBox .chatbot-area .chat-inner {
  padding: 0px;
  text-align: center;
}

.CartModalBox .chatbot-area .chat-inner h2 {
  font-size: 45px;
}

.CartModalBox .chatbot-area .chat-inner h3 {
  font-size: 27px;
  line-height: 18px;
  margin-bottom: 34px;
}

.CartModalBox .chatbot-area .chat-inner .chatbox-inner {
  padding: 0px;
  margin-bottom: 120px;
}

.CartModalBox .chatbot-area .chat-inner .chatbox-inner .imgleft {
  margin: 0;
  margin-right: 10px;
}

.CartModalBox .chatbot-area .chat-inner .chatbox-inner .imgleft img {
  max-width: 75px;
}

.CartModalBox .chatbot-area .chat-inner .chatbox-inner .chatleft {
  margin-bottom: 5px;
}

.CartModalBox .chatbot-area .chat-inner .chatbox-inner .chatleft .ctextbox {
  text-align: left;
  font-size: 18px;
  line-height: 26px;
  margin-top: 14px;
  border-radius: 35px;
  position: relative;
}

.CartModalBox .chatbot-area .chat-inner .chatbox-inner .chatleft .ctextbox .PickDateBox {
  color: #33bfb4;
  position: absolute;
  cursor: pointer;
  display: inline-block;
  width: 127px;
  top: 0;
  right: -103px;
}

.CartModalBox .chatbot-area .chat-inner .chatbox-inner .chatleft .ctextbox .PickDateBox img {
  height: 45px;
}

.CartModalBox .chatbot-area .chat-inner .chatbox-inner .chatright {
  margin-bottom: 10px;
}

.CartModalBox .chatbot-area .chat-inner .chatbox-inner .chatright .ctextbox {
  text-align: left;
  font-size: 18px;
  line-height: 26px;
  margin-top: 5px;
  border-radius: 35px;
}

.CartModalBox .chatbot-area .chat-inner .chatbox-inner .chatright .ChatRightInputBox input {
  background: #33bfb4;
  font-size: 18px;
  min-width: 300px;
  line-height: 26px;
  margin-top: 15px;
  border-radius: 35px;
  padding: 10px 15px;
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
  color: #fff;
  font-family: 'airbnb_cereal_appbook';
}

.CartModalBox .chatbot-area .chat-inner .chatbox-inner .chatright .ChatRightInputBox input::placeholder {
  color: #fff;
  opacity: 1;
}

.CartModalBox .chatbot-area .chat-inner .chatbox-inner .chatright .ChatRightInputBox input:-ms-input-placeholder {
  color: #fff;
}

.CartModalBox .chatbot-area .chat-inner .chatbox-inner .chatright .ChatRightInputBox input::-ms-input-placeholder {
  color: #fff;
}

.CartModalBox .chatbot-area .chat-inner .chatbox-inner .bchatboxx {
  background: #f6f6f6;
  padding: 30px;
  box-sizing: border-box;
  color: #000;
  text-align: left;
  font-size: 20px;
  font-family: 'airbnb_cereal_appbook';
  line-height: 32px;
  margin: 0px;
  display: table;
  border-top-left-radius: 0;
  border-top-right-radius: 0px;
  border-top: 1px solid #e4e4e4;
  width: 100%;
}

.CartModalBox .chatbot-area .chat-inner .chatbox-inner .bchatboxx .InputBoxTp1 {
  background: #fff;
  position: relative;
}

.CartModalBox .chatbot-area .chat-inner .chatbox-inner .bchatboxx .InputBoxTp1 input {
  width: 100%;
  background: #fff;
  color: #000;
  text-align: left;
  font-size: 18px;
  line-height: 26px;
  font-family: 'airbnb_cereal_appbook';
  border-radius: 35px;
  -webkit-border-radius: 35px;
  -moz-border-radius: 35px;
  -ms-border-radius: 35px;
  -o-border-radius: 35px;
  padding: 10px 45px 10px 15px;
}

.CartModalBox .chatbot-area .chat-inner .chatbox-inner .bchatboxx .InputBoxTp1 .SubmitBtn1 {
  position: absolute;
  top: 5px;
  right: 7px;
  outline: none;
  border: none;
  background: none;
}

.CartModalBox .chatbot-area .chat-inner .chatbox-inner .bchatboxx .InputBoxTp1 .SubmitBtn1 img {
  width: 40px;
}

.CartModalBox .chatbot-area .closeBtn1 {
  position: absolute;
  top: 25px;
  right: 25px;
  z-index: 999;
  width: 25px;
  height: 25px;
}

.CartModalBox .chatbot-area .closeBtn1 .mdiv {
  height: 25px;
}

.CartModalBox .chatbot-area .closeBtn1 .mdiv .md {
  height: 25px;
}

.CartModalBox .FigureBoxTp1 img {
  max-width: 150px;
  margin-top: -70px;
}

.GalleryPage .content-area {
  padding: 60px 0;
}

.GalleryPage .gallery-area {
  padding-left: 5px;
}

.GalleryPage .gallery-area .container-fluid {
  padding: 0 !important;
  margin: 0 !important;
}

.GalleryPage .gallery-area .container-fluid .row {
  padding: 0 !important;
  margin: 0 !important;
}

.GalleryPage .gallery-area .container-fluid .row [class*="col-"] {
  padding: 0 !important;
  margin: 0 !important;
  padding-right: 5px !important;
}

.GalleryPage .gallery-area .container-fluid .row [class*="col-"] figure {
  padding: 0 !important;
  margin: 0 !important;
}

.GalleryPage .gallery-area .container-fluid .row [class*="col-"] figure img {
  margin-bottom: 5px;
}

.ShowMoreImageLink {
  font-family: 'airbnb_cereal_appmedium';
  font-family: 18px;
  line-height: 45px;
  padding: 10px 25px;
  text-align: center;
  min-width: 260px;
  border: 2px solid #33bfb4;
  border-radius: 35px;
  -webkit-border-radius: 35px;
  -moz-border-radius: 35px;
  -ms-border-radius: 35px;
  -o-border-radius: 35px;
  transition: 1s;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
  color: #050708;
}

.ShowMoreImageLink:hover {
  color: #fff;
  background: #33bfb4;
}

.ShowMoreImageBox {
  padding: 50px !important;
}

.AboutUsPage p {
  font-family: 'Airbnb Cereal App Light';
  font-size: 19px;
  line-height: 22px;
}

.AboutUsPage .history-area {
  line-height: 28px;
  font-size: 19px;
  padding-top: 80px;
  min-height: 690px;
}

.AboutUsPage .history-area h2 {
  font-family: 'airbnb_cereal_appbold';
}

.AboutUsPage .history-area h3 {
  font-family: 'airbnb_cereal_appmedium';
  font-size: 38px;
  line-height: 72px;
}

.AboutUsPage .qc-area figure {
  display: flex;
  width: 100%;
  height: 100%;
}

.AboutUsPage .qc-area h2 {
  font-family: 'airbnb_cereal_appbold';
  font-size: 76px;
  line-height: 76px;
}

.AboutUsPage .qc-area h3 {
  font-family: 'airbnb_cereal_appmedium';
  font-size: 38px;
  line-height: 43px;
  margin-bottom: 20px;
}

.AboutUsPage .deliverytracking-area {
  padding-top: 0;
  padding-bottom: 0;
}

.AboutUsPage .deliverytracking-area .deliveryl {
  position: relative;
  top: auto;
  left: auto;
}

.AboutUsPage .DeliveryTrackinBoxTp1 {
  background: #f6f6f6;
  padding: 50px 50px 0px 50px;
  margin-top: -21px;
}

.AboutUsPage .DeliveryTrackinBoxTp1 ul li {
  font-size: 18px;
}

.AboutUsPage .DeliveryTrackinBoxTp1 h2 {
  font-family: 'airbnb_cereal_appbold';
  font-size: 76px;
  line-height: 76px;
}

.AboutUsPage .DeliveryTrackinBoxTp1 h3 {
  font-family: 'airbnb_cereal_appmedium';
  font-size: 38px;
  line-height: 43px;
}

.AboutUsPage .DeliveryTrackinBoxTp1 figure {
  display: flex;
  height: 100%;
  width: 100%;
}

.AboutUsPage .aboutdetail-area {
  padding: 70px 0px;
}

.AboutUsPage .aboutdetail-area h2 {
  font-family: 'airbnb_cereal_appbold';
  font-size: 76px;
  line-height: 76px;
}

.AboutUsPage .aboutdetail-area h3 {
  font-family: 'airbnb_cereal_appmedium';
  font-size: 38px;
  line-height: 43px;
  margin-bottom: 20px;
}

.AboutUsPage .aboutteam-area h2 {
  font-family: 'airbnb_cereal_appbold';
  font-size: 76px;
  line-height: 76px;
}

.AboutUsPage .aboutteam-area h3 {
  font-family: 'airbnb_cereal_appmedium';
  font-size: 38px;
  line-height: 43px;
  margin-bottom: 20px;
}

.AboutUsPage .wharehose-area {
  margin-top: 70px;
  margin-bottom: 70px;
}

.AboutUsPage .wharehose-area h2 {
  font-family: 'airbnb_cereal_appbold';
  font-size: 76px;
  line-height: 76px;
}

.AboutUsPage .wharehose-area h3 {
  font-family: 'airbnb_cereal_appmedium';
  font-size: 38px;
  line-height: 43px;
  margin-bottom: 20px;
}

.FaqBoxTp1 .content-area {
  padding: 160px 0 70px 0px;
}

.FaqBoxTp1 .content-area h1 {
  font-size: 55px;
  line-height: 66px;
  font-family: 'airbnb_cereal_appbold';
}

.FaqBoxTp1 .content-area h3 {
  font-family: 'airbnb_cereal_appmedium';
  font-size: 38px;
  line-height: 43px;
}

.FaqBoxTp1 .accordion .card {
  border: none;
}

.FaqBoxTp1 .accordion .card .card-header {
  margin: 0px !important;
  border: none !important;
  border-bottom: 2px solid #fff !important;
}

.FaqBoxTp1 .accordion .card .card-body {
  border: none !important;
  font-family: 'airbnb_cereal_appbook' !important;
  font-size: 19px !important;
  padding: 20px 0px !important;
}

.FaqBoxTp1 .accordion .card .btn-link {
  padding: 15px 0px !important;
  font-family: 'airbnb_cereal_appmedium' !important;
}

.FaqBoxTp1 .accordion .card .btn-link.collapsed .faqArrowIcon {
  display: block;
}

.FaqBoxTp1 .accordion .card .btn-link .faqArrowIcon {
  position: absolute;
  right: 30px;
  top: 23px;
  width: 17px !important;
  height: 30px;
  display: none;
}

.FaqBoxTp1 .accordion .card .btn-link .fa.main {
  right: 30px !important;
  top: 16px !important;
}

.FaqBoxTp1 .accordion .card .btn-link .fa.main.closeBtn1 {
  width: 30px;
  height: 30px;
}

.FaqBoxTp1 .accordion .card .btn-link .fa.main.closeBtn1 .mdiv {
  height: 30px;
  background-color: #33bfb4;
}

.FaqBoxTp1 .accordion .card .btn-link .fa.main.closeBtn1 .mdiv .md {
  height: 30px;
  background-color: #33bfb4;
}

#ProductDetailModal .modal-content {
  border: none !important;
}

#ProductDetailModal .ProductDetailModalBox {
  margin: auto auto;
}

.fixedPaddingTop {
  padding-top: 80px !important;
}

.contactUsWrpBox .contact-area {
  padding: 80px 0px 0px 0px;
  border-bottom: solid 2px #dadada;
}

.contactUsWrpBox .contact-area h2 {
  font-size: 55px;
  line-height: 66px;
  font-family: 'airbnb_cereal_appbold';
}

.contactUsWrpBox .contact-area .SubTitleTp1 {
  font-family: 'airbnb_cereal_appmedium';
  font-size: 38px;
  line-height: 43px;
  margin-bottom: 60px;
}

.contactUsWrpBox .contact-area .address-area {
  padding-bottom: 60px;
  border: none !important;
}

.contactUsWrpBox .contact-area .address-area h3 {
  font-family: 'airbnb_cereal_appbold';
  font-size: 25px;
}

.contactUsWrpBox .contact-area .address-area h4 {
  font-family: 'airbnb_cereal_appbold';
  font-size: 25px;
}

.contactUsWrpBox .contact-area .address-area p {
  font-size: 23px;
  line-height: 33px;
}

.contactUsWrpBox .maparea .FixedHeightRow100 {
  height: 100px;
  display: flex;
  align-items: center;
}

.contactUsWrpBox .maparea .FixedHeightRow100 h3 {
  font-family: 'airbnb_cereal_appbold';
  font-size: 35px;
}

.contactUsWrpBox .maparea .FixedHeightRow100 h4 {
  line-height: 35px;
}

.contactUsWrpBox .maparea .nav-tabs {
  border: none !important;
}

.contactUsWrpBox .maparea .nav-tabs .nav-item {
  border: none !important;
}

.contactUsWrpBox .maparea .nav-tabs .nav-item:first-child .nav-link:after {
  content: "";
  width: 2px;
  height: 18px;
  background: #3d3d3d;
  position: absolute;
  top: 50%;
  right: 0;
  margin-top: -9px;
}

.contactUsWrpBox .maparea .nav-tabs .nav-item .nav-link {
  border: none !important;
  position: relative;
  min-width: 150px;
  text-align: center;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}

.contactUsWrpBox .maparea .nav-tabs .nav-item .nav-link:hover {
  background: #33bfb4;
  color: #050708 !important;
}

.contactUsWrpBox .maparea .nav-tabs .nav-item .nav-link.active span {
  display: inline-block;
}

.contactUsWrpBox .maparea .nav-tabs .nav-item .nav-link span {
  padding-left: 15px;
  display: none;
}

.contactUsWrpBox .maparea .nav-tabs .nav-item .nav-link span img {
  width: 20px;
  height: 10px;
}

.TermsAndConditionBox .content-area {
  padding: 90px 0;
}

.TermsAndConditionBox .termsconditons h1 {
  font-size: 55px;
  line-height: 66px;
  font-family: 'airbnb_cereal_appbold';
}

.TermsAndConditionBox .termsconditons h3 {
  font-family: 'airbnb_cereal_appmedium';
  font-size: 38px;
  line-height: 35px;
  margin-bottom: 60px;
}

.TermsAndConditionBox .termsconditons h2 {
  font-size: 38px;
  line-height: 35px;
  font-family: 'airbnb_cereal_appbold';
}

.TermsAndConditionBox .termsconditons p {
  font-size: 25px;
  line-height: 40px;
}

.TermsAndConditionBox .termsconditons ul li {
  font-size: 25px;
  line-height: 40px;
  margin-bottom: 30px;
}

.featureebox {
  text-align: center;
}

.GetCatalougBox .downloadpopup input {
  padding: 14px 49px;
  background: #f5f5f5;
  line-height: 39px;
  border: none;
  border-radius: 75px;
  color: #505050;
  font-size: 23px;
  font-family: 'airbnb_cereal_appbook';
  width: 100%;
  max-width: 670px;
  margin-bottom: 20px;
}

.GetCatalougBox .downloadpopup .navLinkTp103 {
  max-width: 670px;
  display: block;
  text-align: center;
  background: #33bfb4;
  color: #fff;
  padding: 10px 60px;
  line-height: 44px;
  border: none;
  border-radius: 75px;
  font-size: 23px;
  font-family: 'airbnb_cereal_appbook';
  width: 100%;
  max-width: 670px;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  text-transform: capitalize;
}

.GetCatalougBox .downloadpopup .navLinkTp103:hover {
  background: #050708;
}

.GetCatalougBox .downloadpopup ul li {
  padding-left: 53px;
  font-size: 27px;
  line-height: 44px;
  font-family: 'airbnb_cereal_appbook';
  background-size: 35px 35px;
  margin-bottom: 20px;
}

.GetCatalougBox .formarea h3 {
  font-family: 'airbnb_cereal_appmedium';
  font-size: 35px;
  line-height: 36px;
}

.GetCatalougBox .formarea h2 {
  font-family: 'airbnb_cereal_appmedium';
  font-size: 46px;
  line-height: 37px;
  margin-bottom: 45px;
}

.downloadpopup {
  margin: 50px auto;
  max-width: 550px;
}

.formarea {
  padding-top: 30px;
  padding-bottom: 30px;
}

.MobOnly {
  display: none;
}

.FeaturedHoverBox figure img.lazy {
  margin: 0 auto;
  transition: 0.5s;
  height: 192px;
  object-fit: contain;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}

.downloads-area ul li {
  background-size: 12px 16px;
}

.HorizontalSwiperBox {
  overflow-x: auto;
}

.HorizontalSwiperBox .HorizontalSwiperBoxContainer {
  white-space: nowrap;
  overflow-y: hidden;
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
  margin-bottom: -15px;
  padding-bottom: 15px;
}

.HorizontalSwiperBox .HorizontalSwiperBoxContainer::-webkit-scrollbar {
  display: none;
}

.HorizontalSwiperBox .HorizontalSwiperBoxContainer .BoxContainer {
  display: inline-block;
  margin-right: 5px;
}

.grid-icon {
  display: inline-block;
  margin: 2vw;
}

.grid-icon .layer {
  width: 100%;
  position: absolute;
  left: 0;
}

.grid-icon--line {
  position: relative;
  width: 28px;
  height: 28px;
  margin-bottom: 0px !important;
}

.grid-icon--line .layer {
  height: 8px;
}

.grid-icon--line .layer span {
  position: absolute;
  display: block;
  width: 8px;
  height: 100%;
  box-sizing: border-box;
  border: solid 2px #33bfb4;
}

.grid-icon--line .layer span:first-child {
  left: 0;
}

.grid-icon--line .layer span:nth-child(2) {
  left: 50%;
  margin-left: -4px;
}

.grid-icon--line .layer span:last-child {
  right: 0;
}

.grid-icon--line .layer--primary {
  top: 0;
}

.grid-icon--line .layer--secondary {
  top: 50%;
  margin-top: -4px;
}

.grid-icon--line .layer--tertiary {
  bottom: 0;
}

.MobileLinkTp101 i {
  display: none;
}

.HeroLogo.fixedHeight {
  position: relative;
  top: auto;
  left: auto;
  display: inline-block;
  width: 71px;
  height: auto;
  z-index: 99;
}

.BXtpHeaderTp1 {
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}

.MobileSideNav {
  overflow-x: hidden !important;
  overflow-y: auto !important;
}

@media only screen and (max-width: 768px) {
  .MobOnly {
    display: block;
  }
  .MobileHeader {
    z-index: 999;
  }
  .MobileHeaderContent {
    padding: 6px 8px;
    text-align: center;
  }
  .MobileHeaderContent .MobileHeroLogo {
    width: 56px;
    position: relative;
    top: auto;
  }
  .MobileHeaderContent .FixedBoxTp1 {
    text-align: left;
  }
  .slider-area .single-slider {
    height: 250px;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .slider-area .single-slider h2 {
    font-size: 25px;
  }
  .slider-area .slider-active.owl-carousel .owl-nav div {
    display: none;
  }
  .BoxTpArrival {
    background: #e9e9e9;
    padding: 0px;
    margin-top: 0px !important;
  }
  .BoxTpArrival .container {
    padding: 0 !important;
  }
  .BoxTpArrival .col-12 {
    padding: 0px !important;
  }
  .BoxTpArrival .newArrivalSlider .owl-item {
    background: #e9e9e9;
    padding: 5px 5px 5px 0px;
  }
  .BoxTpArrival .newArrivalSlider .owl-item img {
    height: 150px;
    object-fit: contain;
  }
  .BoxTpArrival .newArrivalSlider .slidebox {
    margin-bottom: 0px;
    margin-top: 0px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    padding: 10px;
    background: #fff;
  }
  .BoxTpArrival .newArrivalSlider .slidebox h4 {
    font-size: 16px;
  }
  .BoxTpArrival .newArrivalSlider .slidebox p {
    font-size: 15px;
  }
  .BoxTpArrival .BxTpItm1 {
    display: none;
  }
  .MobileTxtTp1 {
    color: #33bfb4;
    font-size: 17px;
    line-height: 1;
    font-family: airbnb_cereal_appmedium;
    text-align: left;
    padding-left: 5px;
    background: #e9e9e9;
    padding: 13px 0px 13px 5px;
  }
  .MobileTxtTp1 a {
    float: right;
    color: #3d3d3d;
    font-size: 16px;
    padding-right: 8px;
    padding-top: 0px;
  }
  .SwipingBoxTp1 {
    padding: 5px 0px 5px 5px;
    background: #fff;
  }
  .SwipingBoxTp1.is_stuck {
    top: 68px !important;
    background: #33bfb4 !important;
    z-index: 88;
    padding: 8px 0px 8px 5px;
  }
  .SwipingBoxTp1.is_stuck .MobLinkTp1 {
    background: #33bfb4 !important;
  }
  .SwipingBoxTp1.is_stuck .grid-icon {
    display: none !important;
  }
  .SwipingBoxTp1 .MobLinkTp1 {
    background: #fff;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    padding: 5px 10px;
    text-align: center;
    display: block;
    font-family: airbnb_cereal_appmedium;
    color: #050708 !important;
    font-size: 14px;
  }
  .MobileArrangeBxTp1 .mobileBgWhite {
    background: #fff;
  }
  .about-area .caption-area h3 {
    font-size: 24px;
  }
  .about-area .caption-area h2 {
    font-size: 24px;
  }
  .about-area .caption-area .showmebtn {
    max-width: 110px;
  }
  .HomeDownloadArea.downloads-area .container {
    padding: 0px 5px;
  }
  .HomeDownloadArea.downloads-area h2 {
    font-size: 22px;
    line-height: 40px;
  }
  .HomeDownloadArea.downloads-area ul li {
    background-size: 8px 15px;
    margin-bottom: 15px;
    padding-left: 18px;
    font-size: 14px;
  }
  .HomeDownloadArea.downloads-area .dl-btn {
    margin: 16px auto;
    max-width: 140px;
  }
  .HomeDownloadArea.downloads-area .catalouge {
    top: auto;
    left: auto;
    position: relative;
    line-height: 1;
    font-size: 36px;
    margin-bottom: 10px;
  }
  .HomeDownloadArea.downloads-area figure {
    margin-bottom: 8px;
  }
  .range-area {
    min-height: 250px;
  }
  .range-area .caption-area h3 {
    font-size: 22px;
  }
  .range-area .caption-area h2 {
    font-size: 22px;
  }
  .range-area .caption-area .vrangebtn {
    max-width: 135px;
  }
  .HomeDeliveryTrackingArea.deliverytracking-area {
    padding-top: 0px;
  }
  .HomeDeliveryTrackingArea.deliverytracking-area .deliveryl {
    font-size: 36px !important;
    margin-bottom: 10px;
    position: relative;
    top: auto;
    left: auto;
  }
  .HomeDeliveryTrackingArea.deliverytracking-area h3 {
    font-family: airbnb_cereal_appmedium;
    font-size: 22px;
  }
  .HomeDeliveryTrackingArea.deliverytracking-area h2 {
    font-family: airbnb_cereal_appmedium;
    font-size: 22px;
  }
  .HomeDeliveryTrackingArea.deliverytracking-area ul {
    margin: 20px 0;
  }
  .HomeDeliveryTrackingArea.deliverytracking-area ul li {
    background-size: 8px 15px;
    margin-bottom: 15px;
    padding-left: 18px;
    font-size: 14px;
  }
  .HomeDeliveryTrackingArea.deliverytracking-area .partner-btn {
    max-width: 174px;
    font-size: 12px;
    padding: 8px;
  }
  .HomeDeliveryTrackingArea.deliverytracking-area .tranckingc {
    font-size: 48px;
    text-align: right;
  }
  .bookameeting {
    min-height: 250px;
  }
  .bookameeting .caption-area h3 {
    font-size: 22px;
  }
  .bookameeting .caption-area h2 {
    font-size: 23px;
  }
  .bookameeting .caption-area .vrangebtn {
    max-width: 135px;
    line-height: 1.9;
  }
  .bookameeting .caption-area .bookameeting-btn {
    max-width: 192px;
  }
  .footer-area {
    padding: 0px 0;
  }
  .footer-area h2.MobileLinkTp101 {
    border-left: none;
    border-bottom: 1px solid #33bfb4;
    line-height: 54px;
    font-family: airbnb_cereal_appmedium;
    font-size: 18px;
    margin-bottom: 0px;
  }
  .footer-area h2.MobileLinkTp101.active .MinusIcon1 {
    display: inline-block;
  }
  .footer-area h2.MobileLinkTp101.active .PlusIcon1 {
    display: none;
  }
  .footer-area h2.MobileLinkTp101 i {
    float: right;
    font-size: 19px;
    padding-top: 20px;
    display: inline-block;
  }
  .footer-area h2.MobileLinkTp101 .MinusIcon1 {
    display: none;
  }
  .footer-area .MobileBoxTp101 {
    margin-bottom: 10px !important;
    margin-top: 20px !important;
    display: none;
  }
  .StickyBoxContent {
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
  }
  .StickyBoxContent.is_stuck {
    top: 68px !important;
  }
  .StickyBoxContent.is_stuck .StickyNavBox {
    padding: 12px 10px;
  }
  .StickyBoxContent .StickyNavBox {
    white-space: nowrap;
    overflow-y: hidden;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    display: block !important;
    min-height: auto;
    padding: 15px 10px;
    background: #fff;
  }
  .StickyBoxContent .StickyNavBox::-webkit-scrollbar {
    display: none;
  }
  .StickyBoxContent .StickyNavBox a {
    display: inline-block;
    font-family: airbnb_cereal_appmedium;
    padding: 0px 10px;
  }
  .StickyBoxContent .StickyNavBox a:first-child {
    padding-left: 0px;
  }
  .ContentBlockTp1.gallery-area {
    padding-top: 0px;
    background: #e9e9e9;
  }
  .ContentBlockTp1.gallery-area .container-fluid {
    padding: 0px;
  }
  .ContentBlockTp1.gallery-area .container-fluid .row {
    margin: 0px;
  }
  .ContentBlockTp1.gallery-area .container-fluid .row.HorizontalSliderActive {
    border-bottom: none !important;
    white-space: nowrap;
    overflow-y: hidden;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    display: block !important;
    margin-bottom: -15px;
    padding-bottom: 15px;
  }
  .ContentBlockTp1.gallery-area .container-fluid .row.HorizontalSliderActive::-webkit-scrollbar {
    display: none;
    color: #fff;
  }
  .ContentBlockTp1.gallery-area .container-fluid .row.HorizontalSliderActive .col-6 {
    display: inline-block;
    width: 160px;
    padding: 0 !important;
    padding-right: 2px !important;
  }
  .ContentBlockTp1.gallery-area .container-fluid .row.HorizontalSliderActive .col-6 h2 {
    white-space: normal;
  }
  .ContentBlockTp1.gallery-area .container-fluid .row .col-6 {
    padding: 0px 5px;
  }
  .ContentBlockTp1.gallery-area .container-fluid .row .col-6:nth-child(odd) {
    padding-right: 0px;
  }
  .ContentBlockTp1.gallery-area .arrivaldate {
    float: none;
    min-width: 100%;
    position: relative;
    padding-left: 83px;
    font-size: 17px;
    text-transform: uppercase;
    line-height: 25px;
    color: #000;
    font-family: airbnb_cereal_appbold;
    padding-bottom: 10px;
    padding-top: 10px;
    margin-bottom: 0;
    background: #e9e9e9;
  }
  .ContentBlockTp1.gallery-area .arrivaldate::before {
    width: 70px;
    height: 4px;
    top: 20px;
  }
  .ContentBlockTp1.gallery-area .olddate {
    float: none;
    min-width: 100%;
    position: relative;
    padding-left: 120px;
    font-size: 17px;
    text-transform: uppercase;
    line-height: 25px;
    color: #000;
    font-family: airbnb_cereal_appbold;
    margin-bottom: 5px;
    margin-top: 0;
    background: #e9e9e9;
    padding: 10px 0px;
    padding-left: 80px;
  }
  .ContentBlockTp1.gallery-area .olddate::before {
    width: 70px;
    height: 4px;
    top: 19px;
    background: #33bfb4;
  }
  .ContentBlockTp1.gallery-area .featureebox {
    height: auto;
    width: 100%;
    max-width: 370px;
    display: block;
    margin: 0 auto 5px auto;
    padding: 13px 8px;
    background: #fff;
    border-radius: 3px;
  }
  .ContentBlockTp1.gallery-area .featureebox .colorbox {
    font-size: 13px;
    line-height: 1;
  }
  .ContentBlockTp1.gallery-area .featureebox .colorbox .newtag {
    font-size: 14px;
    width: 28px;
  }
  .ContentBlockTp1.gallery-area .featureebox .colorbox .newtag img {
    width: 25px;
    margin: 0;
    margin-top: -8px;
  }
  .FeaturedHoverBox figure img.lazy {
    height: 151px;
    padding: 5px 15px 5px 15px;
  }
  .ArrowMiddle .owl-prev {
    left: 15px;
    background: #e9e9e9;
    padding: 10px;
    padding-top: 16px;
    border-radius: 3px;
  }
  .ArrowMiddle .owl-next {
    left: auto;
    right: 15px;
    background: #e9e9e9;
    padding: 10px;
    padding-top: 16px;
    border-radius: 3px;
  }
  .HomeSubSliderTp1 h2 {
    margin: 0;
    padding: 0;
    text-align: center;
    color: #000;
    text-transform: uppercase;
    font-family: airbnb_cereal_appmedium;
    line-height: 19px;
    margin-bottom: 6px;
    white-space: normal;
    font-size: 15px;
  }
  .DesktopOnly {
    display: none !important;
  }
  .ProductDetailModalBox {
    width: 100%;
    margin: 0;
    padding: 0px;
  }
  .ProductDetailModalBox .container {
    padding: 0px;
  }
  .ProductDetailModalBox .container .card {
    padding: 10px;
  }
  .ProductDetailModalBox .container .card .breadcrumb {
    margin: 0px;
  }
  .ProductDetailModalBox .container .card .breadcrumb li {
    font-size: 15px !important;
  }
  .ProductDetailModalBox .container .card h3 {
    font-size: 22px;
    margin-bottom: 10px;
  }
  .ProductDetailModalBox .container .card h4 {
    line-height: 33px;
    margin-bottom: 1px !important;
    font-size: 18px !important;
  }
  .ProductDetailModalBox .moreproduct {
    padding: 10px;
  }
  .ProductDetailModalBox .moreproduct h2 {
    margin: 10px 0 10px 0;
    font-size: 20px;
  }
  .ProductDetailModalBox .selectionbox {
    font-size: 18px;
  }
  .ProductDetailModalBox .colorbox {
    font-size: 18px;
  }
  .ProductDetailModalBox .moreproduct .container-fluid {
    padding: 0px;
  }
  .ProductDetailModalBox .moreproduct .container-fluid .ProductBoxTp1 .ArrowMiddle .owl-next {
    right: -10px;
  }
  .ProductDetailModalBox .moreproduct .container-fluid .ProductBoxTp1 .ArrowMiddle .owl-prev {
    left: -10px;
  }
  .GalleryPage {
    background: #e9e9e9;
  }
  .GalleryPage .content-area {
    padding: 15px 0;
    font-size: 16px;
    line-height: 1.6;
  }
  .GalleryPage .gallery-area .container-fluid .row [class*="col-"] {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
    padding-right: 2px !important;
  }
  .GalleryPage .gallery-area .container-fluid .row [class*="col-"]:nth-child(5n+1) {
    -ms-flex: 0 0 66.666666%;
    flex: 0 0 66.666666%;
    max-width: 66.666666%;
  }
  .GalleryPage .gallery-area .container-fluid .row [class*="col-"] figure {
    margin: 0px;
  }
  .GalleryPage .gallery-area .container-fluid .row [class*="col-"] figure img {
    margin: 0;
    margin-bottom: 2px;
    height: 150px;
    width: 100%;
    object-fit: cover;
  }
  .GalleryPage .ShowMoreImageBox {
    padding: 20px !important;
  }
  .GalleryPage .ShowMoreImageBox .ShowMoreImageLink {
    font-size: 15px;
    line-height: 18px;
    padding: 6px 25px;
  }
  .fancybox-title-inside-wrap h1 {
    font-size: 23px;
    line-height: 30px;
    margin-bottom: 3px;
  }
  .FaqBoxTp1 .content-area {
    padding: 75px 0 0px 0px;
    background: #e9e9e9;
  }
  .FaqBoxTp1 .content-area h1 {
    font-size: 22px;
    line-height: 1;
    text-align: center;
  }
  .FaqBoxTp1 .content-area h3 {
    font-size: 17px;
    line-height: 25px;
    text-align: center;
  }
  #accordion-style-1 {
    margin: 0px !important;
  }
  #accordion-style-1 .btn-link {
    padding: 8px 35px 8px 15px !important;
    font-size: 16px;
    white-space: normal;
    background: #e9e9e9;
    line-height: 1.3;
  }
  #accordion-style-1 .btn-link .faqArrowIcon {
    position: absolute;
    right: 10px;
    top: 9px;
    width: 10px !important;
    height: 20px;
  }
  #accordion-style-1 .btn-link .fa.main.closeBtn1 {
    width: 20px;
    right: 18px !important;
    top: 5px !important;
    height: 20px;
  }
  #accordion-style-1 .btn-link .fa.main.closeBtn1 .mdiv {
    height: 20px;
  }
  #accordion-style-1 .btn-link .fa.main.closeBtn1 .mdiv .md {
    height: 20px;
  }
  #accordion-style-1 .card-header {
    padding: 0px;
  }
  #accordion-style-1 .card-header .container {
    padding: 0px;
  }
  #accordion-style-1 .card-body {
    font-size: 17px !important;
    line-height: 24px;
  }
  #accordion-style-1 .card-body a {
    font-size: 16px !important;
  }
  .bookameeting .caption-area h3 {
    line-height: 1;
  }
  .bookameeting .caption-area h2 {
    line-height: 2;
  }
  .contactUsWrpBox {
    background: #e9e9e9;
  }
  .contactUsWrpBox .contact-area {
    padding: 0px !important;
  }
  .contactUsWrpBox .contact-area h2 {
    font-size: 25px;
    line-height: 1;
    text-align: center;
    margin: 0;
  }
  .contactUsWrpBox .contact-area .SubTitleTp1 {
    font-size: 19px;
    line-height: 25px;
    text-align: center;
    margin-bottom: 20px;
  }
  .contactUsWrpBox .address-area {
    padding: 0px !important;
    margin: 0px !important;
  }
  .contactUsWrpBox .address-area .row .col-12 {
    padding: 15px !important;
    background: #fff;
    margin-bottom: 10px !important;
    border-radius: 5px;
  }
  .contactUsWrpBox .address-area .row .col-12 p {
    margin: 0px;
    padding: 0px;
    font-size: 19px;
    line-height: 1.6;
  }
  .contactUsWrpBox .address-area .row .col-12 * {
    text-align: center;
  }
  .contactUsWrpBox .address-area .row .col-12 h3 {
    font-size: 19px;
  }
  .contactUsWrpBox .address-area .row .col-12 h4 {
    font-size: 21px;
  }
  .contactUsWrpBox .maparea {
    padding: 15px 0px 0px 0px;
    background: #fff;
  }
  .contactUsWrpBox .maparea .FixedHeightRow100 h3 {
    font-size: 21px;
  }
  .contactUsWrpBox .maparea .FixedHeightRow100 h4 {
    font-size: 21px;
    float: right;
  }
  .contactUsWrpBox .maparea ul {
    float: none;
  }
  .contactUsWrpBox .maparea ul li {
    width: 50%;
  }
  .contactUsWrpBox .maparea ul li a {
    padding: 15px;
  }
  .contactUsWrpBox .maparea ul li a:after {
    display: none !important;
  }
  .contactUsWrpBox .tab-content {
    margin-top: -3px;
  }
  .footer-area h2.MobileLinkTp101 {
    min-height: 50px;
    line-height: 60px;
    font-size: 16px;
  }
  .AboutUsPage .history-area {
    padding-top: 25px;
    min-height: 500px;
  }
  .AboutUsPage .history-area h2 {
    font-size: 24px;
    line-height: 1.4;
    text-align: center;
  }
  .AboutUsPage .history-area h2 br {
    display: none;
  }
  .AboutUsPage .history-area h3 {
    font-size: 26px;
    line-height: 1;
    text-align: center;
    margin: 5px 0px 17px 0px;
  }
  .AboutUsPage .history-area p {
    font-size: 19px;
    line-height: 24px;
    margin: 0 !important;
    padding: 0 !important;
  }
  .AboutUsPage .qc-area {
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .AboutUsPage .qc-area .nogrid-left {
    padding: 0px !important;
  }
  .AboutUsPage .qc-area .nogrid-left img {
    margin: 0px auto;
  }
  .AboutUsPage .qc-area h2 {
    font-size: 26px;
    line-height: 1;
    text-align: center;
    padding: 20px 0px 3px 0px;
  }
  .AboutUsPage .qc-area h2 br {
    display: none;
  }
  .AboutUsPage .qc-area h3 {
    font-size: 25px;
    line-height: 1;
    text-align: center;
    margin: 5px 0px 17px 0px;
  }
  .AboutUsPage .qc-area p {
    font-size: 19px;
    line-height: 24px;
    margin: 0 !important;
    padding: 0 !important;
  }
  .AboutUsPage .deliverytracking-area .deliveryl {
    padding: 15px 0px;
    font-size: 45px;
  }
  .AboutUsPage .deliverytracking-area .DeliveryTrackinBoxTp1 {
    padding: 25px 15px 0px 15px;
    margin-top: -21px;
  }
  .AboutUsPage .deliverytracking-area .DeliveryTrackinBoxTp1 h3 {
    font-size: 26px;
    line-height: 1;
    text-align: center;
    padding: 5px 0px 3px 0px;
    font-family: 'airbnb_cereal_appbold';
  }
  .AboutUsPage .deliverytracking-area .DeliveryTrackinBoxTp1 h2 {
    font-size: 26px;
    line-height: 1;
    text-align: center;
    margin: 5px 0px 17px 0px;
    font-family: 'airbnb_cereal_appmedium';
  }
  .AboutUsPage .deliverytracking-area .DeliveryTrackinBoxTp1 h2 br {
    display: none;
  }
  .AboutUsPage .deliverytracking-area .DeliveryTrackinBoxTp1 ul {
    margin: 10px 0;
    text-align: center;
  }
  .AboutUsPage .deliverytracking-area .DeliveryTrackinBoxTp1 ul li {
    font-size: 16px;
    display: inline-block;
    min-width: 74%;
    text-align: left;
    padding-left: 24px;
    background-size: 12px 15px;
  }
  .AboutUsPage .deliverytracking-area .DeliveryTrackinBoxTp1 p {
    text-align: center;
    font-size: 18px;
    line-height: 22px;
  }
  .AboutUsPage .deliverytracking-area .DeliveryTrackinBoxTp1 .partner-btn {
    max-width: 185px;
    margin: 0 auto;
    padding: 10px 17px;
  }
  .AboutUsPage .deliverytracking-area .DeliveryTrackinBoxTp1 figure img {
    max-width: 80%;
    margin: 0 auto;
  }
  .AboutUsPage .aboutdetail-area {
    padding: 30px 0px 0px 0px;
  }
  .AboutUsPage .aboutdetail-area h2 {
    font-size: 26px;
    line-height: 1;
    text-align: center;
    padding: 5px 0px 3px 0px;
    font-family: 'airbnb_cereal_appbold';
  }
  .AboutUsPage .aboutdetail-area h3 {
    font-size: 25px;
    line-height: 1;
    text-align: center;
    padding: 0;
    margin: 5px 0px 17px 0px;
  }
  .AboutUsPage .aboutdetail-area p {
    font-size: 19px;
    line-height: 24px;
    margin: 0 !important;
    padding: 0px 10px !important;
  }
  .AboutUsPage .aboutdetail-area .container-fluid .row .col-12 {
    padding: 0px;
  }
  .AboutUsPage .aboutdetail-area .container-fluid figure.imgbox {
    float: none;
    margin-top: 15px;
    margin-bottom: 0;
  }
  .AboutUsPage .aboutteam-area {
    margin: 0px;
    padding: 0px;
  }
  .AboutUsPage .aboutteam-area h2 {
    font-size: 28px;
    line-height: 1;
    text-align: center;
    margin: 0px 0px 0px 0px;
    padding-top: 15px;
    font-family: 'airbnb_cereal_appmedium';
  }
  .AboutUsPage .aboutteam-area h3 {
    font-size: 22px;
    line-height: 1;
    text-align: center;
    padding: 5px 0px 3px 0px;
  }
  .AboutUsPage .aboutteam-area .timgbtn {
    max-width: 85px;
    z-index: 9;
  }
  .AboutUsPage .wharehose-area {
    margin-top: 20px;
    margin-bottom: 0px;
  }
  .AboutUsPage .wharehose-area h2 {
    font-size: 28px;
    line-height: 1;
    text-align: center;
    margin: 0px 0px 0px 0px;
    padding-top: 15px;
    font-family: 'airbnb_cereal_appmedium';
  }
  .AboutUsPage .wharehose-area h2 br {
    display: none;
  }
  .AboutUsPage .wharehose-area h3 {
    font-size: 22px;
    line-height: 1;
    text-align: center;
    padding: 5px 0px 3px 0px;
  }
  .AboutUsPage .wharehose-area p {
    font-size: 19px;
    line-height: 24px;
    margin: 0 !important;
    padding: 0 !important;
  }
  .AboutUsPage .wharehose-area figure {
    margin: 0;
    padding: 0;
  }
  .AboutUsPage .wharehose-area figure img {
    margin-top: 20px;
  }
  .TermsAndConditionBox {
    padding-top: 0px !important;
    background: #e9e9e9;
  }
  .TermsAndConditionBox .content-area {
    padding: 75px 0 0px 0px;
  }
  .TermsAndConditionBox .content-area .container {
    padding: 0px !important;
  }
  .TermsAndConditionBox .content-area .container > * {
    padding-left: 10px !important;
    padding-right: 10px !important;
  }
  .TermsAndConditionBox .content-area .container h1 {
    font-size: 25px;
    line-height: 1;
    text-align: center;
  }
  .TermsAndConditionBox .content-area .container h3 {
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    margin-bottom: 15px;
  }
  .TermsAndConditionBox .content-area .container h2 {
    font-size: 22px;
    line-height: 27px;
    font-family: 'airbnb_cereal_appmedium';
    text-align: center;
    margin-bottom: 0;
  }
  .TermsAndConditionBox .content-area .container p {
    font-size: 16px;
    line-height: 25px;
    text-align: center;
  }
  .TermsAndConditionBox .content-area .container ul {
    background: #fff;
  }
  .TermsAndConditionBox .content-area .container ul li {
    font-size: 18px;
    line-height: 27px;
    margin-bottom: 0px;
    border-bottom: 1px solid #e9e9e9;
    padding: 10px 0px 10px 27px !important;
    background: url(../images/libullet.png) no-repeat left center;
    background-size: 11px;
  }
  .GetCatalougBox {
    padding-top: 0 !important;
  }
  .GetCatalougBox .formarea {
    width: 100%;
    border-top: none;
    padding-top: 40px;
  }
  .GetCatalougBox .formarea .downloadpopup {
    margin: 0;
    padding: 20px 0px 0px 0px;
    max-width: 100%;
    background: #e9e9e9;
  }
  .GetCatalougBox .formarea .downloadpopup > * {
    padding: 0px 10px;
  }
  .GetCatalougBox .formarea h3 {
    font-size: 25px;
    line-height: 1;
    margin-bottom: 10px;
    text-align: center;
    margin-top: 20px;
  }
  .GetCatalougBox .formarea h2 {
    font-size: 19px;
    line-height: 25px;
    text-align: center;
    margin-bottom: 20px;
  }
  .GetCatalougBox .formarea ul {
    background: #fff;
    padding: 10px !important;
  }
  .GetCatalougBox .formarea ul li {
    padding-left: 70px;
    font-size: 19px;
    line-height: 28px;
    font-family: 'airbnb_cereal_appbook';
    margin-bottom: 0;
    padding: 10px 0px 10px 40px;
    background: url(../images/dlistsign.jpg) no-repeat left center;
    background-size: 25px 25px;
  }
  .FormBoxTp1 .formarea {
    padding: 0px !important;
  }
  .FormBoxTp1 .formarea .downloadpopup {
    padding: 30px !important;
  }
  .FormBoxTp1 .formarea .downloadpopup form {
    padding: 0px !important;
  }
  .FormBoxTp1 .formarea .downloadpopup form input {
    padding: 10px 15px;
    background: #f5f5f5;
    line-height: 29px;
    border: none;
    border-radius: 5px;
    color: #505050;
    font-size: 18px;
    font-family: 'airbnb_cereal_appbook';
    width: 100%;
    max-width: 670px;
    margin-bottom: 11px;
  }
  .FormBoxTp1 .formarea .downloadpopup form .navLinkTp103 {
    text-align: center;
    padding: 10px 60px;
    line-height: 29px;
    border-radius: 5px;
    font-size: 21px;
  }
  .GetCatalougBox .formarea {
    padding-bottom: 0;
  }
  .featureebox .FeaturedHoverBox h2 {
    font-size: 14px;
    line-height: 19px;
  }
  .ProductBoxTp1 {
    margin-top: 70px;
  }
  .fullWidthHeight {
    height: 100%;
    width: 100%;
  }
  .ProductNavMainBox {
    position: relative;
    background: #33bfb4;
    z-index: 99;
  }
  .ProductNavMainBox .ProductNavMainBoxRow1 {
    height: 45px;
  }
  .ProductNavMainBox .ProductNavMainBoxRow1 .ProductSubNavBox {
    position: absolute;
    width: 100%;
    z-index: 9;
    left: 0;
    top: 100%;
    background: #e9e9e9;
    display: none;
  }
  .ProductNavMainBox .ProductNavMainBoxRow1 .ProductSubNavBox.active {
    display: block;
  }
  .ProductNavMainBox .ProductNavMainBoxRow1 .ProductSubNavBox .StickyNavBox {
    background: #e9e9e9;
    border-bottom: 1px solid #e4e4e4;
    padding: 12px 10px;
  }
  .ProductNavMainBox .ProductNavMainBoxRow1 .ProductSubNavBox .StickyNavBox a {
    font-size: 14px;
  }
  .ProductNavMainBox .ProductNavMainBoxRow1 .ProductSubNavBoxTp1 {
    position: absolute;
    width: 100%;
    z-index: 9;
    left: 0;
    top: 100%;
    background: #fff;
    display: none;
  }
  .ProductNavMainBox .ProductNavMainBoxRow1 .ProductSubNavBoxTp1.active {
    display: block;
  }
  .ProductNavMainBox .ProductNavMainBoxRow1 .ProductSubNavBoxTp1 .StickyNavBox {
    background: #33bfb4;
    border-bottom: 1px solid #e4e4e4;
    padding: 12px 10px;
  }
  .ProductNavMainBox .ProductNavMainBoxRow1 .ProductSubNavBoxTp1 .StickyNavBox a {
    font-size: 14px;
  }
  .ProductNavMainBox .ProductNavMainBoxRow1 .ProductSubNavBoxTp1 .StickyNavBox .LinkTp101 {
    padding: 10px 15px;
    font-family: airbnb_cereal_appmedium;
    color: #050708 !important;
    font-size: 14px;
  }
  .ProductNavMainBox .ProductNavMainBoxRow1 .LinkTp102 {
    padding: 10px 15px;
    font-family: airbnb_cereal_appmedium;
    color: #050708 !important;
    font-size: 14px;
  }
  .ProductNavMainBox .ProductNavMainBoxRow1 .LinkTp102.active {
    color: #fff !important;
  }
  .overlay {
    height: 0;
    width: 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    background: rgba(0, 0, 0, 0.6);
  }
  .overlay.active {
    height: 100%;
    width: 100%;
  }
  .CartBoxTp1 {
    padding-top: 65px !important;
    background: #e9e9e9;
  }
  .CartBoxTp1 .content-area-cart {
    padding: 0px !important;
  }
  .CartBoxTp1 .content-area-cart .container {
    padding: 0px;
    margin: 0px;
  }
  .CartBoxTp1 .content-area-cart .container h1 {
    font-size: 25px;
    line-height: 32px;
    padding: 0px 10px;
  }
  .CartBoxTp1 .content-area-cart .container h1 span {
    display: block;
  }
  .CartBoxTp1 .content-area-cart .container h3 {
    font-size: 18px;
    line-height: 1.3;
    padding: 0px 10px 20px 10px;
    margin-bottom: 0;
    border-bottom-left-radius: 50px;
    display: block;
    border-bottom-right-radius: 50px;
  }
  .CartBoxTp1 .ProDucItemBoxWrp {
    background: #fff;
    padding: 0px;
  }
  .CartBoxTp1 .ProDucItemBoxWrp .productbox {
    padding: 7px;
    border-radius: 10px;
    margin-bottom: 5px;
  }
  .CartBoxTp1 .ProDucItemBoxWrp .productbox:last-child {
    margin: 0px;
  }
  .CartBoxTp1 .ProDucItemBoxWrp .productbox .imgBoxTp11 {
    width: 80px;
    flex: 0 0 80px;
  }
  .CartBoxTp1 .ProDucItemBoxWrp .productbox .imgBoxTp11 .imgbox {
    margin: 0 !important;
  }
  .CartBoxTp1 .ProDucItemBoxWrp .productbox .imgBoxTp11 .imgbox img {
    max-height: 85px;
  }
  .CartBoxTp1 .ProDucItemBoxWrp .productbox .imgBoxTp11 .ReMoveItemButton {
    font-size: 12px;
  }
  .CartBoxTp1 .ProDucItemBoxWrp .productbox .contentBoxTp11 h2 {
    height: 48px;
    overflow: hidden;
    font-size: 15px;
    line-height: 1.5;
  }
  .CartBoxTp1 .ProDucItemBoxWrp .productbox .contentBoxTp11 .colorbox {
    font-size: 15px;
    line-height: 1.6;
  }
  .CartBoxTp1 .ProDucItemBoxWrp .productbox .contentBoxTp11 .colorbox .newtag img {
    width: 25px;
  }
  .CartBoxTp1 .ProDucItemBoxWrp .productbox .CountBoxTp1 {
    width: 50px;
    flex: 0 0 50px;
    padding: 0;
    background: #f6f6f6;
    float: none;
  }
  .CartBoxTp1 .ProDucItemBoxWrp .productbox .CountBoxTp1 .DeskTopInputTp1 {
    display: none;
  }
  .CartBoxTp1 .ProDucItemBoxWrp .productbox .CountBoxTp1 .InputBoxTp11 * {
    text-align: center;
    display: block;
  }
  .CartBoxTp1 .ProDucItemBoxWrp .productbox .CountBoxTp1 .InputBoxTp11 input {
    width: 100%;
    margin: 10px auto;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    outline: none;
    border: none;
    font-size: 15px;
  }
  .CartBoxTp1 .ProDucItemBoxWrp .productbox .CountBoxTp1 .InputBoxTp11 button {
    outline: none;
    padding: 0px;
    margin: 0px;
    display: block;
    border: none;
    background: #f6f6f6;
    text-align: center;
    width: 100%;
  }
  .CartBoxTp1 .ProDucItemBoxWrp .productbox .CountBoxTp1 .InputBoxTp11 button i {
    font-size: 19px;
  }
  .CartBoxTp1 .CartBtnBoxTp1 {
    padding: 10px 5px;
    margin: 0px !important;
    background: #fff;
  }
  .CartBoxTp1 .CartBtnBoxTp1 .CartLinkTp1 {
    width: 100%;
    font-size: 17px;
  }
  .CartBoxTp1 .CartBtnBoxTp1 .CartLinkTp1 i {
    font-size: 17px;
  }
  .CartBoxTp1 .CartBtnBoxTp1 .CartLinkTp2 {
    font-size: 14px;
    min-width: auto;
    width: 100%;
    padding: 7px 1px;
    text-align: center;
    margin: 0 auto;
    border: none;
  }
  .CartBoxTp1 .CartBtnBoxTp1 .CartLinkTp2 span {
    display: block !important;
    text-align: right;
  }
  .CartBoxTp1 .cart-right-detailbox {
    display: block;
    margin: 0px auto;
    border-top-left-radius: 40px;
  }
  .CartBoxTp1 .cart-right-detailbox .toptag {
    max-width: 140px;
  }
  .CartBoxTp1 .cart-right-detailbox h3 {
    font-size: 17px !important;
    line-height: 1.3 !important;
    padding: 0px 10px 12px 10px !important;
  }
  .CartBoxTp1 .cart-right-detailbox .detailinner .txtbox {
    padding: 10px 12px;
    margin-bottom: 10px;
  }
  .CartBoxTp1 .cart-right-detailbox .detailinner .txtbox .iconbox {
    width: 15%;
    margin-right: 0px;
    text-align: left;
  }
  .CartBoxTp1 .cart-right-detailbox .detailinner .txtbox .iconbox img {
    width: 18px;
    position: relative;
    top: -7px;
    left: 6px;
  }
  .CartBoxTp1 .cart-right-detailbox .detailinner .txtbox input {
    line-height: 27px;
    font-size: 14px;
    width: 85%;
  }
  .CartBoxTp1 .cart-right-detailbox .detailinner .txtbox .radioarea {
    margin-bottom: 10px !important;
  }
  .daterangepicker.dropdown-menu {
    display: none;
  }
  .content-area-cart .cart-right-detailbox .detailinner .radioarea {
    margin-bottom: 10px;
  }
  .content-area-cart .cart-right-detailbox .bottomdetail {
    margin-bottom: 0;
    font-size: 17px;
    padding: 15px;
    background: #f6f6f6;
    line-height: 1.5;
  }
  .content-area-cart .cart-right-detailbox .bottomdetail .row .col-12 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .content-area-cart .cart-right-detailbox .bottomdetail .row .col-12:last-child {
    text-align: right !important;
  }
  .continue-btn {
    line-height: 44px;
    display: block;
    background: #33bfb4;
    color: #fff;
    font-family: 'airbnb_cereal_appbold';
    font-size: 19px;
    border: 2px solid transparent;
    margin: 15px 0px 0px 0px;
    border-radius: 10px;
  }
  .daterangepicker.dropdown-menu {
    width: 100% !important;
    min-width: auto;
    padding: 15px;
  }
  .daterangepicker.dropdown-menu .calendar {
    max-width: 100%;
    width: 100%;
    margin: 0 !important;
    float: none !important;
    margin-bottom: 10px !important;
  }
  .daterangepicker.dropdown-menu .ranges {
    width: 100%;
    text-align: left;
    padding-top: 23px;
    float: none !important;
  }
  .CartModalBox .modal-content .FigureBoxTp1 img {
    max-width: 110px;
  }
  .CartModalBox .modal-content .modal-body .formarea .chat-inner h2 {
    font-size: 30px;
    line-height: 50px;
  }
  .CartModalBox .modal-content .modal-body .formarea .chat-inner h3 {
    font-size: 20px;
    line-height: 21px;
    margin-bottom: 20px;
  }
  .CartModalBox .modal-content .modal-body .formarea .chatbox-inner .bchatboxx {
    padding: 10px !important;
  }
  .CartModalBox .modal-content .modal-body .formarea .chatbox-inner .chatleft figure {
    margin: 0 !important;
    width: 19%;
    padding-right: 2%;
  }
  .CartModalBox .modal-content .modal-body .formarea .chatbox-inner .chatleft figure img {
    max-width: 100%;
  }
  .CartModalBox .modal-content .modal-body .formarea .chatbox-inner .chatleft .ctextbox {
    width: 81%;
    font-size: 16px;
    line-height: 21px;
  }
  .CartModalBox .modal-content .modal-body .formarea .chatbox-inner .chatright .ctextbox {
    font-size: 16px;
    line-height: 21px;
  }
  .radio input + span:after,
.radio input + span:before {
    content: '';
    width: 27px;
    height: 27px;
    display: block;
    border-radius: 50%;
    left: -15px;
    top: -7px;
    position: absolute;
  }
  .radio input + span {
    line-height: 18px;
    height: 15px;
    padding-left: 22px;
    display: block;
    position: relative;
    font-size: 15px;
  }
  .footer-bottom {
    font-size: 15px;
    line-height: 17px;
    padding: 10px;
  }
  .AboutUsPage .qc-area figure {
    height: auto !important;
  }
  .AboutUsPage .qc-area figure img {
    height: auto !important;
    max-height: 200px;
    object-fit: cover;
  }
  .AboutUsPage .DeliveryTrackinBoxTp1 figure {
    height: auto !important;
  }
  .AboutUsPage .DeliveryTrackinBoxTp1 figure img {
    height: auto !important;
    max-height: 260px;
    object-fit: cover;
  }
  .MobileSearchBoxField {
    padding: 10px 0px;
    position: relative;
  }
  .MobileSearchBoxField input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    box-shadow: none !important;
    padding: 10px 45px 10px 10px;
    text-align: left;
    outline: none !important;
    height: 50px;
  }
  .MobileSearchBoxField .SearchSubmit {
    width: auto;
    position: absolute;
    top: 10px;
    right: 0;
    padding: 8px 10px;
    margin: 0;
    border-radius: 0;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    min-height: 45px;
    height: 50px;
  }
  .MobileSearchBoxField .SearchSubmit img {
    width: 25px;
  }
  .ProductNavMainBoxRow1 .StickyNavBox {
    padding: 5px 10px !important;
    z-index: 9999;
  }
  .ProductNavMainBoxRow1 .StickyNavBox .LinkTp101 {
    padding: 10px 15px !important;
    font-family: airbnb_cereal_appmedium;
    font-size: 14px;
    cursor: pointer;
  }
  .caption-area .text-right {
    text-align: center !important;
  }
  .caption-area .LinkTpT02.viewTheRangeBtn {
    margin-top: 20px;
  }
  .LinkTpT02 {
    font-size: 16px;
    min-width: 144px;
    display: inline-block;
    padding: 6px 25px;
  }
  .LinkTpT03 {
    min-width: 180px;
    display: inline-block;
    padding: 7px 15px;
    margin-bottom: 20px;
    font-size: 13px;
  }
  .LinkTpT03Wrp {
    text-align: center;
  }
  .AboutUsPage {
    padding-top: 50px;
  }
  .footer-area {
    padding: 5px 0;
  }
  .DownloadCatalogBox {
    padding: 80px 0px 0px 0px;
    background: #e4e4e4;
  }
  .DownloadCatalogBox .HeadingBoxTp11 {
    padding: 0px 10px;
  }
  .DownloadCatalogBox .HeadingBoxTp11 h3 {
    font-size: 29px;
    line-height: 29px;
  }
  .DownloadCatalogBox .HeadingBoxTp11 h2 {
    font-size: 28px;
    line-height: 24px;
    margin-bottom: 16px;
  }
  .DownloadCatalogBox .catalogLinkBox {
    padding: 20px 10px 10px 10px;
    background: #fff;
  }
  .DownloadCatalogBox .catalogLinkBox ul li {
    padding-left: 41px;
    font-size: 21px;
    line-height: 31px;
    background-size: 28px 28px;
    margin-bottom: 12px;
  }
  .DownloadCatalogBox .container {
    padding: 0;
  }
  .DownloadCatalogBox .container .row {
    margin: 0px;
  }
  .DownloadCatalogBox .container .row [class*="col-"] {
    padding: 0px;
  }
  .DownloadCatalogBox .FormBoxTp11 {
    padding: 20px 15px 20px 15px;
  }
  .DownloadCatalogBox .FormBoxTp11 form input {
    padding: 8px 29px;
    line-height: 36px;
    border-radius: 10px;
    font-size: 20px;
    margin-bottom: 11px;
  }
  .DownloadCatalogBox .FormBoxTp11 form .CatalogBtnTp1 {
    padding: 8px 29px;
    line-height: 36px;
    border-radius: 10px;
    font-size: 20px;
  }
}

@media screen and (device-aspect-ratio: 2/3) {
  select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"] {
    font-size: 16px;
  }
}

@media screen and (device-aspect-ratio: 40/71) {
  select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"] {
    font-size: 16px;
  }
}

@media screen and (device-aspect-ratio: 375/667) {
  select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"] {
    font-size: 16px;
  }
}

@media screen and (device-aspect-ratio: 9/16) {
  select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"] {
    font-size: 16px;
  }
}
