/*****************globals*************/


@font-face {
  font-family: 'airbnb_cereal_appbold';
  src: url('../fonts/airbnbcereal-bold-webfont.woff2') format('woff2'),
    url('../fonts/airbnbcereal-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'airbnb_cereal_applight';
  src: url('../fonts/airbnbcereal-light-webfont.woff2') format('woff2'),
    url('../fonts/airbnbcereal-light-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'airbnb_cereal_appmedium';
  src: url('../fonts/airbnbcereal-medium-webfont.woff2') format('woff2'),
    url('../fonts/airbnbcereal-medium-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'airbnb_cereal_appextra_bold';
  src: url('../fonts/airbnbcereal-extrabold-webfont.woff2') format('woff2'),
    url('../fonts/airbnbcereal-extrabold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'airbnb_cereal_appblack';
  src: url('../fonts/airbnbcereal-black-webfont.woff2') format('woff2'),
    url('../fonts/airbnbcereal-black-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'airbnb_cereal_appbook';
  src: url('../fonts/airbnbcereal-book-webfont.woff2') format('woff2'),
    url('../fonts/airbnbcereal-book-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'airbnb_cereal_appblack';
  src: url('../fonts/airbnbcereal-black-webfont.woff2') format('woff2'),
    url('../fonts/airbnbcereal-black-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}





body {
  overflow-x: hidden;
}

img {
  max-width: 100%;
}


.clear {
  clear: both;
  margin: 0;
  padding: 0;
  line-height: 1
}

.preview {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

@media screen and (max-width: 996px) {
  .preview {
    margin-bottom: 20px;
  }
}

.preview-pic {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.preview-thumbnail.nav-tabs {
  border: none;
  margin-top: 15px;
}

.preview-thumbnail.nav-tabs li {
  width: 18%;
  margin-right: 8.5%;
}

.preview-thumbnail.nav-tabs li img {
  max-width: 100%;
  display: block;
}

.preview-thumbnail.nav-tabs li a {
  padding: 0;
  margin: 0;
}

.preview-thumbnail.nav-tabs li:last-of-type {
  margin-right: 0;
}

.tab-content {
  overflow: hidden;
}

.tab-content img {
  width: 100%;
  -webkit-animation-name: opacity;
  animation-name: opacity;
  -webkit-animation-duration: .3s;
  animation-duration: .3s;
}

.card {
  margin-top: 50px;
  /*  background: #eee;*/
  padding: 3em;
  line-height: 1.5em;
}

@media screen and (min-width: 997px) {
  .wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
}

.details {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.colors {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.product-title,
.price,
.sizes,
.colors {
  text-transform: UPPERCASE;
  font-weight: bold;
}

.checked,
.price span {
  color: #ff9f1a;
}

.product-title,
.rating,
.product-description,
.price,
.vote,
.sizes {
  margin-bottom: 15px;
}

.product-title {
  margin-top: 0;
}

.size {
  margin-right: 10px;
}

.size:first-of-type {
  margin-left: 40px;
}

.color {
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
  height: 2em;
  width: 2em;
  border-radius: 2px;
}

.color:first-of-type {
  margin-left: 20px;
}

.add-to-cart,
.like {
  background: #ff9f1a;
  padding: 1.2em 1.5em;
  border: none;
  text-transform: UPPERCASE;
  font-weight: bold;
  color: #fff;
  -webkit-transition: background .3s ease;
  transition: background .3s ease;
}

.add-to-cart:hover,
.like:hover {
  background: #b36800;
  color: #fff;
}

.not-available {
  text-align: center;
  line-height: 2em;
}

.not-available:before {
  font-family: fontawesome;
  content: "\f00d";
  color: #fff;
}

.orange {
  background: #ff9f1a;
}

.green {
  background: #85ad00;
}

.blue {
  background: #0076ad;
}

.tooltip-inner {
  padding: 1.3em;
}

@-webkit-keyframes opacity {
  0% {
    opacity: 0;
    -webkit-transform: scale(3);
    transform: scale(3);
  }

  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes opacity {
  0% {
    opacity: 0;
    -webkit-transform: scale(3);
    transform: scale(3);
  }

  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

.breadcrumb {
  background: #fff;
  padding: 8px 0px;
}

.breadcrumb ul {
  float: left;
  margin: 0;
  padding: 0;
}

.breadcrumb ul li {
  float: left;
  list-style-type: none;
  line-height: 24px;
  text-transform: uppercase;
  color: #33bfb4;
  font-size: 25px;
  font-family: 'airbnb_cereal_appbold';
  margin: 0 5px;
  text-decoration: none;
}

.breadcrumb ul li a {
  color: #33bfb4;
  text-decoration: none;
}

.breadcrumb ul li a:hover {
  color: #000;
  text-decoration: none;
}

.breadcrumb ul li:first-child {
  margin-left: 0;
}

.breadcrumb ul li:last-child {
  margin-right: 0;
}

.breadcrumb ul li .fa {
  font-size: 16px;
  color: #000;
}

h3 {
  font-family: 'airbnb_cereal_appbold';
  font-size: 50px;
}


.colorpricebox {
  background: #f5f5f5;
  border-radius: 50px;
  color: #000;
  font-size: 22px;
  padding: 25px;
  font-family: 'airbnb_cereal_appbook';
  line-height: 40px;
  margin-bottom: 40px;
}

.colorspot img {
  float: left;
  margin-right: 15px;
}

.selectionbox {
  background-image: url("../images/dropdown-arrow.jpg");
  background-repeat: no-repeat;
  background-position: right center;
  background-color: transparent;
  height: 45px;
  /*    line-height: 33px;*/
  padding: 0 0 0 0px;

  /*    border: solid 1px #dadada;*/
  border: none;
  border-radius: 0px;
  outline: 0;

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  text-indent: .01px;
  float: right;
  /*	width: 80%;*/
  color: #000;
  font-size: 22px;
  font-weight: 400;
  font-family: 'airbnb_cereal_appbook';
  min-width: 175px;

}

option {
  background: #eee;
  color: #333;
  border: solid 1px #dadada;
  font-size: 16px;
  line-height: 24px;
  padding: 8px;
}

.details h4 {
  margin: 0;
  padding: 0;
  font-size: 25px;
  font-family: 'airbnb_cereal_appbook';
  line-height: 36px;
  margin-bottom: 20px;
  color: #505050;
}

.details p {
  font-family: 'airbnb_cereal_appbook';
  font-size: 17px;
  color: #8b8b8b;
  line-height: 22px;
}


.qtyindes {
  width: 100%;
  background: #f5f5f5;
  padding: 10px 15px;
  border-radius: 25px;
  color: #000;
  line-height: 30px;
  font-size: 20px;
  text-align: center;
  float: right;
  margin-bottom: 40px;
}


.qtyindes .btn-minuss {
  float: left;
  margin-right: 15px;
}

.qtyindes input[type='text'] {
  float: left;
  background: transparent;
  width: 85%;
  height: 30px;
  margin-right: 5px;
  border: none;
  outline: 0;
  font-size: 25px;
  color: #33bfb4;
  font-family: 'airbnb_cereal_appmedium';
  text-align: center;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.qtyindes .btn-pluss {
  float: right;
}

.qtyindes .fa {
  font-size: 20px;
}

.addtoquote-btn {
  width: 100%;
  max-width: 730px;
  background: url("../images/addtoquote01.png") no-repeat;
  display: table;
  margin: 15px auto;
  position: relative;
  background-size: 100%;
}

.addtoquote-btn:hover {
  width: 100%;
  max-width: 730px;
  background: url("../images/addtoquote02.png") no-repeat;
  display: table;
  margin: 15px auto;
  position: relative;
  background-size: 100%;
}

.addtoquote-btn .inner {
  display: block;
  height: 0;
  padding-top: 12.74%;
}


.moreproduct {
  width: 100%;
  background: #f5f5f5;
  padding: 30px 15px;
}

.moreproduct h2 {
  margin: 50px 0 20px 0;
  padding: 0;
  color: #000;
  text-align: left;
  font-size: 50px;
  font-family: 'airbnb_cereal_appbold';
}

.moreproduct .mproductbox {
  width: 100%;
  max-width: 185px;
  display: block;
  text-align: center;
  font-size: 20px;
  font-family: 'airbnb_cereal_appmedium';
  text-transform: uppercase;
}

.moreproduct .mproductbox img {
  display: block;
  margin: 15px auto;
  text-align: center;
}
.ProductDetailPage .moreproduct .mproductbox {
  max-width: 100%;
  padding: 10px;
}
.ProductDetailPage .ProductTextTp1{
  font-family: 'airbnb_cereal_appmedium';
  font-size: 16px;
  line-height: 22px;
}
.ProductDetailPage .prev{
  background-size: 13px 23px;
}
.ProductDetailPage .next{
  background-size: 13px 23px;
}
.ProductDetailPage .preview-thumbnail.nav-tabs li a{
  display: inline-block;
  padding: 7px;
  border: 2px solid transparent;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  border-radius: 10px;
}
.ProductDetailPage .preview-thumbnail.nav-tabs li a.active{
  border: 2px solid #33bfb4;
}