/* large desktop :1366px. */

@media (min-width: 1200px) and (max-width: 1500px) {
  .moreproduct .list_carousel{width:94%;}  
}


/* Normal desktop :992px. */

@media (min-width: 992px) and (max-width: 1199px) {
    
}


/* Tablet desktop :768px. */

@media (min-width: 768px) and (max-width: 991px) {
	
}

@media (max-width: 1699px) {
	
	.mainmenu ul li{margin: 0 36px;}
	.mainmenu ul li a{padding: 40px 0%;}
	.mainmenu ul li a:hover, .mainmenu ul li a.active{padding: 40px 0%;}
	
}

@media (max-width: 1523px) {
	
	.mainmenu ul li{margin: 0 30px;}
	
}


@media (max-width: 1440px) {
	
	.featureebox .colorbox .newtag{margin-right:3px;font-size:18px;}
	.mainmenu ul li{margin: 0 24px;}
	
}




@media (max-width: 1366px) {
	.featureebox .colorbox{font-size:15px;}
	.featureebox .colorbox .newtag{margin-right:3px;}
	.wharehose-area h2{font-size:85px;}
	.moreproduct .list_carousel{width:94%;}
	.caroufredsel_wrapper{height:390px !important;}
	.featureebox h2{font-size:20px;}
	.mainmenu ul li{font-size:18px; margin: 0 24px;}
	.navigation-area {    padding-top: 0px;    padding-left: 28px;}
	.mainmenu ul li a{padding: 40px 0%;}
	.mainmenu ul li a:hover, .mainmenu ul li a.active{padding: 40px 0%;}
	.dropdown-toggle::after {margin-left:1px;}
	.navigation-area{ padding-left: 5px;}
	
}

@media (max-width: 1280px) {
	
	.topright ul li{margin: 0 15px;}
	.slider-content-wrap h2, .slider-content-2 h2{font-size:85px; line-height: 100px;}
	.history-area h2{font-size:72px; line-height: 80px;margin-bottom: 15px;}
	.qc-area h2{font-size:72px; line-height: 80px;margin-bottom: 15px;}
	.qc-area h3{font-size:40px; line-height: 48px;margin-bottom: 15px;}
	.aboutdetail-area h2{font-size:72px; line-height: 80px;margin-bottom: 15px;}
	.aboutdetail-area h3{font-size:40px; line-height: 48px;margin-bottom: 15px;}
	.aboutteam-area h2{font-size:72px; line-height: 80px;margin-bottom: 15px;}
	.aboutteam-area h3{font-size:40px; line-height: 48px;margin-bottom: 15px;}
	.wharehose-area h2{font-size:72px; line-height: 80px;margin-bottom: 15px;}
	.wharehose-area h3{font-size:40px; line-height: 48px;margin-bottom: 15px;}
	
	.range-area .caption-area h2{font-size:72px; line-height: 80px;margin-bottom: 15px;}
	.range-area .caption-area h3{font-size:40px; line-height: 48px;margin-bottom: 15px;}
	
	.bookameeting .caption-area h3{font-size:40px; line-height: 48px;margin-bottom: 15px;}
	.bookameeting .caption-area h2{font-size:72px; line-height: 80px;margin-bottom: 15px;}
	.mainmenu ul li a{padding: 40px 1%;}
	.mainmenu ul li a:hover, .mainmenu ul li a.active{padding: 40px 1%;}
	.mainmenu ul li{font-size:18px; margin: 0 16px;}
	.dropdown-toggle::after {margin-left:1px;}
	
	
	
	
	
}



@media (max-width: 1199px) {
	.history-area{text-align:center; min-height: 890px;}
	.history-area h2{margin-bottom:0;font-size: 60px; line-height: 60px;}
	.history-area h3{margin-bottom:30px;font-size: 30px; line-height: 20px;}
	.qc-area{text-align:center;}
	.qc-area img{float:none; display: block; text-align: center; margin:30px auto; width:100%;}
	.qc-area h3{margin-bottom:12px;}
	.aboutdetail-area{text-align:center;}
	.mainmenu ul li{margin:0 11px;}
	.navbar-expand-lg .navbar-collapse{margin-left:11px;}
	.topright ul li{margin: 0 12px;}
	.content-area-cart .cart-right-detailbox{display:table; margin: 50px auto;}
	.caroufredsel_wrapper{height:340px !important;}
	.featureebox .colorbox {    font-size: 10px;}
	.featureebox h2 {    font-size: 16px;}
	.wharehose-area h2 {    font-size: 60px;    line-height: 60px;}
	.navigation-area {    padding-top: 0px;    padding-left: 82px;}
}


@media (max-width: 1024px) {
	.top-area .sidemenu {margin-right:20px;}
	.header-area .logo {left:135px;}
	.navigation-area{padding-left:25px; margin-left: 0;}
	.mainmenu ul li {font-size:16px;padding: 0 2px;}
	.mainmenu ul li a{padding: 40px 0%;}
	.mainmenu ul li a:hover, .mainmenu ul li a.active{padding: 40px 0%;}
	.mainmenu ul li {margin: 0 4px;}
	.slider-content-wrap h2, .slider-content-2 h2{font-size:85px;}
	
	.about-area .caption-area h3{font-size:40px; line-height: 48px;}
	.about-area .caption-area h2{font-size:72px; line-height: 86px;}
	
	.range-area .caption-area h2{font-size:72px; line-height: 86px;}
	.range-area .caption-area h3{font-size:40px; line-height: 48px;}
	
	.bookameeting .caption-area h2{font-size:72px; line-height: 86px;}
	.bookameeting .caption-area h3{font-size:40px; line-height: 48px;}
	
	.history-area h2 {
    margin-bottom: 15px;
    font-size: 60px;
    line-height: 72px;
}
	
	.history-area h3 {
    margin-bottom: 30px;
    font-size: 30px;
    line-height: 36px;
}
	
.qc-area h2{font-size:72px; line-height: 86px;}
.qc-area h3{font-size:40px; line-height: 48px;}
	
.aboutdetail-area h2{font-size:72px; line-height: 86px;}	
.aboutdetail-area h3{font-size:40px; line-height: 48px;}	
	.aboutteam-area h2{font-size:72px; line-height: 86px;}
	.aboutteam-area h3{font-size:40px; line-height: 48px;}
	
	
	.wharehose-area h2{font-size:72px; line-height: 86px;}
	.wharehose-area h3{font-size:40px; line-height: 48px;}
	
	
	
	
	
	
	
}







@media (max-width: 991px) {
	.navbar-toggler:not(:disabled):not(.disabled){z-index:99;}
	.navbar-toggler{background-color: #33bfb4;font-size: 1.5rem;    border: 1px solid #33bfb4;}
	
	.navbar-toggler-icon{width:auto; height: auto;}
	.top-area .search-area{position: absolute; right: 20px;}
	.navigation-area {    padding-top: 104px;}
	.header-area .logo{left:0; right: 0; margin: auto; text-align: center;}
	.topright{float:none; display: table; margin:15px  auto; text-align: center;}
	.slider-content-wrap h2, .slider-content-2 h2{font-size:60px;}
	.downloads-area .dl-btn{margin-bottom: 30px;}
	.new-arrival-area .exp-btn{margin-bottom:30px;}
	.new-arrival-area h2{text-align:center;}
	.new-arrival-area h3{text-align:center;}
	.new-arrival-area .exp-btn{display:table; margin:30px auto; text-align: center;}
	.about-area .caption-area h2{text-align:center;}
	.about-area .caption-area h3{text-align:center;}
	.about-area .caption-area .showmebtn{float:none; display: table; margin:auto; text-align: center;}
	.downloads-area h2{text-align:center;}
	.downloads-area h3{text-align:center;}
	.range-area .caption-area h2{text-align:center;}
	.range-area .caption-area h3{text-align:center;}
	.range-area .caption-area .vrangebtn{float:none; display: table; margin: auto; text-align: center;}
	.deliverytracking-area .partner-btn{ display: table; margin: 0 auto; padding: 0; text-align: center}
.about-area .caption-area h2{font-size:60px;}
	.deliverytracking-area .deliveryl{font-size:60px;}
	.deliverytracking-area .tranckingc{font-size:60px;}
	.range-area .caption-area h2{font-size:60px;}
	.bookameeting .caption-area h2{font-size:60px;}
	.deliverytracking-area .partner-btn {
    max-width: 270px;
    padding: 12px 24px;
    color: #000;
    font-size: 20px;
    text-transform: uppercase;
    text-align: center;
    border-radius: 25px;
    border: solid 3px #00cebf;
}
	.bookameeting .caption-area .bookameeting-btn{text-align:center; float:none; display: table; margin: auto;}
	.aboutteam-area h2{font-size:60px; text-align: center; margin-bottom: 12px; line-height: 70px;}
	.aboutteam-area h3{font-size:30px;text-align: center; line-height: 36px;}
	.wharehose-area h2{font-size:60px; line-height: 70px; margin-bottom: 12px;text-align: center;}
	.wharehose-area h3{font-size:30px;text-align: center; line-height: 36px;}
	.wharehose-area{text-align:center;}
	.qc-area h2{margin-bottom:0; font-size: 60px; line-height:70px;}
	.qc-area h3{margin-bottom:30px; font-size:30px; line-height: 36px;}
	.aboutdetail-area h2{font-size:60px; line-height: 70px; margin-bottom: 0; text-align: center;}
	.aboutdetail-area h3{font-size:30px;text-align: center; line-height: 36px; margin-bottom: 15px;}
	.social-area{float:none; display: table; margin:12px auto;}
	
	#accordion-style-1 .btn-link{font-size:28px;}
	#accordion-style-1 .card-header .btn .fa.main{font-size:36px;}
	#accordion-style-1 .card-header .btn.collapsed .fa.closedd{font-size:36px;}
	
	.downloadpopup{max-width:625px;}
	.searchform{left:auto; right:0;}
	
	
	.content-area-cart .cart-right-detailbox{display:table; margin: 50px auto;}
	.mainmenu ul li ul li ul{width:75%;}
	.dropdown-menu{min-width:auto;}
	.navigation-area{padding-left:0;}
	.content-area{padding-top:0; padding-bottom:5px;}
	.content-area h1{font-size:70px; line-height: 70px;}
	.content-area h3{font-size:30px; line-height: 36px;}
	
	
	
	
	.history-area h2 {margin-bottom: 15px;    font-size: 60px;    line-height: 72px;}
	
	
	
	
	
}





/* small mobile :320px. */

@media (max-width: 767px) {
  
	.navbar-toggler:not(:disabled):not(.disabled){z-index:99;}
	.navbar-toggler{background-color: #33bfb4;font-size: 1.5rem;    border: 1px solid #33bfb4;}
	
	.navbar-toggler-icon{width:auto; height: auto;}
	/*.top-area .search-area{float:right;}*/
	.navigation-area {    padding-top: 104px;}
	.header-area .logo{left:0; right: 0; margin: auto; text-align: center;}
	.mainmenu ul, .mainmenu ul li{float:none;  text-align: center; margin:0;}
	.mainmenu ul li a:hover, .mainmenu ul li a.active{display:block;width:100%;}
	
	.topright{float:none; display: table; margin:15px  auto; text-align: center;}
	.slider-content-wrap h2, .slider-content-2 h2{font-size:60px;}
	.downloads-area .dl-btn{margin-bottom: 30px;}
	.new-arrival-area .exp-btn{margin-bottom:30px;}
	.new-arrival-area h2{text-align:center;}
	.new-arrival-area h3{text-align:center;}
	.new-arrival-area .exp-btn{display:table; margin:12px auto; text-align: center;}
	.about-area .caption-area h2{text-align:center;}
	.about-area .caption-area h3{text-align:center;}
	.about-area .caption-area .showmebtn{float:none; display: table; margin:auto; text-align: center;}
	.downloads-area h2{text-align:center;}
	.downloads-area h3{text-align:center;}
	.downloads-area .dl-btn{float:none; display:table; margin:30px auto; text-align: center;}
	.range-area .caption-area h2{text-align:center;}
	.range-area .caption-area h3{text-align:center;}
	.range-area .caption-area .vrangebtn{float:none; display: table; margin: auto; text-align: center;}
	.deliverytracking-area h3{ text-align:center; }
	.deliverytracking-area h2{ text-align:center; }
	.deliverytracking-area .partner-btn{ display: table; margin: 0 auto;  text-align: center}
	.about-area .caption-area h2{font-size:60px;}
	.deliverytracking-area .deliveryl{font-size:60px;}
	.deliverytracking-area .tranckingc{font-size:60px;}
	.range-area .caption-area h2{font-size:60px;}
	.bookameeting .caption-area h2{font-size:60px;}
	.downloads-area img{ margin:30px auto 15px auto; display: block; text-align: center;}
	.bookameeting .caption-area h3{text-align: center; font-size: 40px;}
	.fancybox-title-inside-wrap h1{font-size:40px;}
	
	#accordion-style-1 .btn-link{font-size:16px;}
	#accordion-style-1 .card-header .btn .fa.main{font-size:20px;  right:0;}
	#accordion-style-1 .card-header .btn.collapsed .fa.closedd{font-size:20px;}
	#accordion-style-1 .card-body{font-size:16px; line-height: 24px;}
	#accordion-style-1 .card-header .btn .fa.main{font-size:16px; right:0;}
	
	.downloadpopup{max-width:480px;}
	
	.cartbtnl{float:none; display: table; text-align: center; margin: 30px auto;}
	.content-area-cart .cartbtn{float:none; display: table; text-align: center; margin: 30px auto;}
	.content-area-cart .cartbtn:hover{float:none; display: table; text-align: center; margin: 30px auto;}
	.text-right{text-align:left !important;}
	.mainmenu ul li a{float:none;  display: block;}
	.mainmenu ul li{position:relative;}
	.mainmenu ul li ul li{float: none; display: table; text-align: center; margin: auto; width:100%;}
	.mainmenu ul li:first-child{margin-left:auto; margin-right: auto;}
	.mainmenu ul li:last-child{margin-left:auto; margin-right: auto;}
	.mainmenu ul li ul li a{float: none; display: block; text-align: center;}
	.dropdown-menu{min-width:auto;}
	.mainmenu ul li ul li ul{left:0; right: 0; margin: auto; display: table; text-align: center;}
	.mainmenu ul li ul li ul li{float:none; text-align: center; margin: 10px auto;}
	
	.chatbot-area .chat-inner .chatbox-inner .chatleft .ctextbox{font-size: 16px;}
	.chatbot-area .chat-inner .chatbox-inner .chatright .ctextbox{font-size: 16px;}
	.chatbot-area .chat-inner h2{font-size: 50px;}
	.chatbot-area .chat-inner h3{font-size:25px;}
	.chatbot-area .chat-inner .chatbox-inner{padding:15px;}
	
	.sidenav .sidenav-inner a h2{font-size:80px; line-height: 60px;}
	.sidenav .sidenav-inner a:hover h2{font-size:80px; line-height: 60px;}
	.caroufredsel_wrapper {    height: 375px !important;}
	.featureebox .colorbox{font-size:17px;}
	.featureebox .colorbox .newtag{margin-right:5px;}
	.aboutteam-area{margin-bottom:60px;}
	.wharehose-area{margin-top:0;}
	.content-area{padding-top:0; padding-bottom:5px;}
	.termsconditons{font-size:20px; line-height: 30px;}
	.termsconditons ul li{font-size:20px; line-height: 30px;margin-bottom: 15px;}
	
	
	.content-area h1 {    font-size: 62px;    line-height: 65px;}
	.content-area h3 {    font-size: 24px;    line-height: 30px;}
	.card-header{padding:5px 15px;}
	#accordion-style-1 .card-header h5{ margin:0; padding: 0;}
	#accordion-style-1 .card-header .btn .fa.main{padding-top:5px;}
	.card-body{margin-top:-16px; font-size: 16px; line-height: 24px;}
	#accordion-style-1 .card-header .btn.collapsed .fa.closedd{top:0;}
	
	
	.navbar-light .navbar-toggler .maintext {
    color: #fff;
    text-align: center;
    left: 0;
    right: 0;
    margin: 0 auto;
    font-size: 20px;
    position: absolute;
    top: 6px;
    text-transform: uppercase;
		outline: 0;
		border: none;
}
	
.navbar-toggle {
    position: relative;
    width: 200px;
    margin: 15px auto;
    float: none;
    background: #ff7d12;
        background-color: rgb(255, 125, 18);
    display: table;
}	
	
	.navbar-light .navbar-toggler-icon{background-image: none;float: left;}	
	
	.navbar-light .navbar-toggler{ position: relative;    width: 200px;    margin: 15px auto;    float: none;}
	
}


/* Large Mobile :480px. */

@media only screen and (min-width: 576px) and (max-width: 766px) {
    .slider-content-wrap h2, .slider-content-2 h2{font-size:60px;}
	
	
	
}






@media (max-width: 685px) {
	
	.chatbot-area .chat-inner .chatbox-inner .chatleft .ctextbox{font-size: 14px;}
	.chatbot-area .chat-inner .chatbox-inner .chatright .ctextbox{font-size: 14px;}
	.featureebox .colorbox{font-size:15px;}
	.featureebox .colorbox .newtag{margin-right:3px;}
	
	
}
@media (max-width: 600px) {
.downloadpopup{max-width:380px;}
	.downloadpopup h2{font-size:55px; line-height: 65px;}
	.formarea .downloadpopup input{font-size:20px; line-height: 36px;}
	.chatbot-area .chat-inner .chatbox-inner .chatleft .imgleft{width:12%;margin-top: 10px;}
	.chatbot-area .chat-inner .chatbox-inner .chatleft .ctextbox{line-height: 20px;}
	.chatbot-area .chat-inner .chatbox-inner .chatright .ctextbox{line-height: 20px;}
	.chatbot-area .chat-inner .bchatboxx input[type="text"]{padding:10px 5px; width:80%;}
	.featureebox .colorbox{font-size:13px;}
	.featureebox .colorbox .newtag{margin-right:1px;}
	
}

@media (max-width: 575px) {
	.slider-content-wrap h2, .slider-content-2 h2{font-size:55px;}
	.bookameeting .caption-area h2{font-size:50px;}
	.footer-area h2 br{display:none;}
	.fancybox-title-inside-wrap h1{font-size:30px;}
	.sidenav .sidenav-inner a h2{font-size:65px; line-height: 30px;}
	.sidenav .sidenav-inner a:hover h2{font-size:65px; line-height: 30px;}
	.caroufredsel_wrapper {    height: 375px !important;}
	
	.featureebox .colorbox{font-size:18px;}
	.featureebox .colorbox .newtag{margin-right:5px;}
	.aboutteam-area{margin-bottom:40px;}
	.wharehose-area{margin-top:0;}
	.fancybox-title-inside-wrap h1{font-size:27px; line-height: 30px;}
	.fancybox-title-inside-wrap p{font-size:18px; line-height: 26px;}
	.gallery-area img {       display: table;    margin: 15px auto;}
	
	
}


@media (max-width: 480px) {
	
	.slider-content-wrap h2, .slider-content-2 h2{font-size:42px;}
	#accordion-style-1 .btn-link{font-size:15px; padding-left: 0;}
	#accordion-style-1 .card-header .btn .fa.main{font-size:16px; right:0;}
	#accordion-style-1 .card-header .btn.collapsed .fa.closedd{font-size:16px;right:0;}
	#accordion-style-1 .card-body{font-size:17px; line-height: 24px;}
	.sidenav a h2{font-size:53px; line-height: 30px;}
	.sidenav a:hover h2{font-size:53px; line-height: 30px;}
	.content-area h1{font-size:30px;}
	.qtyindes input[type='text']{width:70%; font-size: 20px;}
	.colorpricebox{padding:8px; font-size:16px; border-radius: 20px;}
	.colorspot img{margin-right:5px;}
	.selectionbox{min-width:150px; font-size:16px;}
	
	.card-header{padding:15px 8px;}
	
	.downloadpopup h2 { font-size: 46px;line-height: 42px;}
	.downloadpopup ul li{padding-left:60px; font-size:30px; line-height:36px;}
	.downloadpopup{padding:10px;}
	
	.downloadpopup{margin:20px auto;}
	.downloadpopup ul{margin-bottom:0;}
	.formarea .downloadpopup input[type='image']{margin:0 auto;}
	.topright ul li{margin:0 6px;}
	.wharehose-area h2{font-size:42px; line-height: 47px;}
	.chatbot-area .chat-inner .bchatboxx input[type="text"]{padding:10px 5px; width:100%; margin-bottom: 8px;}
	.chatbot-area .chat-inner .bchatboxx input[type="image"]{padding:10px 5px; max-width: 100%; display: block; margin: 0 auto; text-align: center;float:none;}
	.sidenav .sidenav-inner a h2{font-size:55px; line-height: 30px;}
	.sidenav .sidenav-inner a:hover h2{font-size:55px; line-height: 30px;}
	.searchform{width:357px;}
	.caroufredsel_wrapper {    height: 330px !important;}
	.aboutteam-area{margin-bottom:40px;}
	.wharehose-area{margin-top:0;}
	.fancybox-title-inside-wrap h1{font-size:24px; line-height: 30px;}
	.fancybox-title-inside-wrap p{font-size:16px; line-height: 24px;}
	
	
	#s{width:290px;}
	.social-area02 a {padding: 10px !important;}
	slider-active.owl-carousel .owl-nav div {top:54%;}
	.new-arrival-area h2{font-size:40px; line-height: 48px;}
	.new-arrival-area h3{font-size:32px; line-height: 36px;}
	.about-area .caption-area h2 {  font-size: 40px;}
	.about-area .caption-area h3 {  font-size: 32px;}
	.about-area .caption-area .showmebtn:hover{float:none;}
	.downloads-area h3 {font-size:32px; line-height: 36px;}
	.downloads-area h2 {  font-size: 40px; line-height: 48px;}
	.range-area .caption-area h3 {font-size:32px; line-height: 36px;}
	.range-area .caption-area h2 {font-size:40px; line-height: 48px;}
	.deliverytracking-area h3{font-size:32px; line-height: 36px;}
	.deliverytracking-area h2{font-size:40px; line-height: 48px;}
	
	.bookameeting .caption-area h3{font-size:32px; line-height: 36px;}
	.bookameeting .caption-area h2{font-size:40px; line-height: 48px;}
	
	.history-area h2{font-size:40px; line-height: 48px;}
	.history-area h3{font-size:32px; line-height: 36px;}
	
	.qc-area h2{font-size:40px; line-height: 48px;}
	.qc-area h3 {font-size: 32px;line-height: 36px;}
	
	.aboutdetail-area h2{font-size:40px; line-height: 48px;}
	.aboutdetail-area h3{font-size: 32px;line-height: 36px;}
	.aboutteam-area h2{font-size:40px; line-height: 48px;}
	.aboutteam-area h3{font-size: 32px;line-height: 36px;}
	.wharehose-area h2{font-size:40px; line-height: 48px;}
	.wharehose-area h3{font-size: 32px;line-height: 36px;}
	.content-area-cart h1{font-size: 50px;line-height: 60px;}
	.content-area-cart h3{font-size: 32px;line-height: 36px;}
	.content-area-cart .productbox h2{font-size:20px; line-height: 24px;}
	
	
	
}


@media (max-width: 414px) {
	#s{width:290px;}
	.social-area02 a {padding: 10px !important;}
	slider-active.owl-carousel .owl-nav div {top:54%;}
	.new-arrival-area h2{font-size:40px; line-height: 48px;}
	.new-arrival-area h3{font-size:32px; line-height: 36px;}
	.about-area .caption-area h2 {  font-size: 40px;}
	.about-area .caption-area h3 {  font-size: 32px;}
	.about-area .caption-area .showmebtn:hover{float:none;}
	.downloads-area h3 {font-size:32px; line-height: 36px;}
	.downloads-area h2 {  font-size: 40px; line-height: 48px;}
	.range-area .caption-area h3 {font-size:32px; line-height: 36px;}
	.range-area .caption-area h2 {font-size:40px; line-height: 48px;}
	.deliverytracking-area h3{font-size:32px; line-height: 36px;}
	.deliverytracking-area h2{font-size:40px; line-height: 48px;}
	
	.bookameeting .caption-area h3{font-size:32px; line-height: 36px;}
	.bookameeting .caption-area h2{font-size:40px; line-height: 48px;}
	
	.history-area h2{font-size:40px; line-height: 48px;}
	.history-area h3{font-size:32px; line-height: 36px;}
	
	.qc-area h2{font-size:40px; line-height: 48px;}
	.qc-area h3 {font-size: 32px;line-height: 36px;}
	
	.aboutdetail-area h2{font-size:40px; line-height: 48px;}
	.aboutdetail-area h3{font-size: 32px;line-height: 36px;}
	.aboutteam-area h2{font-size:40px; line-height: 48px;}
	.aboutteam-area h3{font-size: 32px;line-height: 36px;}
	.wharehose-area h2{font-size:40px; line-height: 48px;}
	.wharehose-area h3{font-size: 32px;line-height: 36px;}
	.content-area-cart h1{font-size: 50px;line-height: 60px;}
	.content-area-cart h3{font-size: 32px;line-height: 36px;}
	.content-area-cart .productbox h2{font-size:20px; line-height: 24px;}
	
	
}







@media (max-width: 399px) {
	.social-area h3{float:none; margin-bottom: 8px; text-align: center;}
	.content-area h1{font-size:42px; line-height: 40px;}
	.sidenav .sidenav-inner a h2{font-size:53px; line-height: 30px;}
	.sidenav .sidenav-inner a:hover h2{font-size:53px; line-height: 30px;} 
	.searchform{width:320px;}
	#s{width:300px;}
	.topright ul li{margin:0 2px;}
	.sidenav .sidenav-inner a h2{font-size:42px; line-height: 20px;}
	.sidenav .sidenav-inner a:hover h2{font-size:42px; line-height: 20px;}
	.arrivaldate{padding-left:95px; font-size:26px; min-width:320px;}
	.olddate{padding-left:95px; font-size:26px; min-width:320px;}
	.slider-content-wrap h2, .slider-content-2 h2{font-size:36px;}
	.downloads-area h2{font-size:44px;}
	.range-area .caption-area h3{font-size:36px;}
	.range-area .caption-area h2{font-size:46px;}
	.caroufredsel_wrapper{height:305px !important;}
	.downloadpopup h3{font-size:30px;}
	.downloadpopup h2 {    font-size: 36px;    line-height: 36px;}
	.downloadpopup ul li {    padding-left: 60px;    font-size: 24px;    line-height: 30px;}
	.downloadpopup ul li{margint-bottom:20px;}
	.formarea .downloadpopup input{padding:5px 30px; margin-bottom:15px;}
	.formarea .downloadpopup input{font-size:15px;}
	.bookameeting .caption-area h2 {    font-size: 40px;    text-align: center;}
	.about-area .caption-area h3{font-size:42px;}
	.about-area .caption-area h2 {    font-size: 48px;    line-height: 50px;}
	.deliverytracking-area h3{font-size:30px; line-height: 36px;}
	.deliverytracking-area h2{font-size:42px; line-height: 46px;}
	.content-area-cart .cart-right-detailbox .detailinner{padding-left:15px; padding-right:15px;}
	.content-area-cart .cart-right-detailbox .detailinner .txtbox .iconbox{width:24px; height: 26px; margin-right: 10px;}
	.content-area-cart .cart-right-detailbox .detailinner .txtbox input{width:82%; float:left; font-size: 17px;}
	.content-area-cart h1{font-size:50px; line-height: 60px;}
	.content-area-cart{padding-top:0; padding-bottom:0; }
	.footer-area ul{margin-bottom:30px;}
	
	.history-area h2 {    margin-bottom: 20px;    font-size: 50px;    line-height: 49px;}
	.history-area{padding-top:15px;}
	.qc-area h2 {    margin-bottom: 20px;    font-size: 50px;    line-height: 50px;}
	.deliverytracking-area ul{margin-top:20px; margin-bottom: 20px;}
	.deliverytracking-area .partner-btn{margin-bottom:20px;}
	.aboutdetail-area h2{   margin-bottom: 20px;    font-size: 50px;    line-height: 49px;}
	.aboutteam-area h2{  margin-bottom: 20px;    font-size: 50px;    line-height: 49px;}
	.aboutteam-area h3{font-size: 24px;    text-align: center;    line-height: 30px;padding-bottom: 30px;}
	.aboutteam-area{margin-bottom:40px;}
	.wharehose-area{margin-top:0;}
	.content-area{padding-top:0; padding-bottom:5px;}
	.fancybox-title-inside-wrap h1{font-size:23px; line-height: 30px;}
	.fancybox-title-inside-wrap p{font-size:16px; line-height: 22px;}
	.card-header .btn{white-space: normal;}
	
}

@media (max-width: 375px) {

	
	.sidenav .sidenav-inner a h2 {
    font-size: 30px;
    line-height: 36px;
}
	
	.sidenav .sidenav-inner a:hover h2 {
    font-size: 30px;
    line-height: 36px;
}
	
	.searchform {
    width: 275px;
}
	
	#s {
    width: 209px;
		font-size:13px;
}
	.new-arrival-area h2 {font-size:33px; line-height: 38px;}
	.new-arrival-area h3 {font-size:28px; line-height: 36px;}
	
	.about-area .caption-area h3 {
    font-size: 30px;
}
	
	.about-area .caption-area h2 {
    font-size: 36px;
    line-height: 42px;
}
	
	.downloads-area h3{font-size:30px; line-height: 36px;}
	.downloads-area h2 {
    font-size: 36px; line-height: 42px;
}
	
	.deliverytracking-area h2 {
    font-size: 36px;
    line-height: 42px;
}
	
	.bookameeting .caption-area h3 {
    text-align: center;
    font-size: 30px;
}
	
	.bookameeting .caption-area h2 {
    font-size: 36px;
    text-align: center;
		line-height: 42px;
}
	
	
	.sidenav .sidenav-inner a h2{margin-bottom:10px;}
	.sidenav .sidenav-inner a:hover h2{margin-bottom:10px;}
	.social-area02 a{padding:3px !important;}
	
	
}









@media (max-width: 326px) {
	.caroufredsel_wrapper{height:405px !important;}
	.slider-active.owl-carousel .owl-nav div{top:60%;}
	.topright ul li:first-child{float:none;}
	.topright ul li {margin:0 15px;}
	
	.sidenav .sidenav-inner a h2 {
    font-size: 30px;
    line-height: 36px;
}
	
	.sidenav .sidenav-inner a:hover h2 {
    font-size: 30px;
    line-height: 36px;
}
	
	.searchform {
    width: 275px;
}
	
	#s {
    width: 209px;
		font-size:13px;
}
	.new-arrival-area h2 {font-size:33px; line-height: 38px;}
	.new-arrival-area h3 {font-size:28px; line-height: 36px;}
	
	.about-area .caption-area h3 {
    font-size: 30px;
}
	
	.about-area .caption-area h2 {
    font-size: 36px;
    line-height: 42px;
}
	
	.downloads-area h3{font-size:30px; line-height: 36px;}
	.downloads-area h2 {
    font-size: 36px; line-height: 42px;
}
	
	.deliverytracking-area h2 {
    font-size: 36px;
    line-height: 42px;
}
	
	.bookameeting .caption-area h3 {
    text-align: center;
    font-size: 30px;
}
	
	.bookameeting .caption-area h2 {
    font-size: 36px;
    text-align: center;
		line-height: 42px;
}
	
	
	
	
	
	
	
	
	
	
	
	
}



