/* large desktop :1366px. */

@media (min-width: 1200px) and (max-width: 1500px) {
  .moreproduct .list_carousel {
    width: 94%;
  }
}

/* Normal desktop :992px. */

@media (min-width: 992px) and (max-width: 1199px) {
}

/* Tablet desktop :768px. */

@media (min-width: 768px) and (max-width: 991px) {
}

@media (max-width: 1920px) {
  .container {
    max-width: 80.42% !important;
  }
  /*.navigation-area {
    padding-left: 21%;
}*/
  .top-area .sidemenu {
    padding-left: 15px;
  }
}

@media (max-width: 1699px) {
  .mainmenu ul li {
    margin: 0 36px;
  }
  .mainmenu ul li a {
    padding: 40px 0%;
  }
  .mainmenu ul li a:hover,
  .mainmenu ul li a.active {
    padding: 40px 0%;
  }
  .menu-left ul li ul {
    right: 25px;
  }
  .about-area .caption-area h2 {
    font-size: 72px;
    line-height: 85px;
  }
  .about-area .caption-area h3 {
    font-size: 42px;
    line-height: 48px;
    padding-bottom: 0;
  }
  .range-area .caption-area h2 {
    font-size: 72px;
    line-height: 85px;
  }
  .range-area .caption-area h3 {
    font-size: 42px;
    line-height: 48px;
    padding-bottom: 0;
  }
  .range-area .caption-area {
    margin: auto 12%;
  }
  .deliverytracking-area h3 {
    font-size: 30px;
    line-height: 30px;
    padding-bottom: 0;
  }
  .deliverytracking-area h2 {
    font-size: 42px;
    line-height: 48px;
  }
  .bookameeting .caption-area h3 {
    font-size: 42px;
    line-height: 48px;
    padding-bottom: 0;
  }
  .bookameeting .caption-area h2 {
    font-size: 72px;
    line-height: 85px;
  }
  .footer-area ul li {
    font-size: 19px;
    line-height: 25px;
    margin: 6px 0;
  }
  .footer-area h2 {
    font-size: 21px;
    line-height: 25px;
  }
  .deliverytracking-area {
    padding-bottom: 50px;
  }
  .new-arrival-area h3 {
    font-size: 32px;
    line-height: 36px;
    padding-bottom: 0;
  }
  .new-arrival-area h2 {
    font-size: 40px;
    line-height: 46px;
    padding-bottom: 0;
    margin-bottom: 15px;
  }
  .history-area h2 {
    font-size: 72px;
    line-height: 80px;
  }
  .qc-area h2 {
    font-size: 72px;
    line-height: 80px;
  }
  .qc-area h3 {
    font-size: 40px;
    line-height: 46px;
  }
  .aboutdetail-area h2 {
    font-size: 72px;
    line-height: 80px;
  }
  .aboutdetail-area h3 {
    font-size: 40px;
    line-height: 46px;
  }
  .aboutteam-area h2 {
    font-size: 72px;
    line-height: 80px;
  }
  .aboutteam-area h3 {
    font-size: 40px;
    line-height: 46px;
  }
  .wharehose-area h2 {
    font-size: 72px;
    line-height: 80px;
  }
  .wharehose-area h3 {
    font-size: 40px;
    line-height: 46px;
  }
  .content-area h1 {
    font-size: 60px;
    line-height: 66px;
  }
  .card-header {
    padding: 0.25rem 0.25rem;
  }
  .card-header h5 {
    margin: 0;
    padding: 0;
  }
  #accordion-style-1 .btn-link {
    font-size: 30px;
    line-height: 36px;
  }
}

@media (max-width: 1523px) {
  .mainmenu ul li {
    margin: 0 30px;
  }
}

@media (max-width: 1440px) {
  .featureebox .colorbox .newtag {
    margin-right: 3px;
    font-size: 18px;
    width: 45px;
  }
  .mainmenu ul li {
    margin: 0 24px;
  }
}

@media (max-width: 1366px) {
  .featureebox .colorbox {
    font-size: 15px;
  }
  .featureebox .colorbox .newtag {
    margin-right: 3px;
  }
  .wharehose-area h2 {
    font-size: 85px;
  }
  .moreproduct .list_carousel {
    width: 94%;
  }
  .caroufredsel_wrapper {
    height: 390px !important;
  }
  .featureebox h2 {
    font-size: 20px;
  }
  .mainmenu ul li {
    font-size: 18px;
    margin: 0 24px;
  }
  .navigation-area {
    padding-top: 0px;
    /* padding-left: 28px;*/
  }
  .mainmenu ul li a {
    padding: 40px 0%;
  }
  .mainmenu ul li a:hover,
  .mainmenu ul li a.active {
    padding: 40px 0%;
  }
  .dropdown-toggle::after {
    margin-left: 1px;
  }
  .navigation-area {
    /*padding-left: 5px;*/
  }
  .about-area .caption-area h2 {
    font-size: 72px;
    line-height: 85px;
  }
  .about-area .caption-area h3 {
    font-size: 42px;
    line-height: 48px;
    padding-bottom: 0;
  }
  .range-area .caption-area h2 {
    font-size: 72px;
    line-height: 85px;
  }
  .range-area .caption-area h3 {
    font-size: 42px;
    line-height: 48px;
    padding-bottom: 0;
  }
  .range-area .caption-area {
    margin: auto 12%;
  }
  .deliverytracking-area h3 {
    font-size: 30px;
    line-height: 30px;
    padding-bottom: 0;
  }
  .deliverytracking-area h2 {
    font-size: 42px;
    line-height: 48px;
  }
  .bookameeting .caption-area h3 {
    font-size: 42px;
    line-height: 48px;
    padding-bottom: 0;
  }
  .bookameeting .caption-area h2 {
    font-size: 72px;
    line-height: 85px;
  }
  .footer-area ul li {
    font-size: 19px;
    line-height: 25px;
    margin: 6px 0;
  }
  .footer-area h2 {
    font-size: 21px;
    line-height: 25px;
  }
  .deliverytracking-area {
    padding-bottom: 50px;
  }
  .new-arrival-area h3 {
    font-size: 32px;
    line-height: 36px;
    padding-bottom: 0;
  }
  .new-arrival-area h2 {
    font-size: 40px;
    line-height: 46px;
    padding-bottom: 0;
    margin-bottom: 15px;
  }
  .history-area h2 {
    font-size: 72px;
    line-height: 80px;
  }
  .qc-area h2 {
    font-size: 72px;
    line-height: 80px;
  }
  .qc-area h3 {
    font-size: 40px;
    line-height: 46px;
  }
  .aboutdetail-area h2 {
    font-size: 72px;
    line-height: 80px;
  }
  .aboutdetail-area h3 {
    font-size: 40px;
    line-height: 46px;
  }
  .aboutteam-area h2 {
    font-size: 72px;
    line-height: 80px;
  }
  .aboutteam-area h3 {
    font-size: 40px;
    line-height: 46px;
  }
  .wharehose-area h2 {
    font-size: 72px;
    line-height: 80px;
  }
  .wharehose-area h3 {
    font-size: 40px;
    line-height: 46px;
  }
}

@media (max-width: 1280px) {
  .topright ul li {
    margin: 0 15px;
  }
  .slider-content-wrap h2,
  .slider-content-2 h2 {
    font-size: 85px;
    line-height: 100px;
  }
  .history-area h2 {
    font-size: 72px;
    line-height: 80px;
    margin-bottom: 15px;
  }
  .qc-area h2 {
    font-size: 72px;
    line-height: 80px;
    margin-bottom: 15px;
  }
  .qc-area h3 {
    font-size: 40px;
    line-height: 48px;
    margin-bottom: 15px;
  }
  .aboutdetail-area h2 {
    font-size: 72px;
    line-height: 80px;
    margin-bottom: 15px;
  }
  .aboutdetail-area h3 {
    font-size: 40px;
    line-height: 48px;
    margin-bottom: 15px;
  }
  .aboutteam-area h2 {
    font-size: 72px;
    line-height: 80px;
    margin-bottom: 15px;
  }
  .aboutteam-area h3 {
    font-size: 40px;
    line-height: 48px;
    margin-bottom: 15px;
  }
  .wharehose-area h2 {
    font-size: 72px;
    line-height: 80px;
    margin-bottom: 15px;
  }
  .wharehose-area h3 {
    font-size: 40px;
    line-height: 48px;
    margin-bottom: 15px;
  }
  .range-area .caption-area h2 {
    font-size: 72px;
    line-height: 80px;
    margin-bottom: 15px;
  }
  .range-area .caption-area h3 {
    font-size: 40px;
    line-height: 48px;
    margin-bottom: 15px;
  }
  .bookameeting .caption-area h3 {
    font-size: 40px;
    line-height: 48px;
    margin-bottom: 15px;
  }
  .bookameeting .caption-area h2 {
    font-size: 72px;
    line-height: 80px;
    margin-bottom: 15px;
  }
  .mainmenu ul li a {
    padding: 40px 0%;
  }
  .mainmenu ul li a:hover,
  .mainmenu ul li a.active {
    padding: 40px 1%;
  }
  .mainmenu ul li {
    font-size: 18px;
    margin: 0 16px;
  }
  .dropdown-toggle::after {
    margin-left: 1px;
  }
  .about-area .caption-area h2 {
    font-size: 68px;
    line-height: 77px;
  }
  .about-area .caption-area h3 {
    font-size: 40px;
    line-height: 46px;
    padding-bottom: 0;
  }
  .range-area .caption-area h2 {
    font-size: 68px;
    line-height: 77px;
    padding-bottom: 0;
    margin-bottom: 0;
  }
  .range-area .caption-area h3 {
    font-size: 40px;
    line-height: 46px;
    padding-bottom: 0;
    margin-bottom: 0;
  }
  .range-area .caption-area {
    margin: auto;
  }
  .deliverytracking-area h3 {
    font-size: 28px;
    line-height: 33px;
    padding-bottom: 0;
  }
  .deliverytracking-area h2 {
    font-size: 40px;
    line-height: 46px;
  }
  .bookameeting .caption-area h3 {
    font-size: 40px;
    line-height: 46px;
    padding-bottom: 0;
    margin-bottom: 0;
  }
  .bookameeting .caption-area h2 {
    font-size: 68px;
    line-height: 77px;
    padding-bottom: 0;
    margin-bottom: 0;
  }
  .footer-area ul li {
    font-size: 17px;
    line-height: 22px;
    margin: 6px 0;
  }
  .footer-area h2 {
    font-size: 19px;
    line-height: 24px;
  }
  .deliverytracking-area {
    padding-bottom: 50px;
  }
  .navigation-area {
    padding-left: 30px;
  }
  .new-arrival-area h3 {
    font-size: 28px;
    line-height: 33px;
    padding-bottom: 0;
  }
  .new-arrival-area h2 {
    font-size: 32px;
    line-height: 40px;
    padding-bottom: 0;
    margin-bottom: 15px;
  }
  .history-area h2 {
    font-size: 68px;
    line-height: 77px;
  }
  .qc-area h2 {
    font-size: 68px;
    line-height: 80px;
  }
  .qc-area h3 {
    font-size: 40px;
    line-height: 46px;
  }
  .aboutdetail-area h2 {
    font-size: 68px;
    line-height: 77px;
  }
  .aboutdetail-area h3 {
    font-size: 40px;
    line-height: 46px;
  }
  .aboutteam-area h2 {
    font-size: 68px;
    line-height: 77px;
  }
  .aboutteam-area h3 {
    font-size: 40px;
    line-height: 46px;
  }
  .wharehose-area h2 {
    font-size: 68px;
    line-height: 77px;
  }
  .wharehose-area h3 {
    font-size: 40px;
    line-height: 46px;
  }
}

@media (max-width: 1199px) {
  .history-area {
    text-align: center;
    min-height: 890px;
  }
  .history-area h2 {
    margin-bottom: 0;
    font-size: 60px;
    line-height: 60px;
  }
  .history-area h3 {
    margin-bottom: 30px;
    font-size: 30px;
    line-height: 20px;
  }
  .qc-area {
    text-align: center;
  }
  .qc-area img {
    float: none;
    display: block;
    text-align: center;
    margin: 30px auto;
    width: 100%;
  }
  .qc-area h3 {
    margin-bottom: 12px;
  }
  .aboutdetail-area {
    text-align: center;
  }
  .mainmenu ul li {
    margin: 0 11px;
  }
  .navbar-expand-lg .navbar-collapse {
    margin-left: 11px;
  }
  .topright ul li {
    margin: 0 12px;
  }
  .content-area-cart .cart-right-detailbox {
    display: table;
    margin: 50px auto;
  }
  .caroufredsel_wrapper {
    height: 340px !important;
  }
  .featureebox .colorbox {
    font-size: 10px;
  }
  .featureebox h2 {
    font-size: 16px;
  }
  .wharehose-area h2 {
    font-size: 60px;
    line-height: 60px;
  }
  .navigation-area {
    padding-top: 0px;
    padding-left: 82px;
  }
}

@media (max-width: 1024px) {
  .top-area .sidemenu {
    margin-right: 20px;
  }
  .header-area .logo {
    left: 135px;
  }
  .navigation-area {
    padding-left: 25px;
    margin-left: 0;
  }
  .mainmenu ul li {
    font-size: 16px;
    padding: 0 2px;
  }
  .mainmenu ul li a {
    padding: 40px 0%;
  }
  .mainmenu ul li a:hover,
  .mainmenu ul li a.active {
    padding: 40px 0%;
  }
  .mainmenu ul li {
    margin: 0 4px;
  }
  .slider-content-wrap h2,
  .slider-content-2 h2 {
    font-size: 85px;
  }
  .about-area .caption-area h3 {
    font-size: 40px;
    line-height: 48px;
  }
  .about-area .caption-area h2 {
    font-size: 72px;
    line-height: 86px;
  }
  .range-area .caption-area h2 {
    font-size: 72px;
    line-height: 86px;
  }
  .range-area .caption-area h3 {
    font-size: 40px;
    line-height: 48px;
  }
  .bookameeting .caption-area h2 {
    font-size: 72px;
    line-height: 86px;
  }
  .bookameeting .caption-area h3 {
    font-size: 40px;
    line-height: 48px;
  }
  .history-area h2 {
    margin-bottom: 15px;
    font-size: 60px;
    line-height: 72px;
  }
  .history-area h3 {
    margin-bottom: 30px;
    font-size: 30px;
    line-height: 36px;
  }
  .qc-area h2 {
    font-size: 72px;
    line-height: 86px;
  }
  .qc-area h3 {
    font-size: 40px;
    line-height: 48px;
  }
  .aboutdetail-area h2 {
    font-size: 72px;
    line-height: 86px;
  }
  .aboutdetail-area h3 {
    font-size: 40px;
    line-height: 48px;
  }
  .aboutteam-area h2 {
    font-size: 72px;
    line-height: 86px;
  }
  .aboutteam-area h3 {
    font-size: 40px;
    line-height: 48px;
  }
  .wharehose-area h2 {
    font-size: 72px;
    line-height: 86px;
  }
  .wharehose-area h3 {
    font-size: 40px;
    line-height: 48px;
  }
  .footer-area ul {
    margin-bottom: 50px;
  }
}

@media (max-width: 991px) {
  .navbar-toggler:not(: disabled):not(.disabled) {
    z-index: 99;
  }
  .navbar-toggler {
    background-color: #33bfb4;
    font-size: 1.5rem;
    border: 1px solid #33bfb4;
  }
  .navbar-toggler-icon {
    width: auto;
    height: auto;
  }
  .top-area .search-area {
    position: absolute;
    right: 20px;
  }
  .navigation-area {
    padding-top: 104px;
  }
  .header-area .logo {
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
  }
  .topright {
    float: none;
    display: table;
    margin: 15px auto;
    text-align: center;
  }
  .slider-content-wrap h2,
  .slider-content-2 h2 {
    font-size: 60px;
  }
  .downloads-area .dl-btn {
    margin-bottom: 30px;
  }
  .new-arrival-area .exp-btn {
    margin-bottom: 30px;
  }
  .new-arrival-area h2 {
    text-align: center;
  }
  .new-arrival-area h3 {
    text-align: center;
  }
  .new-arrival-area .exp-btn {
    display: table;
    margin: 30px auto;
    text-align: center;
  }
  .about-area .caption-area h2 {
    text-align: center;
  }
  .about-area .caption-area h3 {
    text-align: center;
  }
  .about-area .caption-area .showmebtn {
    float: none;
    display: table;
    margin: auto;
    text-align: center;
  }
  .downloads-area h2 {
    text-align: center;
  }
  .downloads-area h3 {
    text-align: center;
  }
  .range-area .caption-area h2 {
    text-align: center;
  }
  .range-area .caption-area h3 {
    text-align: center;
  }
  .range-area .caption-area .vrangebtn {
    float: none;
    display: table;
    margin: auto;
    text-align: center;
  }
  .deliverytracking-area .partner-btn {
    display: table;
    margin: 0 auto;
    padding: 0;
    text-align: center;
  }
  .about-area .caption-area h2 {
    font-size: 60px;
  }
  .deliverytracking-area .deliveryl {
    font-size: 60px;
  }
  .deliverytracking-area .tranckingc {
    font-size: 60px;
  }
  .range-area .caption-area h2 {
    font-size: 60px;
  }
  .bookameeting .caption-area h2 {
    font-size: 60px;
  }
  .deliverytracking-area .partner-btn {
    max-width: 270px;
    padding: 12px 24px;
    color: #000;
    font-size: 20px;
    text-transform: uppercase;
    text-align: center;
    border-radius: 25px;
    border: solid 3px #00cebf;
  }
  .bookameeting .caption-area .bookameeting-btn {
    text-align: center;
    float: none;
    display: table;
    margin: auto;
  }
  .aboutteam-area h2 {
    font-size: 60px;
    text-align: center;
    margin-bottom: 12px;
    line-height: 70px;
  }
  .aboutteam-area h3 {
    font-size: 30px;
    text-align: center;
    line-height: 36px;
  }
  .wharehose-area h2 {
    font-size: 60px;
    line-height: 70px;
    margin-bottom: 12px;
    text-align: center;
  }
  .wharehose-area h3 {
    font-size: 30px;
    text-align: center;
    line-height: 36px;
  }
  .wharehose-area {
    text-align: center;
  }
  .qc-area h2 {
    margin-bottom: 0;
    font-size: 60px;
    line-height: 70px;
  }
  .qc-area h3 {
    margin-bottom: 30px;
    font-size: 30px;
    line-height: 36px;
  }
  .aboutdetail-area h2 {
    font-size: 60px;
    line-height: 70px;
    margin-bottom: 0;
    text-align: center;
  }
  .aboutdetail-area h3 {
    font-size: 30px;
    text-align: center;
    line-height: 36px;
    margin-bottom: 15px;
  }
  .social-area {
    float: none;
    display: table;
    margin: 12px auto;
  }
  #accordion-style-1 .btn-link {
    font-size: 28px;
  }
  #accordion-style-1 .card-header .btn .fa.main {
    font-size: 36px;
  }
  #accordion-style-1 .card-header .btn.collapsed .fa.closedd {
    font-size: 36px;
  }
  .downloadpopup {
    max-width: 625px;
  }
  .searchform {
    left: auto;
    right: 0;
  }
  .content-area-cart .cart-right-detailbox {
    display: table;
    margin: 50px auto;
  }
  .mainmenu ul li ul li ul {
    width: 75%;
  }
  .dropdown-menu {
    min-width: auto;
  }
  .navigation-area {
    padding-left: 0;
  }
  .content-area {
    padding-top: 0;
    padding-bottom: 5px;
  }
  .content-area h1 {
    font-size: 70px;
    line-height: 70px;
  }
  .content-area h3 {
    font-size: 30px;
    line-height: 36px;
  }
  .history-area h2 {
    margin-bottom: 15px;
    font-size: 60px;
    line-height: 72px;
  }
}

/* small mobile :320px. */

@media (max-width: 767px) {
  .navbar-toggler:not(: disabled):not(.disabled) {
    z-index: 99;
  }
  .navbar-toggler {
    background-color: #33bfb4;
    font-size: 1.5rem;
    border: 1px solid #33bfb4;
  }
  .navbar-toggler-icon {
    width: auto;
    height: auto;
  }
  /*.top-area .search-area{float:right;}*/
  .navigation-area {
    padding-top: 104px;
  }
  .header-area .logo {
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
  }
  .mainmenu ul,
  .mainmenu ul li {
    float: none;
    text-align: center;
    margin: 0;
  }
  .mainmenu ul li a:hover,
  .mainmenu ul li a.active {
    display: block;
    width: 100%;
  }
  .topright {
    float: none;
    display: table;
    margin: 15px auto;
    text-align: center;
  }
  .slider-content-wrap h2,
  .slider-content-2 h2 {
    font-size: 60px;
  }
  .downloads-area .dl-btn {
    margin-bottom: 30px;
  }
  .new-arrival-area .exp-btn {
    margin-bottom: 30px;
  }
  .new-arrival-area h2 {
    text-align: center;
  }
  .new-arrival-area h3 {
    text-align: center;
  }
  .new-arrival-area .exp-btn {
    display: table;
    margin: 12px auto;
    text-align: center;
  }
  .about-area .caption-area h2 {
    text-align: center;
  }
  .about-area .caption-area h3 {
    text-align: center;
  }
  .about-area .caption-area .showmebtn {
    float: none;
    display: table;
    margin: auto;
    text-align: center;
  }
  .downloads-area h2 {
    text-align: center;
  }
  .downloads-area h3 {
    text-align: center;
  }
  .downloads-area .dl-btn {
    float: none;
    display: table;
    margin: 30px auto;
    text-align: center;
  }
  .range-area .caption-area h2 {
    text-align: center;
  }
  .range-area .caption-area h3 {
    text-align: center;
  }
  .range-area .caption-area .vrangebtn {
    float: none;
    display: table;
    margin: auto;
    text-align: center;
  }
  .deliverytracking-area h3 {
    text-align: center;
  }
  .deliverytracking-area h2 {
    text-align: center;
  }
  .deliverytracking-area .partner-btn {
    display: table;
    margin: 0 auto;
    text-align: center;
  }
  .about-area .caption-area h2 {
    font-size: 60px;
  }
  .deliverytracking-area .deliveryl {
    font-size: 60px;
  }
  .deliverytracking-area .tranckingc {
    font-size: 60px;
  }
  .range-area .caption-area h2 {
    font-size: 60px;
  }
  .bookameeting .caption-area h2 {
    font-size: 60px;
  }
  .downloads-area img {
    margin: 30px auto 15px auto;
    display: block;
    text-align: center;
  }
  .bookameeting .caption-area h3 {
    text-align: center;
    font-size: 40px;
  }
  .fancybox-title-inside-wrap h1 {
    font-size: 40px;
  }
  #accordion-style-1 .btn-link {
    font-size: 16px;
  }
  #accordion-style-1 .card-header .btn .fa.main {
    font-size: 20px;
    right: 0;
  }
  #accordion-style-1 .card-header .btn.collapsed .fa.closedd {
    font-size: 20px;
  }
  #accordion-style-1 .card-body {
    font-size: 16px;
    line-height: 24px;
  }
  #accordion-style-1 .card-header .btn .fa.main {
    font-size: 16px;
    right: 0;
  }
  .downloadpopup {
    max-width: 480px;
  }
  .cartbtnl {
    float: none;
    display: table;
    text-align: center;
    margin: 30px auto;
  }
  .content-area-cart .cartbtn {
    float: none;
    display: table;
    text-align: center;
    margin: 30px auto;
  }
  .content-area-cart .cartbtn:hover {
    float: none;
    display: table;
    text-align: center;
    margin: 30px auto;
  }
  .text-right {
    text-align: left !important;
  }
  .mainmenu ul li a {
    float: none;
    display: block;
  }
  .mainmenu ul li {
    position: relative;
  }
  .mainmenu ul li ul li {
    float: none;
    display: table;
    text-align: center;
    margin: auto;
    width: 100%;
  }
  .mainmenu ul li:first-child {
    margin-left: auto;
    margin-right: auto;
  }
  .mainmenu ul li:last-child {
    margin-left: auto;
    margin-right: auto;
  }
  .mainmenu ul li ul li a {
    float: none;
    display: block;
    text-align: center;
  }
  .dropdown-menu {
    min-width: auto;
  }
  .mainmenu ul li ul li ul {
    left: 0;
    right: 0;
    margin: auto;
    display: table;
    text-align: center;
  }
  .mainmenu ul li ul li ul li {
    float: none;
    text-align: center;
    margin: 10px auto;
  }
  .chatbot-area .chat-inner .chatbox-inner .chatleft .ctextbox {
    font-size: 16px;
  }
  .chatbot-area .chat-inner .chatbox-inner .chatright .ctextbox {
    font-size: 16px;
  }
  .chatbot-area .chat-inner h2 {
    font-size: 50px;
  }
  .chatbot-area .chat-inner h3 {
    font-size: 25px;
  }
  .chatbot-area .chat-inner .chatbox-inner {
    padding: 15px;
  }
  .sidenav .sidenav-inner a h2 {
    font-size: 72px;
    line-height: 60px;
  }
  .sidenav .sidenav-inner a:hover h2 {
    font-size: 72px;
    line-height: 60px;
  }
  .caroufredsel_wrapper {
    height: 375px !important;
  }
  .featureebox .colorbox {
    font-size: 17px;
  }
  .featureebox .colorbox .newtag {
    margin-right: 5px;
  }
  .aboutteam-area {
    margin-bottom: 60px;
  }
  .wharehose-area {
    margin-top: 0;
  }
  .content-area {
    padding-top: 0;
    padding-bottom: 5px;
  }
  .termsconditons {
    font-size: 20px;
    line-height: 30px;
  }
  .termsconditons ul li {
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 15px;
  }
  .content-area h1 {
    font-size: 62px;
    line-height: 65px;
  }
  .content-area h3 {
    font-size: 24px;
    line-height: 30px;
  }
  .card-header {
    padding: 5px 15px;
  }
  #accordion-style-1 .card-header h5 {
    margin: 0;
    padding: 0;
  }
  #accordion-style-1 .card-header .btn .fa.main {
    padding-top: 5px;
  }
  .card-body {
    margin-top: -16px;
    font-size: 16px;
    line-height: 24px;
  }
  #accordion-style-1 .card-header .btn.collapsed .fa.closedd {
    top: 0;
  }
  .navbar-light .navbar-toggler .maintext {
    color: #fff;
    text-align: center;
    left: 0;
    right: 0;
    margin: 0 auto;
    font-size: 20px;
    position: absolute;
    top: 6px;
    text-transform: uppercase;
    outline: 0;
    border: none;
  }
  .navbar-toggle {
    position: relative;
    width: 200px;
    margin: 15px auto;
    float: none;
    background: #ff7d12;
    background-color: rgb(255, 125, 18);
    display: table;
  }
  .navbar-light .navbar-toggler-icon {
    background-image: none;
    float: left;
  }
  .navbar-light .navbar-toggler {
    position: relative;
    width: 200px;
    margin: 15px auto;
    float: none;
  }
}

/* Large Mobile :480px. */

@media only screen and (min-width: 576px) and (max-width: 766px) {
  .slider-content-wrap h2,
  .slider-content-2 h2 {
    font-size: 60px;
  }
}

@media (max-width: 685px) {
  .chatbot-area .chat-inner .chatbox-inner .chatleft .ctextbox {
    font-size: 14px;
  }
  .chatbot-area .chat-inner .chatbox-inner .chatright .ctextbox {
    font-size: 14px;
  }
  .featureebox .colorbox {
    font-size: 15px;
  }
  .featureebox .colorbox .newtag {
    margin-right: 3px;
  }
}

@media (max-width: 600px) {
  .downloadpopup {
    max-width: 380px;
  }
  .downloadpopup h2 {
    font-size: 55px;
    line-height: 65px;
  }
  .formarea .downloadpopup input {
    font-size: 20px;
    line-height: 36px;
  }
  .chatbot-area .chat-inner .chatbox-inner .chatleft .imgleft {
    width: 12%;
    margin-top: 10px;
  }
  .chatbot-area .chat-inner .chatbox-inner .chatleft .ctextbox {
    line-height: 20px;
  }
  .chatbot-area .chat-inner .chatbox-inner .chatright .ctextbox {
    line-height: 20px;
  }
  .chatbot-area .chat-inner .bchatboxx input[type="text"] {
    padding: 10px 5px;
    width: 80%;
  }
  .featureebox .colorbox {
    font-size: 13px;
  }
  .featureebox .colorbox .newtag {
    margin-right: 1px;
  }
}

@media (max-width: 575px) {
  .slider-content-wrap h2,
  .slider-content-2 h2 {
    font-size: 55px;
  }
  .bookameeting .caption-area h2 {
    font-size: 50px;
  }
  .footer-area h2 br {
    display: none;
  }
  .fancybox-title-inside-wrap h1 {
    font-size: 30px;
  }
  .sidenav .sidenav-inner a h2 {
    font-size: 65px;
    line-height: 30px;
  }
  .sidenav .sidenav-inner a:hover h2 {
    font-size: 65px;
    line-height: 30px;
  }
  .caroufredsel_wrapper {
    height: 375px !important;
  }
  .featureebox .colorbox {
    font-size: 18px;
  }
  .featureebox .colorbox .newtag {
    margin-right: 5px;
  }
  .aboutteam-area {
    margin-bottom: 40px;
  }
  .wharehose-area {
    margin-top: 0;
  }
  .fancybox-title-inside-wrap h1 {
    font-size: 27px;
    line-height: 30px;
  }
  .fancybox-title-inside-wrap p {
    font-size: 18px;
    line-height: 26px;
  }
  .gallery-area img {
    display: table;
    margin: 15px auto;
  }
}

@media (max-width: 480px) {
  .slider-content-wrap h2,
  .slider-content-2 h2 {
    font-size: 42px;
  }
  #accordion-style-1 .btn-link {
    font-size: 15px;
    padding-left: 0;
  }
  #accordion-style-1 .card-header .btn .fa.main {
    font-size: 16px;
    right: 0;
  }
  #accordion-style-1 .card-header .btn.collapsed .fa.closedd {
    font-size: 16px;
    right: 0;
  }
  #accordion-style-1 .card-body {
    font-size: 17px;
    line-height: 24px;
  }
  .sidenav a h2 {
    font-size: 53px;
    line-height: 30px;
  }
  .sidenav a:hover h2 {
    font-size: 53px;
    line-height: 30px;
  }
  .content-area h1 {
    font-size: 30px;
  }
  .qtyindes input[type="text"] {
    width: 70%;
    font-size: 20px;
  }
  .colorpricebox {
    padding: 8px;
    font-size: 16px;
    border-radius: 20px;
  }
  .colorspot img {
    margin-right: 5px;
  }
  .selectionbox {
    min-width: 150px;
    font-size: 16px;
  }
  .card-header {
    padding: 15px 8px;
  }
  .downloadpopup h2 {
    font-size: 46px;
    line-height: 42px;
  }
  .downloadpopup ul li {
    padding-left: 60px;
    font-size: 30px;
    line-height: 36px;
  }
  .downloadpopup {
    padding: 10px;
  }
  .downloadpopup {
    margin: 20px auto;
  }
  .downloadpopup ul {
    margin-bottom: 0;
  }
  .formarea .downloadpopup input[type="image"] {
    margin: 0 auto;
  }
  .topright ul li {
    margin: 0 6px;
  }
  .wharehose-area h2 {
    font-size: 42px;
    line-height: 47px;
  }
  .chatbot-area .chat-inner .bchatboxx input[type="text"] {
    padding: 10px 5px;
    width: 100%;
    margin-bottom: 8px;
  }
  .chatbot-area .chat-inner .bchatboxx input[type="image"] {
    padding: 10px 5px;
    max-width: 100%;
    display: block;
    margin: 0 auto;
    text-align: center;
    float: none;
  }
  .sidenav .sidenav-inner a h2 {
    font-size: 55px;
    line-height: 30px;
  }
  .sidenav .sidenav-inner a:hover h2 {
    font-size: 55px;
    line-height: 30px;
  }
  .searchform {
    width: 357px;
  }
  .caroufredsel_wrapper {
    height: 330px !important;
  }
  .aboutteam-area {
    margin-bottom: 40px;
  }
  .wharehose-area {
    margin-top: 0;
  }
  .fancybox-title-inside-wrap h1 {
    font-size: 24px;
    line-height: 30px;
  }
  .fancybox-title-inside-wrap p {
    font-size: 16px;
    line-height: 24px;
  }
  #s {
    width: 290px;
  }
  .social-area02 a {
    padding: 10px !important;
  }
  slider-active.owl-carousel .owl-nav div {
    top: 54%;
  }
  .new-arrival-area h2 {
    font-size: 40px;
    line-height: 48px;
  }
  .new-arrival-area h3 {
    font-size: 32px;
    line-height: 36px;
  }
  .about-area .caption-area h2 {
    font-size: 40px;
  }
  .about-area .caption-area h3 {
    font-size: 32px;
  }
  .about-area .caption-area .showmebtn:hover {
    float: none;
  }
  .downloads-area h3 {
    font-size: 32px;
    line-height: 36px;
  }
  .downloads-area h2 {
    font-size: 40px;
    line-height: 48px;
  }
  .range-area .caption-area h3 {
    font-size: 32px;
    line-height: 36px;
  }
  .range-area .caption-area h2 {
    font-size: 40px;
    line-height: 48px;
  }
  .deliverytracking-area h3 {
    font-size: 32px;
    line-height: 36px;
  }
  .deliverytracking-area h2 {
    font-size: 40px;
    line-height: 48px;
  }
  .bookameeting .caption-area h3 {
    font-size: 32px;
    line-height: 36px;
  }
  .bookameeting .caption-area h2 {
    font-size: 40px;
    line-height: 48px;
  }
  .history-area h2 {
    font-size: 40px;
    line-height: 48px;
  }
  .history-area h3 {
    font-size: 32px;
    line-height: 36px;
  }
  .qc-area h2 {
    font-size: 40px;
    line-height: 48px;
  }
  .qc-area h3 {
    font-size: 32px;
    line-height: 36px;
  }
  .aboutdetail-area h2 {
    font-size: 40px;
    line-height: 48px;
  }
  .aboutdetail-area h3 {
    font-size: 32px;
    line-height: 36px;
  }
  .aboutteam-area h2 {
    font-size: 40px;
    line-height: 48px;
  }
  .aboutteam-area h3 {
    font-size: 32px;
    line-height: 36px;
  }
  .wharehose-area h2 {
    font-size: 40px;
    line-height: 48px;
  }
  .wharehose-area h3 {
    font-size: 32px;
    line-height: 36px;
  }
  .content-area-cart h1 {
    font-size: 50px;
    line-height: 60px;
  }
  .content-area-cart h3 {
    font-size: 32px;
    line-height: 36px;
  }
  .content-area-cart .productbox h2 {
    font-size: 20px;
    line-height: 24px;
  }
}

@media (max-width: 414px) {
  #s {
    width: 290px;
  }
  .social-area02 a {
    padding: 10px !important;
  }
  slider-active.owl-carousel .owl-nav div {
    top: 54%;
  }
  .new-arrival-area h2 {
    font-size: 40px;
    line-height: 48px;
  }
  .new-arrival-area h3 {
    font-size: 32px;
    line-height: 36px;
  }
  .about-area .caption-area h2 {
    font-size: 40px;
  }
  .about-area .caption-area h3 {
    font-size: 32px;
  }
  .about-area .caption-area .showmebtn:hover {
    float: none;
  }
  .downloads-area h3 {
    font-size: 32px;
    line-height: 36px;
  }
  .downloads-area h2 {
    font-size: 40px;
    line-height: 48px;
  }
  .range-area .caption-area h3 {
    font-size: 32px;
    line-height: 36px;
  }
  .range-area .caption-area h2 {
    font-size: 40px;
    line-height: 48px;
  }
  .deliverytracking-area h3 {
    font-size: 32px;
    line-height: 36px;
  }
  .deliverytracking-area h2 {
    font-size: 40px;
    line-height: 48px;
  }
  .bookameeting .caption-area h3 {
    font-size: 32px;
    line-height: 36px;
  }
  .bookameeting .caption-area h2 {
    font-size: 40px;
    line-height: 48px;
  }
  .history-area h2 {
    font-size: 40px;
    line-height: 48px;
  }
  .history-area h3 {
    font-size: 32px;
    line-height: 36px;
  }
  .qc-area h2 {
    font-size: 40px;
    line-height: 48px;
  }
  .qc-area h3 {
    font-size: 32px;
    line-height: 36px;
  }
  .aboutdetail-area h2 {
    font-size: 40px;
    line-height: 48px;
  }
  .aboutdetail-area h3 {
    font-size: 32px;
    line-height: 36px;
  }
  .aboutteam-area h2 {
    font-size: 40px;
    line-height: 48px;
  }
  .aboutteam-area h3 {
    font-size: 32px;
    line-height: 36px;
  }
  .wharehose-area h2 {
    font-size: 40px;
    line-height: 48px;
  }
  .wharehose-area h3 {
    font-size: 32px;
    line-height: 36px;
  }
  .content-area-cart h1 {
    font-size: 50px;
    line-height: 60px;
  }
  .content-area-cart h3 {
    font-size: 32px;
    line-height: 36px;
  }
  .content-area-cart .productbox h2 {
    font-size: 20px;
    line-height: 24px;
  }
}

@media (max-width: 399px) {
  .social-area h3 {
    float: none;
    margin-bottom: 8px;
    text-align: center;
  }
  .content-area h1 {
    font-size: 42px;
    line-height: 40px;
  }
  .sidenav .sidenav-inner a h2 {
    font-size: 53px;
    line-height: 30px;
  }
  .sidenav .sidenav-inner a:hover h2 {
    font-size: 53px;
    line-height: 30px;
  }
  .searchform {
    width: 320px;
  }
  #s {
    width: 300px;
  }
  .topright ul li {
    margin: 0 2px;
  }
  .sidenav .sidenav-inner a h2 {
    font-size: 42px;
    line-height: 20px;
  }
  .sidenav .sidenav-inner a:hover h2 {
    font-size: 42px;
    line-height: 20px;
  }
  .arrivaldate {
    padding-left: 95px;
    font-size: 26px;
    min-width: 320px;
  }
  .olddate {
    padding-left: 95px;
    font-size: 26px;
    min-width: 320px;
  }
  .slider-content-wrap h2,
  .slider-content-2 h2 {
    font-size: 36px;
  }
  .downloads-area h2 {
    font-size: 44px;
  }
  .range-area .caption-area h3 {
    font-size: 36px;
  }
  .range-area .caption-area h2 {
    font-size: 46px;
  }
  .caroufredsel_wrapper {
    height: 305px !important;
  }
  .downloadpopup h3 {
    font-size: 30px;
  }
  .downloadpopup h2 {
    font-size: 36px;
    line-height: 36px;
  }
  .downloadpopup ul li {
    padding-left: 60px;
    font-size: 24px;
    line-height: 30px;
  }
  .downloadpopup ul li {
    margint-bottom: 20px;
  }
  .formarea .downloadpopup input {
    padding: 5px 30px;
    margin-bottom: 15px;
  }
  .formarea .downloadpopup input {
    font-size: 15px;
  }
  .bookameeting .caption-area h2 {
    font-size: 40px;
    text-align: center;
  }
  .about-area .caption-area h3 {
    font-size: 42px;
  }
  .about-area .caption-area h2 {
    font-size: 48px;
    line-height: 50px;
  }
  .deliverytracking-area h3 {
    font-size: 30px;
    line-height: 36px;
  }
  .deliverytracking-area h2 {
    font-size: 42px;
    line-height: 46px;
  }
  .content-area-cart .cart-right-detailbox .detailinner {
    padding-left: 15px;
    padding-right: 15px;
  }
  .content-area-cart .cart-right-detailbox .detailinner .txtbox .iconbox {
    width: 24px;
    height: 26px;
    margin-right: 10px;
  }
  .content-area-cart .cart-right-detailbox .detailinner .txtbox input {
    width: 82%;
    float: left;
    font-size: 17px;
  }
  .content-area-cart h1 {
    font-size: 50px;
    line-height: 60px;
  }
  .content-area-cart {
    padding-top: 0;
    padding-bottom: 0;
  }
  .footer-area ul {
    margin-bottom: 30px;
  }
  .history-area h2 {
    margin-bottom: 20px;
    font-size: 50px;
    line-height: 49px;
  }
  .history-area {
    padding-top: 15px;
  }
  .qc-area h2 {
    margin-bottom: 20px;
    font-size: 50px;
    line-height: 50px;
  }
  .deliverytracking-area ul {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .deliverytracking-area .partner-btn {
    margin-bottom: 20px;
  }
  .aboutdetail-area h2 {
    margin-bottom: 20px;
    font-size: 50px;
    line-height: 49px;
  }
  .aboutteam-area h2 {
    margin-bottom: 20px;
    font-size: 50px;
    line-height: 49px;
  }
  .aboutteam-area h3 {
    font-size: 24px;
    text-align: center;
    line-height: 30px;
    padding-bottom: 30px;
  }
  .aboutteam-area {
    margin-bottom: 40px;
  }
  .wharehose-area {
    margin-top: 0;
  }
  .content-area {
    padding-top: 0;
    padding-bottom: 5px;
  }
  .fancybox-title-inside-wrap h1 {
    font-size: 23px;
    line-height: 30px;
  }
  .fancybox-title-inside-wrap p {
    font-size: 16px;
    line-height: 22px;
  }
  .card-header .btn {
    white-space: normal;
  }
}

@media (max-width: 375px) {
  .sidenav .sidenav-inner a h2 {
    font-size: 30px;
    line-height: 36px;
  }
  .sidenav .sidenav-inner a:hover h2 {
    font-size: 30px;
    line-height: 36px;
  }
  .searchform {
    width: 275px;
  }
  #s {
    width: 209px;
    font-size: 13px;
  }
  .new-arrival-area h2 {
    font-size: 33px;
    line-height: 38px;
  }
  .new-arrival-area h3 {
    font-size: 28px;
    line-height: 36px;
  }
  .about-area .caption-area h3 {
    font-size: 30px;
  }
  .about-area .caption-area h2 {
    font-size: 36px;
    line-height: 42px;
  }
  .downloads-area h3 {
    font-size: 30px;
    line-height: 36px;
  }
  .downloads-area h2 {
    font-size: 36px;
    line-height: 42px;
  }
  .deliverytracking-area h2 {
    font-size: 36px;
    line-height: 42px;
  }
  .bookameeting .caption-area h3 {
    text-align: center;
    font-size: 30px;
  }
  .bookameeting .caption-area h2 {
    font-size: 36px;
    text-align: center;
    line-height: 42px;
  }
  .sidenav .sidenav-inner a h2 {
    margin-bottom: 10px;
  }
  .sidenav .sidenav-inner a:hover h2 {
    margin-bottom: 10px;
  }
  .social-area02 a {
    padding: 3px !important;
  }
}

@media (max-width: 326px) {
  .caroufredsel_wrapper {
    height: 405px !important;
  }
  .slider-active.owl-carousel .owl-nav div {
    top: 60%;
  }
  .topright ul li:first-child {
    float: none;
  }
  .topright ul li {
    margin: 0 15px;
  }
  .sidenav .sidenav-inner a h2 {
    font-size: 30px;
    line-height: 36px;
  }
  .sidenav .sidenav-inner a:hover h2 {
    font-size: 30px;
    line-height: 36px;
  }
  .searchform {
    width: 275px;
  }
  #s {
    width: 209px;
    font-size: 13px;
  }
  .new-arrival-area h2 {
    font-size: 33px;
    line-height: 38px;
  }
  .new-arrival-area h3 {
    font-size: 28px;
    line-height: 36px;
  }
  .about-area .caption-area h3 {
    font-size: 30px;
  }
  .about-area .caption-area h2 {
    font-size: 36px;
    line-height: 42px;
  }
  .downloads-area h3 {
    font-size: 30px;
    line-height: 36px;
  }
  .downloads-area h2 {
    font-size: 36px;
    line-height: 42px;
  }
  .deliverytracking-area h2 {
    font-size: 36px;
    line-height: 42px;
  }
  .bookameeting .caption-area h3 {
    text-align: center;
    font-size: 30px;
  }
  .bookameeting .caption-area h2 {
    font-size: 36px;
    text-align: center;
    line-height: 42px;
  }
}

/*changes on 10-10-2019 starts*/

@media (max-width: 1920px) {
  .mainmenu ul li {
    font-size: 16px;
  }
  .slider-content-wrap h2,
  .slider-content-2 h2 {
    font-size: 85px;
  }
  .new-arrival-area h3 {
    font-size: 26px;
    line-height: 32px;
    text-transform: uppercase;
    padding: 0;
    margin: 0;
  }
  .new-arrival-area h2 {
    font-size: 40px;
    line-height: 48px;
  }
  .slidebox h4,
  .slidebox p {
    font-size: 16px;
    line-height: 20px;
  }
  .about-area .caption-area h3 {
    font-size: 40px;
    line-height: 36px;
    padding: 0;
    margin: 0;
  }
  .about-area .caption-area h2 {
    font-size: 80px;
    line-height: 80px;
    padding: 0;
    margin: 0;
  }
  .downloads-area h3 {
    font-size: 26px;
    line-height: 32px;
    padding: 0;
    margin: 0;
  }
  .downloads-area h2 {
    font-size: 40px;
    line-height: 48px;
    padding: 0;
    margin: 0;
  }
  .downloads-area ul li {
    font-size: 16px;
    line-height: 20px;
  }
  .range-area .caption-area h3 {
    font-size: 40px;
    line-height: 36px;
    padding: 0;
    margin: 0;
  }
  .range-area .caption-area h2 {
    font-size: 80px;
    line-height: 75px;
    padding: 0;
    margin: 0;
  }
  .deliverytracking-area {
    font-size: 14px;
  }
  .deliverytracking-area h3 {
    font-size: 26px;
    line-height: 32px;
    padding: 0;
    margin: 0;
  }
  .deliverytracking-area h2 {
    font-size: 40px;
    line-height: 48px;
    padding: 0;
    margin: 0;
  }
  .deliverytracking-area ul li {
    font-size: 15px;
    line-height: 20px;
    margin-bottom: 15px;
  }
  .bookameeting .caption-area h3 {
    font-size: 40px;
    line-height: 48px;
    padding: 0;
    margin: 0;
  }
  .bookameeting .caption-area h2 {
    font-size: 80px;
    line-height: 90px;
    padding: 0;
    margin: 0;
  }
  .footer-area h2 {
    font-size: 20px;
    line-height: 24px;
    padding: 0;
    margin: 0;
  }
  .footer-area ul li {
    font-size: 18px;
    line-height: 22px;
  }
  .social-area h3 {
    font-size: 16px;
  }
  .footer-bottom {
    font-size: 16px;
    line-height: 20px;
  }
  .mainmenu ul li a {
    padding: 43px 20%;
  }
  .mainmenu ul li a:hover,
  .mainmenu ul li a.active {
    padding: 43px 20%;
  }
  .dropdown:hover .dropdown-menu {
    display: block;
  }
  .dropdown-menu li:hover .sub-menu {
    visibility: visible;
  }
  .slider-active.owl-carousel .owl-nav div,
  .slider-active.owl-carousel .owl-nav div:hover {
    background-color: transparent;
    border: none;
  }
  .header-area .logo {
    left: 9.63%;
  }
  .top-area .sidemenu {
    /*margin-right:38px;*/
    margin-right: 1%;
  }
  .new-arrival-area {
    background-size: contain !important;
    background: url("../images/newarrival.jpg") no-repeat right bottom;
    padding-top: 175px;
    margin-top: 20px;
  }
  .featureebox:hover img {
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .gallery-area img {
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .about-area .caption-area .showmebtn {
    transition-duration: 0.5s;
  }
  .about-area .caption-area .showmebtn:hover {
    transition-duration: 0.5s;
  }
  .new-arrival-area .exp-btn {
    transition-duration: 0.5s;
  }
  .new-arrival-area .exp-btn:hover {
    transition-duration: 0.5s;
  }
  .downloads-area .dl-btn {
    transition-duration: 0.5s;
  }
  .downloads-area .dl-btn:hover {
    transition-duration: 0.5s;
  }
  .deliverytracking-area .partner-btn {
    transition-duration: 0.5s;
  }
  .deliverytracking-area .partner-btn:hover {
    transition-duration: 0.5s;
  }
  .bookameeting .caption-area .bookameeting-btn {
    transition-duration: 0.5s;
  }
  .bookameeting .caption-area .bookameeting-btn:hover {
    transition-duration: 0.5s;
  }
  .search-area {
    z-index: 99;
  }
  .sidenav .sidenav-inner a h2,
  .sidenav .sidenav-inner a:hover h2 {
    font-size: 62px;
    line-height: 62px;
    padding: 0;
    margin: 0;
  }
  .sidenav .sidenav-inner ul li {
    font-size: 36px;
    line-height: 24px;
    width: 50%;
    font-family: "airbnb_cereal_appmedium";
  }
  .sidenav .sidenav-inner a {
    font-size: 20px;
  }
  .mainmenu ul li ul li ul {
    border-radius: 0;
    -webkit-border-bottom-right-radius: 25px;
    -webkit-border-bottom-left-radius: 25px;
    -moz-border-radius-bottomright: 25px;
    -moz-border-radius-bottomleft: 25px;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
    left: 0;
  }
  .gallery-bottom .product-btn {
    transition-duration: 0.5s;
  }
  .gallery-bottom .product-btn:hover {
    transition-duration: 0.5s;
  }
  .featureebox:hover .addtocart-btn {
    transition-duration: 0.5s;
  }
  .featureebox:hover .addtocart-btn:hover {
    transition-duration: 0.5s;
  }
  .downloadpopup ul li a {
    color: #505050;
    text-decoration: none;
  }
  .downloadpopup ul li a:hover {
    color: #33bfb4;
    text-decoration: none;
  }
  .dropdown-menu {
    min-width: 840px;
  }
  .mainmenu ul li ul li ul li a:hover {
    background: none;
    padding-left: 10px;
  }
  .history-area h2 {
    font-size: 80px;
    line-height: 80px;
    padding: 0;
    margin: 0;
  }
  .history-area h3 {
    font-size: 35px;
    line-height: 40px;
    padding: 0;
    margin: 0;
  }
  .qc-area h2 {
    font-size: 80px;
    line-height: 80px;
    padding: 0;
    margin: 0;
  }
  .qc-area h3 {
    font-size: 35px;
    line-height: 40px;
    padding: 0;
    margin: 0;
  }
  .aboutdetail-area h2 {
    font-size: 80px;
    line-height: 80px;
    padding: 0;
    margin: 0;
  }
  .aboutdetail-area h3 {
    font-size: 35px;
    line-height: 40px;
    padding: 0;
    margin: 0;
    padding-bottom: 15px;
  }
  .aboutteam-area h2 {
    font-size: 80px;
    line-height: 80px;
    padding: 0;
    margin: 0;
  }
  .aboutteam-area h3 {
    font-size: 35px;
    line-height: 40px;
    padding: 0;
    margin: 0;
    padding-bottom: 15px;
  }
  .wharehose-area h2 {
    font-size: 80px;
    line-height: 80px;
    padding: 0;
    margin: 0;
  }
  .wharehose-area h3 {
    font-size: 35px;
    line-height: 40px;
    padding: 0;
    margin: 0;
    padding-bottom: 15px;
  }
  .dropdown-toggle::after {
    display: none;
  }
  .range-area .caption-area .vrangebtn {
    transition-duration: 0.5s;
  }
  .range-area .caption-area .vrangebtn:hover {
    transition-duration: 0.5s;
  }
}

@media (max-width: 1280px) {
  .mainmenu ul li a:hover,
  .mainmenu ul li a.active {
    padding: 40px 0%;
  }
}

@media (max-width: 1024px) {
  .new-arrival-area h3 {
    font-size: 25px;
    line-height: 30px;
    padding-bottom: 0;
  }
  .new-arrival-area h2 {
    font-size: 28px;
    line-height: 33px;
    padding-bottom: 0;
  }
  .dropdown-menu {
    min-width: 560px;
    left: 0;
  }
  .social-area {
    display: table;
    margin: 20px auto;
    float: none;
  }
  #accordion-style-1 .card-header .btn.collapsed .fa.closedd {
    font-size: 30px;
    top: 0;
  }
  #accordion-style-1 .card-header .btn .fa.main {
    font-size: 30px;
    top: 0;
  }
}

@media (max-width: 991px) {
  .navbar-light .navbar-toggler .maintext {
    color: #fff;
    text-align: center;
    left: 0;
    right: 0;
    margin: 0 auto;
    font-size: 20px;
    position: absolute;
    top: 6px;
    text-transform: uppercase;
    outline: 0;
    border: none;
  }
  .navbar-toggle {
    position: relative;
    width: 200px;
    margin: 15px auto;
    float: none;
    background: #ff7d12;
    background-color: rgb(255, 125, 18);
    display: table;
  }
  .navbar-light .navbar-toggler-icon {
    background-image: none;
    float: left;
  }
  .navbar-light .navbar-toggler {
    position: relative;
    width: 200px;
    margin: 15px auto;
    float: none;
  }
  .mainmenu ul li a {
    /*padding: 40px 30%;*/
  }
  .mainmenu ul li a:hover,
  .mainmenu ul li a.active {
    padding: 40px 20%;
  }
  .dropdown-toggle::after {
    position: absolute;
    top: auto;
    bottom: auto;
    margin-left: 5px;
  }
  .mainmenu ul li {
    margin: 0 100px;
  }
  .mainmenu ul li ul {
    left: 0;
  }
  .mainmenu ul li ul li {
    padding: 5px 5px;
    float: left;
    margin: 0 12px;
  }
  .mainmenu ul li ul li a {
    padding: 20px 20px;
  }
  .mainmenu ul li a {
    padding: 40px 20%;
    line-height: 5px;
  }
  .dropdown-menu {
    min-width: 560px;
    left: 0;
    max-width: 830px;
  }
  .mainmenu ul li ul li a:hover,
  .mainmenu ul li ul li a.active {
    padding: 20px 20px;
  }
  .mainmenu ul li ul li ul {
    left: 0;
  }
  .list_carousel {
    margin-bottom: 50px;
  }
  .bookameeting .caption-area h3 {
    text-align: center;
  }
}

@media (max-width: 945px) {
  .mainmenu ul li {
    margin: 0 70px;
  }
}

@media (max-width: 767px) {
  .mainmenu ul li ul li a:hover,
  .mainmenu ul li ul li a.active {
    padding: 20px 0;
  }
  .mainmenu ul li ul li {
    display: block;
    float: none;
    margin: 20px auto;
    width: auto;
  }
  .mainmenu ul li {
    margin: 0 auto;
  }
  .dropdown-menu {
    min-width: auto;
    left: auto;
    max-width: auto;
    right: auto;
    margin: 0 auto;
    display: block;
  }
  .mainmenu ul li ul li ul {
    left: auto;
    right: auto;
    display: table;
    margin: 0 auto;
    float: none;
    width: 100%;
  }
}

@media (max-width: 480px) {
  .contact-area {
    padding: 25px;
  }
  .contact-area h2 {
    font-size: 50px;
    line-height: 60px;
  }
  .contact-area h4 {
    font-size: 30px;
    line-height: 36px;
  }
}

@media (max-width: 360px) {
  .contact-area {
    padding: 12px;
  }
  .contact-area h2 {
    font-size: 30px;
    line-height: 36px;
  }
  .contact-area h4 {
    font-size: 24px;
    line-height: 30px;
  }
  .address-area {
    line-height: 30px;
  }
  .maparea h3 {
    float: none;
    text-align: center;
    margin: auto;
  }
  .maparea h4 {
    float: none;
    text-align: center;
    margin: auto;
  }
  .maparea ul {
    float: none;
    margin: 10px auto;
    display: table;
  }
}

/*changes on 10-10-2019 ends*/

/*changes on 11-10-2019 ends*/

@media (max-width: 1980px) {
  .smouseicon {
    display: block;
    margin: 0 auto;
    text-align: center;
    left: 0;
    right: 0;
    position: absolute;
    bottom: 10px;
    z-index: 999;
  }
  .slider-active.owl-carousel .owl-nav div {
    font-size: 28px;
    height: 44px;
    left: 0;
    line-height: 40px;
    opacity: 1;
    position: absolute;
    text-align: center;
    bottom: 0;
    transform: translateY(-50%);
    transition: all 0.3s ease 0s;
    width: 44px;
    right: 0;
    top: auto;
    display: block;
    margin: 0 auto;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -ms-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
  }
  .slidebox {
    max-width: 296px;
    width: 100%;
  }
  /* .slidebox:hover{width:100%;border-radius: 35px; box-shadow: 0px 1px 15px 5px rgba(0,0,0,0.25); padding: 25px 5px 25px 5px; background: #fff;transition: all 0.5s ease;} */
  .slidebox h4 {
    margin: 0;
    padding: 0;
    margin-bottom: 15px;
    text-align: center;
    font-size: 18px;
    font-family: "airbnb_cereal_appmedium";
    color: #3a3a39;
    text-transform: uppercase;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
  }
  .slidebox p {
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 20px;
    font-family: "airbnb_cereal_applight";
    color: #3a3a39;
  }
  .slidebox .addtocart-btn {
    opacity: 0;
    width: 100%;
    max-width: 192px;
    background: url("../images/addtocartbtn01.png") no-repeat;
    display: block;
    position: relative;
    background-size: 100%;
    margin: 0px auto;
    position: absolute;
    bottom: 0;
  }
  /* .slidebox:hover h4 {
        margin: 0;
        padding: 0;
        margin-bottom: 15px;
        text-align: center;
        font-size: 20px;
        font-family: 'airbnb_cereal_appbold';
        color: #3a3a39;
        text-transform: uppercase;
    } */
  /* .slidebox:hover p {
        margin: 0;
        padding: 0;
        text-align: center;
        font-size: 20px;
        font-family: 'airbnb_cereal_applight';
        color: #3a3a39
    } */
  .slidebox:hover .addtocart-btn {
    opacity: 1;
  }
  .slidebox:hover .addtocart-btn .inner {
    display: block;
    height: 0;
    padding-top: 30.73%;
  }
  .slidebox:hover .addtocart-btn:hover {
    width: 100%;
    max-width: 192px;
    background: url("../images/addtocartbtn02.png") no-repeat;
    display: block;
    position: relative;
    background-size: 100%;
    margin: 20px auto;
  }
  .slidebox .colordots {
    display: none;
  }
  .slidebox:hover .colorbox {
    display: none;
  }
  .slidebox:hover .colordots {
    display: table;
    margin: 40px auto 20px auto;
    text-align: center;
  }
  .slidebox:hover .colordots img {
    margin-bottom: 0px;
  }
  .slidebox:hover .colordots ul {
    display: block;
    margin: 0 auto;
    padding: 0;
  }
  .slidebox:hover ul li {
    float: left;
    list-style-type: none;
    line-height: 20px;
    margin: 0 10px;
  }
  .downloads-area {
    width: 100%;
    margin-bottom: 110px;
    position: relative;
    z-index: 9;
  }
  .downloads-area .catalouge {
    position: absolute;
    font-size: 80px;
    color: #f6f6f6;
    line-height: 100px;
    top: -34%;
    left: 0;
    font-family: "airbnb_cereal_appextra_bold";
  }
  .downloads-area .downloadsbg {
    position: absolute;
    font-size: 90px;
    color: #f6f6f6;
    line-height: 100px;
    bottom: -37%;
    right: 0;
    text-align: center;
    font-family: "airbnb_cereal_appextra_bold";
  }
  .about-area {
    position: relative;
    z-index: 9;
  }
  .range-area {
    position: relative;
    z-index: 9;
  }
  .arrivaldate {
    float: left;
    min-width: 365px;
    position: relative;
    padding-left: 120px;
    font-size: 28px;
    text-transform: uppercase;
    line-height: 30px;
    color: #000;
    font-family: "airbnb_cereal_appbold";
    margin-bottom: 40px;
  }
  .arrivaldate::before {
    content: "";
    position: absolute;
    left: 0;
    width: 90px;
    height: 25px;
    background: #33bfb4;
    -webkit-border-top-right-radius: 25px;
    -webkit-border-bottom-right-radius: 25px;
    -moz-border-radius-topright: 25px;
    -moz-border-radius-bottomright: 25px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
  }
  .arrivaldate span {
    color: #33bfb4;
  }
  .olddate02 {
    float: left;
    min-width: 365px;
    position: relative;
    padding-left: 120px;
    font-size: 30px;
    text-transform: uppercase;
    line-height: 30px;
    color: #000;
    font-family: "airbnb_cereal_appbold";
    margin-bottom: 40px;
  }
  .olddate02::before {
    content: "";
    position: absolute;
    left: 0;
    width: 90px;
    height: 27px;
    background: #33bfb4;
    -webkit-border-top-right-radius: 25px;
    -webkit-border-bottom-right-radius: 25px;
    -moz-border-radius-topright: 25px;
    -moz-border-radius-bottomright: 25px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
  }
  .olddate02 span {
    color: #33bfb4;
  }
  .top-area .search-area {
    float: left;
    margin-top: 38px;
    margin-left: 28px;
  }
  .top-area .sidemenu {
    margin-right: 0;
    margin-left: 20px;
  }
  .header-area .logo {
    left: 182px;
  }
  .footer-area p {
    font-size: 15px;
  }
  .downloads-area ul li a {
    line-height: 24px;
    color: #000;
    font-size: 18px;
    font-family: "airbnb_cereal_appmedium";
    text-decoration: none;
  }
  .downloads-area ul li a:hover {
    line-height: 24px;
    color: #33bfb4;
    font-size: 18px;
    font-family: "airbnb_cereal_appmedium";
    text-decoration: none;
  }
  .slider-area {
    width: 100%;
    position: relative;
    z-index: 9;
    text-transform: uppercase;
  }
}
@media (max-width: 1550px) {
  .about-area {
    min-height: 450px;
  }
  .range-area {
    min-height: 450px;
  }
  .bookameeting {
    min-height: 450px;
  }
  .about-area .caption-area h2 {
    font-family: "airbnb_cereal_appmedium";
    font-size: 68px;
  }
  .range-area .caption-area h2 {
    font-family: "airbnb_cereal_appmedium";
    font-size: 68px;
  }
  .bookameeting .caption-area h2 {
    font-family: "airbnb_cereal_appmedium";
    font-size: 68px;
  }
  .downloads-area h3 {
    font-size: 24px;
    font-family: "airbnb_cereal_appmedium";
  }
  .downloads-area h2 {
    font-size: 34px;
    font-family: "airbnb_cereal_appmedium";
  }
  .deliverytracking-area .partner-btn {
    font-family: "airbnb_cereal_appmedium";
    max-width: 200px;
    display: block;
    font-size: 15px;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
  }
  .deliverytracking-area .partner-btn:hover {
    max-width: 200px;
    font-size: 15px;
  }
  .deliverytracking-area .tranckingc {
    position: absolute;
    font-size: 100px;
    color: #f6f6f6;
    line-height: 1;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    text-align: center;
  }
  .deliverytracking-area .deliveryl {
    position: absolute;
    font-size: 100px;
    color: #f6f6f6;
    line-height: 1;
    top: 0;
    left: 0;
  }
  .range-area {
    margin-bottom: 0;
  }
  .deliverytracking-area {
    font-size: 14px;
    padding-top: 105px;
  }
}
@media (max-width: 768px) {
  .DeskTopOption {
    display: none !important;
  }
  html {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    position: relative;
  }
  body {
    position: relative;
    overflow-x: hidden !important;
  }
  .MobileHeader {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    background: #fff;
    z-index: 99;
    width: 100%;
  }
  .MobileHeaderContent {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    border-bottom: 1px solid #e4e4e4;
    flex-wrap: wrap;
  }
  .MobileHeaderContent > div {
    flex: 0 0 33.33%;
    max-width: 33%;
    align-items: center;
    position: relative;
  }
  .MobileSideNav {
    position: fixed;
    top: 0;
    left: -100%;
    bottom: 0;
    width: 100%;
    -webkit-transition: all ease-in-out 0.4s;
    transition: all ease-in-out 0.4s;
    z-index: 100;
    -moz-transition: all ease-in-out 0.4s;
    -ms-transition: all ease-in-out 0.4s;
    -o-transition: all ease-in-out 0.4s;
    background: #fff;
  }
  .MobileSearchBox {
    position: fixed;
    top: 0;
    right: -100%;
    bottom: 0;
    width: 100%;
    -webkit-transition: all ease-in-out 0.4s;
    transition: all ease-in-out 0.4s;
    z-index: 100;
    background: #fff;
  }
  .MobileSearchBox.NavTriggered {
    right: 0;
  }
  .MobileSideNav.NavTriggered {
    left: 0;
  }
  .mobileMenuIconTp1 {
    width: 30px;
  }
  .mobileMenuIconTp2 {
    width: 35px;
  }
  .MarginAdjustmentTp1 {
    margin-right: 20px;
  }
  .MobileHeroLogo {
    width: 105px;
    display: inline-block;
    position: absolute;
    top: -28px;
  }
  .MobileHeroLogo img {
    width: 100%;
  }
  .FixedBoxTp1 {
    font-family: "airbnb_cereal_appmedium";
    overflow-x: hidden;
    overflow-y: auto;
    width: 100%;
    height: 100%;
  }

  .FixedBoxTp1 .CloseBtn {
    font-size: 32px;
    color: #3a3a39;
    font-family: "airbnb_cereal_appmedium";
  }
  .FixedBoxTp1Txt1 {
    font-size: 23px;
    color: #33bfb4;
  }
  .FixedBoxTp1Txt2 {
    font-size: 17px;
    color: #3a3a39;
  }
  .FixedBoxTp1Footer .social-area02 {
    padding: 0px;
    margin: 0px;
    border: none;
    float: none;
    text-align: center;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
  .FixedBoxTp1Header {
    border-bottom: 1px solid #e9e9e9;
    padding: 20px;
    background: #e9e9e9;
    height: 15vh;
  }
  .FixedBoxTp1Content {
    min-height: 70vh;
  }
  .FixedBoxTp1Footer {
    height: 15vh;
    background: #e9e9e9;
    border-top: 1px solid #e9e9e9;
  }
  .FixedBoxTp1 .social-area02 a .fa {
    color: #33bfb4;
  }
  .FixedBoxTp1 .social-area02 a .fa.fb {
    border: solid 2px #33bfb4;
  }
  .FixedBoxTp1 .social-area02 a .fa.twt {
    border: solid 2px #33bfb4;
  }
  .FixedBoxTp1 .social-area02 a .fa.ig {
    border: solid 2px #33bfb4;
  }
  .FixedBoxTp1 .ItemBoxTp1 {
    padding: 10px;
  }
  .FixedBoxTp1 .ItemBoxTp1 .ItemBoxTp1Hd1 {
    color: #7e859b;
    text-transform: uppercase;
    font-size: 13px;
  }
  .FixedBoxTp1 .ItemBoxTp1Lnk {
    padding: 14px 0;
    border-bottom: 1px solid #e4e4e4;
    display: block;
    padding-right: 40px;
    position: relative;
  }
  .FixedBoxTp1 .ItemBoxTp1Lnk .SubChildActived {
    position: absolute;
    top: 14px;
    right: 6px;
    font-size: 27px;
  }
  .FixedBoxTp1 .ItemBoxTp1Lnk1 {
    font-style: normal;
    font-weight: 700;
    line-height: 0.95;
    color: #111;
    cursor: pointer;
    display: block;
    font-size: 33px;
    letter-spacing: -0.05em;
    line-height: 1.4;
    margin: 0.7vh 0;
    position: relative;
    transition: color 0.4s cubic-bezier(0.485, 0.03, 0.52, 1.29);
    -webkit-transition: color 0.4s cubic-bezier(0.485, 0.03, 0.52, 1.29);
    -moz-transition: color 0.4s cubic-bezier(0.485, 0.03, 0.52, 1.29);
    -ms-transition: color 0.4s cubic-bezier(0.485, 0.03, 0.52, 1.29);
    -o-transition: color 0.4s cubic-bezier(0.485, 0.03, 0.52, 1.29);
  }
  .FixedBoxTp1 .ItemBoxTp1Lnk2 {
    font-style: normal;
    font-weight: normal;
    line-height: 1.6;
    color: #111;
    display: inline-block;
    font-size: 16px;
    line-height: 1.5;
    margin: 1.3vh 0 0;
    width: 47%;
  }
  .MobileSearchBoxField{
    padding: 150px 20px;
    text-align: center;
  }
  .MobileSearchBoxField input {
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border: 1px solid #e9e9e9;
  }
  .MobileSearchBoxField .SearchSubmit{
    outline: none;
    padding: 10px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    background: #33bfb4;
    color: #fff;
    border-radius: 15px;
    border: none;
    width: 170px;
    margin-top: 20px;
    }
    .single-slider .slider-content{
        width: 100%;
    }
    .single-slider {
        height: 100vh;
    }
    .slider-content-wrap h2, .slider-content-2 h2 {
        font-size: 30px;
    }
    .BoxTpArrival{
        height: auto !important;
    }
    .new-arrival-area {
        background-size: 175px 300px !important;
        padding: 20px;
    }
    .ArrowMiddle {
        padding: 0;
    }
    .container {
        max-width: 100% !important;
    }
    .ArrowMiddle .owl-prev{
        left: 0px;
    }
    .ArrowMiddle .owl-next{
        left: 0px;
    }
    .BxTpItm1 {
        margin-top: 40px;
        margin-bottom: 40px;
    }
    .BxTpItm1 h3 {
        font-size: 23px;
        line-height: 32px;
        padding-bottom: 0;
    }
    .BxTpItm1 h2 {
        font-size: 17px;
        line-height: 33px;
        padding-bottom: 0;
    }
    .new-arrival-area .exp-btn {
        max-width: 148px;
    }
    .slidebox {
        max-width: 100%;
        width: 100%;
    }
    .about-area .caption-area h3 {
        font-size: 28px;
    }
    .about-area .caption-area h2 {
        font-size: 30px;
        line-height: 1.3;
        margin-bottom: 39px;
    }
    .about-area .caption-area .showmebtn {
        max-width: 150px;
    }
    .header-area {
        margin-bottom: 12px;
    }
    .about-area {
        min-height: 250px;
        margin-bottom: 0;
    }
    .downloads-area{
        padding-top: 90px;
    }
    .downloads-area .catalouge {
        font-size: 47px;
        top: -16px;
    }
    .downloads-area h3 {
        font-size: 22px;
    }
    .downloads-area h2 {
        font-size: 25px;
    }
    .downloads-area ul {
        margin: 12px 0;
    }
    .downloads-area .dl-btn{
        margin: 16px auto;
    }
    .downloads-area img {
        margin: 0 auto 1px auto;
        width: 100%;
    }
    .downloads-area {
        padding-top: 0px;
        margin-bottom: 0;
    }
    .range-area .caption-area h2 {
        font-family: "airbnb_cereal_appmedium";
        font-size: 44px;
        line-height: 1.2;
    }
    .range-area .caption-area .vrangebtn {
        margin-top: 35px;
    }
    .deliverytracking-area .deliveryl {
        font-size: 56px;
    }
    .deliverytracking-area h2 {
        font-size: 22px;
        line-height: 40px;
    }
    .deliverytracking-area {
        font-size: 14px;
        padding-top: 65px;
    }
    .deliverytracking-area .tranckingc{
        font-size: 60px;
    }
    .downloads-area .downloadsbg {
        display: none;
    }
    .deliverytracking-area .tranckingc{
        font-size: 68px;
    }
    .bookameeting .caption-area h3 {
        font-size: 33px;
    }
    .bookameeting .caption-area h2 {
        font-family: "airbnb_cereal_appmedium";
        font-size: 40px;
    }
    .bookameeting .caption-area .bookameeting-btn{
        max-width: 240px;
    }
    .bookameeting {
        min-height: 350px;
        margin-bottom: 0;
    }
    .range-area {
        margin-bottom: 0;
        min-height: 350px;
    }
    .BottomLinkBox{
        position: relative;
        opacity: 1;
        margin-bottom: 20px;
    }
    .BottomLinkBox .addtocart-btn-tp-1 img {
        width: 46%;
        margin: 0 auto;
    }
}

