/* CSS Document ************************************************************************************
RESET
*************************************************************************************/
/* @font-face {
    font-family: 'airbnb_cereal_appbold';
    src: url('../fonts/airbnbcereal-bold-webfont.woff2') format('woff2'),
         url('../fonts/airbnbcereal-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'airbnb_cereal_applight';
    src: url('../fonts/airbnbcereal-light-webfont.woff2') format('woff2'),
         url('../fonts/airbnbcereal-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'airbnb_cereal_appmedium';
    src: url('../fonts/airbnbcereal-medium-webfont.woff2') format('woff2'),
         url('../fonts/airbnbcereal-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'airbnb_cereal_appextra_bold';
    src: url('../fonts/airbnbcereal-extrabold-webfont.woff2') format('woff2'),
         url('../fonts/airbnbcereal-extrabold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'airbnb_cereal_appblack';
    src: url('../fonts/airbnbcereal-black-webfont.woff2') format('woff2'),
         url('../fonts/airbnbcereal-black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'airbnb_cereal_appbook';
    src: url('../fonts/airbnbcereal-book-webfont.woff2') format('woff2'),
         url('../fonts/airbnbcereal-book-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'airbnb_cereal_appblack';
    src: url('../fonts/airbnbcereal-black-webfont.woff2') format('woff2'),
         url('../fonts/airbnbcereal-black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
 */




@font-face {
    font-family: 'airbnb_cereal_appbook';
    font-style: normal;
    font-weight: normal;
    src: local('airbnb_cereal_appbook'), url('../fonts/AirbnbCerealBook.woff') format('woff');
}

@font-face {
    font-family: 'Airbnb Cereal App Light';
    font-style: normal;
    font-weight: normal;
    src: local('Airbnb Cereal App Light'), url('../fonts/AirbnbCerealLight.woff') format('woff');
}

@font-face {
    font-family: 'airbnb_cereal_appmedium';
    font-style: normal;
    font-weight: normal;
    src: local('airbnb_cereal_appmedium'), url('../fonts/AirbnbCerealMedium.woff') format('woff');
}

@font-face {
    font-family: 'airbnb_cereal_appbold';
    font-style: normal;
    font-weight: normal;
    src: local('airbnb_cereal_appbold'), url('../fonts/AirbnbCerealBold.woff') format('woff');
}

@font-face {
    font-family: 'airbnb_cereal_appextra_bold';
    font-style: normal;
    font-weight: normal;
    src: local('airbnb_cereal_appextra_bold'), url('../fonts/AirbnbCerealExtraBold.woff') format('woff');
}

@font-face {
    font-family: 'Airbnb Cereal App Black';
    font-style: normal;
    font-weight: normal;
    src: local('Airbnb Cereal App Black'), url('../fonts/AirbnbCerealBlack.woff') format('woff');
}

img,
fieldset {
    border: 0
}


/* set image max width to 100% */

img {
    max-width: 100%;
    height: auto;
    /* ie8 */
    margin: 0;
    padding: 0;
}


/* set html5 elements to block */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block
}

.clear {
    clear: both;
    margin: 0;
    padding: 0;
    line-height: 1
}

input {
    margin: 0;
    padding: 0
}


/************************************************************************************
GENERAL STYLING
*************************************************************************************/

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none
}

::selection {
    background: #b3d4fc;
    text-shadow: none
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0
}

img {
    vertical-align: middle
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0
}

textarea {
    resize: vertical
}

.chromeframe {
    margin: .2em 0;
    background: #fff;
    color: #494949;
    padding: .2em 0
}

body {
    font-family: 'airbnb_cereal_appbook', 'open_sanslight', "Century Gothic", Arial, Helvetica, sans-serif;
    background: #fff;
    font-size: 17px;
    color: #001d39;
}

a {
    color: #3d3d3d;
    text-decoration: none !important;
    outline: none;
    margin: 0;
    padding: 0;
}

a:hover {
    /*text-decoration: underline;*/
    opacity: 1;
}

p {
    margin-top: 0;
    margin-right: 0px;
    margin-bottom: 0;
    margin-left: 0px;
    padding-top: 0;
    /*padding-bottom: 1.2em;*/
    padding-bottom: 1.2em;
}


/* list */

ul,
ol {
    /*margin: 1em 0 1.4em 16px;*/
    padding: 0;
    line-height: 140%;
    margin: 0;
}

li {
    /*margin: 0 0 1.5em 0;*/
    margin: 0;
    padding: 0/*font-family:"Century Gothic",Arial, Helvetica, sans-serif;
	font-size:16px;
	color:#000;
	list-style-position:outside;
	padding-left:5px; padding-right:5px;*/
}

ol {
    margin-left: 30px;
    /*padding-bottom: 15px;*/
}

ol li {
    line-height: 24px;
}


/* headings */

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    padding-bottom: 10px;
    font-family: 'airbnb_cereal_appextra_bold', 'open_sanssemibold', 'Century Gothic';
}


/* reset webkit search input styles */

input[type=search] {
    -webkit-appearance: none;
    outline: none
}

input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-cancel-button {
    display: none
}

strong {
    font-weight: 700;
}

img {
    max-width: 100%;
    height: auto;
    /* ie8 */
    margin: 0;
    padding: 0;
}

.clearfix:before,
.clearfix:after {
    content: ".";
    /* Older browser do not support empty content */
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
    overflow: hidden;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}


/************************************************************************************
STRUCTURE
*************************************************************************************/

.header-area {
    width: 100%;
    position: relative;
}

.top-area {
    width: 100%;
    min-height: 109px;
    background: #fff;
    /*padding-top: 28px;*/
}

.header-area .logo {
    position: absolute;
    top: 10px;
    left: 182px;
    z-index: 99;
}

.navigation-area {
    padding-top: 0px;
}

.navbar {
    padding: 0;
    margin: 0;
}

.top-area .sidemenu {
    float: left;
    margin-right: 30px;
    margin-top: 38px;
    position: relative;
    z-index: 999;
}

.top-area .search-area {
    margin-top: 38px;
}

.mainmenu {
    width: 100%;
    display: block;
}

.mainmenu ul {
    /*display:block;*/
    width: 100%;
    margin: 0;
    padding: 0
}

.mainmenu ul li {
    float: left;
    list-style-type: none;
    line-height: 24px;
    color: #3a3a39;
    font-size: 20px;
    font-family: 'airbnb_cereal_appmedium';
    margin: 0 40px;
}

.mainmenu ul li:first-child {
    margin-left: 0;
}

.mainmenu ul li:last-child {
    margin-right: 0;
}

.mainmenu ul li a {
    float: left;
    text-decoration: none;
    color: #3a3a39;
    padding: 40px 0%;
    font-family: 'airbnb_cereal_appmedium';
}

.mainmenu ul li a:hover,
.mainmenu ul li a.active {
    text-decoration: none;
    color: #3a3a39;
    font-family: 'airbnb_cereal_appbold';
    background: #f6f6f6;
    padding: 40px 0%;
}

.topright {
    float: right;
}

.topright ul {
    float: right;
    margin: 0;
    padding: 0;
}

.topright ul li {
    float: left;
    list-style-type: none;
    line-height: 24px;
    margin: 0 20px;
}

.topright ul li img {
    margin-top: 38px;
}

.slider-area {
    width: 100%;
    position: relative;
    z-index: 9;
}


/* slider style */

.slider-content-wrap {
    /*    background: rgba(255, 255, 255, 0.7) none repeat scroll 0 0;*/
    padding: 370px 40px 40px 40px;
    text-align: center;
    width: 100%;
    min-height: 829px;
}

.slider-content-wrap h2,
.slider-content-2 h2 {
    font-family: 'airbnb_cereal_appextra_bold';
    font-size: 112px;
    margin: 0px;
    text-align: center;
    color: #fff;
}

.slider-content-wrap h2 span {
    color: #e54c2a;
}

.slider-content-wrap h1,
.slider-content-2 h1 {
    font-size: 40px;
    font-weight: bold;
    margin: 10px 0 13px;
    text-transform: uppercase;
}

.slider-content-wrap h1 span {
    color: #e54c2a;
}

.slider-btn a {
    background-color: #e54c2a;
    color: #fff;
    display: inline-block;
    font-weight: 600;
    line-height: 1;
    padding: 16px 30px;
    text-transform: uppercase;
}

.slider-btn a:hover {
    background-color: #242424;
    color: #fff;
}

.slider-content-wrap p {
    font-size: 18px;
    margin: 0 0 40px;
}

.slider-active.owl-carousel .owl-nav div {
    background-color: #33bfb4;
    border: 1px solid #33bfb4;
    color: #fff;
    font-size: 28px;
    height: 44px;
    left: 15px;
    line-height: 40px;
    opacity: 0;
    position: absolute;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
    transition: all 0.3s ease 0s;
    width: 44px;
}

.slider-active.owl-carousel .owl-nav div:hover {
    background-color: #242424;
    border: 1px solid #242424;
}

.slider-active.owl-carousel .owl-nav div.owl-next {
    left: auto;
    right: 15px;
}

.slider-area:hover .slider-active.owl-carousel .owl-nav div {
    opacity: 1;
}


/* Default Slider Animations */

.owl-item .slider-content * {
    -webkit-animation-duration: 1.3s;
    animation-duration: 1.3s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.owl-item.active .slider-content * {}

.owl-item.active .slider-animated-1 h2 {
    -webkit-animation-delay: 1.0s;
    animation-delay: 1.0s;
    -webkit-animation-name: zoomIn;
    animation-name: zoomIn;
}

.owl-item.active .slider-animated-1 h1 {
    -webkit-animation-delay: 1.5s;
    animation-delay: 1.5s;
    -webkit-animation-name: zoomIn;
    animation-name: zoomIn;
}

.owl-item.active .slider-animated-1 p {
    -webkit-animation-delay: 1.9s;
    animation-delay: 1.9s;
    -webkit-animation-name: zoomIn;
    animation-name: zoomIn;
}

.owl-item.active .slider-animated-1 a {
    -webkit-animation-delay: 2.0s;
    animation-delay: 2.0s;
    -webkit-animation-name: zoomIn;
    animation-name: zoomIn;
}

.owl-item.active .slider-content-wrap.slider-animated-1 {
    -webkit-animation-delay: .3s;
    animation-delay: .3s;
    -webkit-animation-name: zoomIn;
    animation-name: zoomIn;
}

.new-arrival-area {
    margin-top: 128px;
}

.new-arrival-area h3 {
    font-family: 'airbnb_cereal_appextra_bold';
    font-size: 35px;
    color: #33bfb4;
    text-align: left;
}

.new-arrival-area h2 {
    font-family: 'airbnb_cereal_appextra_bold';
    font-size: 50px;
    color: #000;
    text-align: left;
}

.new-arrival-area .exp-btn {
    width: 100%;
    max-width: 180px;
    background: url("../images/expbtn01.jpg") no-repeat;
    display: block;
    background-size: 100%;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}

.new-arrival-area .exp-btn .inner {
    display: block;
    height: 0;
    padding-top: 25.35%;
}

.new-arrival-area .exp-btn:hover {
    width: 100%;
    max-width: 180px;
    background: url("../images/expbtn02.jpg") no-repeat;
    display: block;
    background-size: 100%;
}

.slidebox {
    max-width: 296px;
    width: 100%;
}

.slidebox h4 {
    margin: 0;
    padding: 0;
    margin-bottom: 15px;
    text-align: center;
    font-size: 20px;
    font-family: 'airbnb_cereal_appbold';
    color: #3a3a39;
    text-transform: uppercase;
}

.slidebox p {
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 20px;
    font-family: 'airbnb_cereal_applight';
    color: #3a3a39
}

.about-area {
    width: 100%;
    background: url("../images/about-inner.jpg") no-repeat;
    display: flex;
    position: relative;
    background-size: cover;
    min-height: 625px;
    margin-bottom: 110px;
    transition:1s ease-in-out;
}

.about-area .caption-area {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    display: block;
}

.about-area .caption-area h3 {
    font-family: 'airbnb_cereal_appextra_bold';
    font-size: 50px;
    color: #33bfb4;
    text-align: left;
    text-transform: uppercase;
}

.about-area .caption-area h2 {
    font-family: 'airbnb_cereal_appextra_bold';
    font-size: 100px;
    color: #000;
    text-align: left;
    text-transform: uppercase;
}

.about-area .caption-area .showmebtn {
    transition: 0.5s;
    width: 100%;
    max-width: 180px;
    background: url("../images/showme01.png") no-repeat;
    position: relative;
    display: block;
    background-size: 100%;
    float: right
}

.about-area .caption-area .showmebtn:hover {
    width: 100%;
    max-width: 180px;
    background: url("../images/showme02.png") no-repeat;
    position: relative;
    display: block;
    background-size: 100%;
    float: right;
}

.about-area .caption-area .showmebtn .inner {
    display: block;
    height: 0;
    padding-top: 24%;
}

.downloads-area {
    width: 100%;
    margin-bottom: 110px;
}

.downloads-area h3 {
    font-family: 'airbnb_cereal_appextra_bold';
    font-size: 35px;
    color: #33bfb4;
    text-align: left;
    text-transform: uppercase;
}

.downloads-area h2 {
    font-family: 'airbnb_cereal_appextra_bold';
    font-size: 50px;
    color: #000;
    text-align: left;
    text-transform: uppercase;
}

.downloads-area ul {
    display: block;
    margin: 50px 0;
    padding: 0;
}

.downloads-area ul li {
    display: block;
    list-style-type: none;
    line-height: 24px;
    color: #000;
    font-size: 18px;
    font-family: 'airbnb_cereal_appmedium';
    margin-bottom: 25px;
    padding-left: 32px;
    background: url("../images/list-arrow.jpg") no-repeat left center;
}

.downloads-area .dl-btn {
    width: 100%;
    max-width: 200px;
    background: url("../images/download-btn01.png") no-repeat;
    display: block;
    position: relative;
    background-size: 100%;
}

.downloads-area .dl-btn:hover {
    width: 100%;
    max-width: 200px;
    background: url("../images/download-btn02.png") no-repeat;
    display: block;
    position: relative;
    background-size: 100%;
}

.downloads-area .dl-btn .inner {
    display: block;
    height: 0;
    padding-top: 18.97%;
}

.range-area {
    width: 100%;
    min-height: 625px;
    background: url("../images/range-img01.jpg") no-repeat top center;
    display: flex;
    background-size: cover;
    background-attachment: fixed;
    margin-bottom: 55px;
    transition: 1s ease-in-out;
}

.range-area .caption-area {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    display: block;
}

.range-area .caption-area h3 {
    font-family: 'airbnb_cereal_appextra_bold';
    font-size: 50px;
    color: #33bfb4;
    text-align: left;
    text-transform: uppercase;
}

.range-area .caption-area h2 {
    font-family: 'airbnb_cereal_appextra_bold';
    font-size: 100px;
    color: #fff;
    text-align: left;
    text-transform: uppercase;
}

.range-area .caption-area .vrangebtn {
    width: 100%;
    max-width: 224px;
    background: url("../images/range-btn01.png") no-repeat;
    position: relative;
    display: block;
    background-size: 100%;
    float: right;
}

.range-area .caption-area .vrangebtn:hover {
    width: 100%;
    max-width: 224px;
    background: url("../images/range-btn02.png") no-repeat;
    position: relative;
    display: block;
    background-size: 100%;
    float: right;
}

.range-area .caption-area .vrangebtn .inner {
    display: block;
    height: 0;
    padding-top: 16.667%;
}

.deliverytracking-area {
    width: 100%;
    position: relative;
    padding-bottom: 35px;
}

.deliverytracking-area .deliveryl {
    position: absolute;
    font-size: 173px;
    color: #f6f6f6;
    line-height: 175px;
    top: 0;
    left: 0;
    font-family: 'airbnb_cereal_appextra_bold';
}

.deliverytracking-area .tranckingc {
    position: absolute;
    font-size: 173px;
    color: #f6f6f6;
    line-height: 175px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    text-align: center;
    font-family: 'airbnb_cereal_appextra_bold';
}

.deliverytracking-area h3 {
    font-family: 'airbnb_cereal_appextra_bold';
    font-size: 35px;
    color: #33bfb4;
    text-align: left;
    text-transform: uppercase;
}

.deliverytracking-area h2 {
    font-family: 'airbnb_cereal_appextra_bold';
    font-size: 50px;
    color: #000;
    text-align: left;
    text-transform: uppercase;
}

.deliverytracking-area ul {
    display: block;
    margin: 50px 0;
    padding: 0;
}

.deliverytracking-area ul li {
    display: block;
    list-style-type: none;
    line-height: 24px;
    color: #000;
    font-size: 18px;
    font-family: 'airbnb_cereal_appmedium';
    margin-bottom: 30px;
    padding-left: 32px;
    background: url("../images/list-arrow.png") no-repeat left center;
}

.deliverytracking-area .partner-btn {
    max-width: 270px;
    padding: 12px 24px;
    color: #000;
    font-size: 20px;
    text-transform: uppercase;
    text-align: center;
    border-radius: 25px;
    border: solid 3px #00cebf;
}

.deliverytracking-area .partner-btn:hover {
    max-width: 270px;
    padding: 12px 24px;
    color: #000;
    font-size: 20px;
    text-transform: uppercase;
    text-align: center;
    border-radius: 25px;
    border: solid 3px #00cebf;
    background: #00cebf;
    text-decoration: none;
}

.deliverytracking-area p {
    margin-bottom: 12px;
}

.bookameeting {
    width: 100%;
    min-height: 625px;
    background: url("../images/bookameeting.jpg") no-repeat top center;
    display: flex;
    background-size: cover;
    background-attachment: fixed;
    margin-bottom: 55px;
}

.bookameeting .caption-area {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    display: block;
}

.bookameeting .caption-area h3 {
    font-family: 'airbnb_cereal_appextra_bold';
    font-size: 50px;
    color: #fff;
    text-align: left;
    text-transform: uppercase;
}

.bookameeting .caption-area h2 {
    font-family: 'airbnb_cereal_appextra_bold';
    font-size: 100px;
    color: #33bfb4;
    text-align: left;
    text-transform: uppercase;
}

.bookameeting .caption-area .bookameeting-btn {
    width: 100%;
    max-width: 354px;
    background: url("../images/bookameeting-btn01.png") no-repeat;
    position: relative;
    display: block;
    background-size: 100%;
    float: right;
}

.bookameeting .caption-area .bookameeting-btn:hover {
    width: 100%;
    max-width: 354px;
    background: url("../images/bookameeting-btn02.png") no-repeat;
    position: relative;
    display: block;
    background-size: 100%;
    float: right;
}

.bookameeting .caption-area .bookameeting-btn .inner {
    display: block;
    height: 0;
    padding-top: 15.25%;
}

.footer-area {
    width: 100%;
    background: #fff;
    padding: 60px 0;
    color: #000;
    font-family: 'airbnb_cereal_applight';
    line-height: 30px;
    border-top: solid 3px #f6f6f6;
}

.footer-area h2 {
    margin: 0;
    padding: 0;
    padding-left: 24px;
    border-left: solid 8px #33bfb4;
    color: #000;
    font-size: 25px;
    line-height: 30px;
    text-transform: uppercase;
    font-family: 'airbnb_cereal_appextra_bold';
    margin-bottom: 18px;
    min-height: 60px;
}

.footer-area ul {
    display: block;
    margin: 0;
    padding: 0;
}

.footer-area ul li {
    display: block;
    line-height: 30px;
    font-size: 22px;
    list-style-type: none;
    text-decoration: none;
    font-family: 'airbnb_cereal_applight';
    margin: 10px 0;
}

.footer-area ul li a {
    color: #000;
    text-decoration: none;
}

.footer-area ul li a:hover {
    color: #33bfb4;
    text-decoration: none;
}

.footer-area p {
    margin-bottom: 0;
    padding-bottom: 0;
}

.footer-area a {
    color: #000;
    text-decoration: none;
}

.footer-area a:hover {
    color: #33bfb4;
    text-decoration: none;
}

.footer-bottom {
    width: 100%;
    min-height: 67px;
    background: #33bfb4;
    color: #fff;
    padding: 20px 0;
    font-family: 'airbnb_cereal_applight';
    font-size: 20px;
    text-align: center;
    line-height: 30px;
}

.footer-bottom a {
    color: #fff;
    text-decoration: none;
    padding: 0 6px;
}

.footer-bottom a:hover {
    color: #000;
    text-decoration: none;
    padding: 0 6px;
}

.history-area {
    width: 100%;
    background: url("../images/history-bg.jpg") no-repeat left bottom;
    padding-top: 100px;
    color: #737373;
    line-height: 30px;
    font-size: 20px;
    font-family: 'airbnb_cereal_appbook';
    min-height: 824px;
    background-size: 100%;
}

.history-area h2 {
    margin: 0;
    padding: 0;
    color: #33bfb4;
    font-size: 100px;
    font-family: 'airbnb_cereal_appextra_bold';
    line-height: 100px;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.history-area h3 {
    margin: 0;
    padding: 0;
    color: #050708;
    font-size: 47px;
    font-family: 'airbnb_cereal_appbold';
    line-height: 50px;
}

.qc-area {
    margin-top: 100px;
    background: #fff;
    color: #737373;
    line-height: 30px;
    font-size: 20px;
    font-family: 'airbnb_cereal_appbook';
    margin-bottom: 50px;
}

.nogrid-left {
    padding-left: 0;
}

.nogrid-right {
    padding-right: 0;
}

.qc-area h2 {
    margin: 0;
    padding: 0;
    color: #33bfb4;
    font-size: 100px;
    font-family: 'airbnb_cereal_appextra_bold';
    line-height: 100px;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.qc-area h3 {
    margin: 0;
    padding: 0;
    color: #050708;
    font-size: 47px;
    font-family: 'airbnb_cereal_appbold';
    line-height: 50px;
}

.aboutdetail-area {
    width: 100%;
    padding-top: 100px;
    color: #737373;
    line-height: 30px;
    font-size: 20px;
    font-family: 'airbnb_cereal_appbook';
    min-height: 529px;
}

.aboutdetail-area h2 {
    margin: 0;
    padding: 0;
    color: #33bfb4;
    font-size: 100px;
    font-family: 'airbnb_cereal_appextra_bold';
    line-height: 100px;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.aboutdetail-area h3 {
    margin: 0;
    padding: 0;
    color: #050708;
    font-size: 47px;
    font-family: 'airbnb_cereal_appbold';
    line-height: 50px;
}

.aboutdetail-area .imgbox {
    float: right;
}

.aboutteam-area {
    width: 100%;
    background: #f6f6f6;
    text-align: center;
    padding-top: 60px;
    margin-bottom: 100px;
    position: relative;
}

.aboutteam-area h2 {
    margin: 0;
    padding: 0;
    color: #33bfb4;
    font-size: 100px;
    font-family: 'airbnb_cereal_appextra_bold';
    line-height: 100px;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.aboutteam-area h3 {
    margin: 0;
    padding: 0;
    color: #050708;
    font-size: 47px;
    font-family: 'airbnb_cereal_appbold';
    line-height: 50px;
    padding-bottom: 60px;
}

.aboutteam-area .timgbtn {
    width: 100%;
    max-width: 140px;
    background: url("../images/team-arrow.png") no-repeat;
    display: block;
    position: absolute;
    background-size: 100%;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    text-align: center;
    z-index: 9999;
}

.aboutteam-area .timgbtn .inner {
    display: block;
    height: 0;
    padding-top: 40.71%;
}

.wharehose-area {
    margin-top: 100px;
    background: #fff;
    color: #737373;
    line-height: 30px;
    font-size: 20px;
    font-family: 'airbnb_cereal_appbook';
    margin-bottom: 100px;
}

.wharehose-area h2 {
    margin: 0;
    padding: 0;
    color: #33bfb4;
    font-size: 100px;
    font-family: 'airbnb_cereal_appextra_bold';
    line-height: 100px;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.wharehose-area h3 {
    margin: 0;
    padding: 0;
    color: #050708;
    font-size: 47px;
    font-family: 'airbnb_cereal_appbold';
    line-height: 50px;
}

.content-area {
    width: 100%;
    text-align: center;
    font-size: 25px;
    color: #050708;
    padding: 110px 0;
    line-height: 36px;
}

.content-area-cart {
    width: 100%;
    text-align: center;
    font-size: 25px;
    color: #050708;
    padding: 100px 0;
    line-height: 36px;
}

.content-area-cart h1 {
    text-align: left;
    font-size: 65px;
    color: #33bfb4;
    line-height: 50px;
    font-family: 'airbnb_cereal_appmedium';    
}

.content-area-cart h3 {
    text-align: left;
    font-size: 36px;
    color: #050708;
    line-height: 40px;
    font-family: 'airbnb_cereal_appbook';
    margin-bottom: 50px;
}

.content-area-cart h1 span {
    color: #000;
}

.content-area-cart .productbox {
    width: 100%;
    background: #f6f6f6;
    padding: 23px 20px 15px 20px;
    border-radius: 20px;
    color: #050708;
    font-size: 25px;
    line-height: 30px;
    position: relative;
    margin-bottom: 50px;
}

.content-area-cart .productbox .imgbox {
    width: 100%;
    max-width: 150px;
    float: left;
    margin-right: 5px;
}

.content-area-cart .productbox h2 {
    color: #050708;
    font-size: 25px;
    line-height: 30px;
    margin-bottom: 15px;
    font-family: 'airbnb_cereal_appmedium';
    text-transform: uppercase;
    text-align: left;
    margin-top: 44px;
}

.content-area-cart .productbox .closedbtn {
    width: 20px;
    height: 0;
    line-height: 30px;
    position: absolute;
    right: 50px;
    top: 20px;
}

.content-area-cart .productbox .qtyinde {
    width: 100%;
    max-width: 205px;
    background: #fff;
    padding: 10px 15px;
    border-radius: 25px;
    color: #000;
    line-height: 30px;
    font-size: 20px;
    text-align: center;
    float: right;
}

.content-area-cart .productbox .colorbox {
    float: left;
    text-align: left;
    line-height: 50px;
    color: #7e7e7e;
    font-size: 20px;
    font-family: 'airbnb_cereal_appbook';
}

.content-area-cart .productbox .colorbox .newtag {
    float: left;
    margin-right: 8px;
}

.content-area-cart .productbox .colorbox .newtag img {
    float: left;
    margin-bottom: 0px;
}

.content-area-cart .cartbtn {
    width: 100%;
    max-width: 381px;
    background: url("../images/cartitem-btn01.png") no-repeat;
    display: block;
    background-size: 100%;
    float: right;
}

.content-area-cart .cartbtn:hover {
    width: 100%;
    max-width: 381px;
    background: url("../images/cartitem-btn02.png") no-repeat;
    display: block;
    background-size: 100%;
    float: right;
}

.content-area-cart .cartbtn .inner {
    display: block;
    height: 0;
    padding-top: 15.22%;
}

.content-area-cart .cart-right-detailbox {
    width: 100%;
    max-width: 490px;
    background: #f6f6f6;
    border-radius: 25px;
}

.content-area-cart .cart-right-detailbox .toptag {
    width: 100%;
    max-width: 202px;
    background: url("../images/details-tag.png") no-repeat;
    float: left;
    background-size: 100%;
}

.content-area-cart .cart-right-detailbox .toptag .inner {
    display: block;
    height: 0;
    padding-top: 43%;
}

.content-area-cart .cart-right-detailbox .detailinner {
    width: 100%;
    padding: 5px 25px 5px 25px;
}

.content-area-cart .cart-right-detailbox .detailinner h3 {
    margin: 0;
    padding: 0;
    text-align: left;
    font-family: 'airbnb_cereal_appbook';
    font-size: 22px;
    text-transform: uppercase;
    line-height: 1;
    margin-bottom: 15px;
}

.content-area-cart .cart-right-detailbox .detailinner .txtbox {
    padding: 4px 20px;
    background: #fff;
    color: #000;
    border: none;
    border-radius: 25px;
    margin-bottom: 30px;
    outline: 0;
    float: left;
    font-family: 'airbnb_cereal_appbook';
    font-size: 20px;
    width:100%;
}

.content-area-cart .cart-right-detailbox .detailinner .txtbox .iconbox {
    width: 38px;
    height: 34px;
    margin-right: 15px;
    float: left;
    position: relative;
    top: 0px;
}
.content-area-cart .cart-right-detailbox .detailinner .txtbox .iconbox img{
    width:25px;
}

.content-area-cart .cart-right-detailbox .detailinner .txtbox input {
    background: #fff;
    line-height: 43px;
    font-size: 16px;
    color: #000;
    border: none;
    border-radius: 25px;
    outline: 0;
    text-transform: uppercase;
    width: 70%;
    outline:none !important;
}

.content-area-cart .cart-right-detailbox .detailinner .radioarea {
    width: 100%;
    display: block;
    margin-bottom: 30px;
}

.content-area-cart .cart-right-detailbox .linebox {
    width: 100%;
    height: 2px;
    border-top: solid 1px #ccc;
    border-bottom: solid 1px #fff;
}

.content-area-cart .cart-right-detailbox .bottomdetail {
    width: 100%;
    margin-bottom: 15px;
    text-align: left;
    font-family: 'airbnb_cereal_appbook';
    font-size: 20px;
    padding: 35px 35px 5px 35px;
}

.gallery-area {
    width: 100%;
}

.gallery-area img {
    margin-bottom: 15px;
}

.fancybox-skin img {
    border: solid 5px #fff;
    margin-bottom: 30px;
}

.fancybox-skin {
    background: transparent;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0) !important;
}

.fancybox-title-inside-wrap h1 {
    color: #fff;
    font-size: 72px;
    font-family: 'airbnb_cereal_appextra_bold';
    margin-bottom: 12px;
    line-height: 72px;
    text-align: center;
}

.fancybox-title-inside-wrap p {
    color: #fff;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    font-family: 'airbnb_cereal_appbook';
}

.dropdown-menu {
    left: auto;
    width: 100%;
    min-width: 767px;
    background: #f6f6f6;
    border: none;
}

.mainmenu ul li ul {
    width: 100%;
}

.mainmenu ul li ul li {
    padding: 5px 5px;
    float: left;
    margin: 0 2px;
}

.mainmenu ul li ul li a {
    float: left;
    color: #3a3a39;
    font-size: 16px;
    text-align: center;
    padding: 5px 10px;
}

.mainmenu ul li ul li a:hover,
.mainmenu ul li ul li a.active {
    text-decoration: none;
    color: #000;
    font-weight: bold;
    padding: 5px 10px;
    background: #33bfb4;
    border-radius: 20px;
}

.social-area {
    float: right;
    width: auto;
    margin-top: 20px;
}

.mainmenu ul li ul li ul {
    width: 100%;
    background: #37b7ad;
    left: -10%;
    border-radius: 25px;
    padding: 20px;
}

.mainmenu ul li ul li ul li {
    float: left;
    font-size: 15px;
    list-style-type: none;
    line-height: 24px;
    margin: 8px 60px 8px 0;
    text-decoration: none;
    min-width: 175px;
}

.mainmenu ul li ul li ul li a {
    text-decoration: none;
    width: auto;
    line-height: 24px;
}

.mainmenu ul li ul li ul li a:hover {
    color: #fff;
    background: url("../images/submenu-arrow.jpg") no-repeat left 6px;
    padding-left: 16px;
    line-height: 24px;
}

.social-area02 {
    float: left;
    width: 100%;
}

.social {
    /*float: right;*/
    /*margin-left: 8%;*/
    padding-top: 10px;
    margin-bottom: 12px;
}

.social-area h3 {
    margin: 0;
    padding: 0;
    text-align: left;
    font-size: 20px;
    line-height: 50px;
    margin-bottom: 8px;
    float: left;
    margin-right: 12px;
}

.social h3 strong {
    font-weight: 700;
    font-family: 'ralewaysemibold';
    color: #fff
}

.social-area .fa {
    float: left;
    transition: ease-in-out .6s;
    border-radius: 50%;
    text-align: center;
    color: #000;
    font-size: 24px;
    line-height: 50px;
    display: block;
    margin-right: 10px;
    margin-bottom: 0;
    padding-top: 0px;
}

.social-area .fa.fb {
    width: 50px;
    height: 50px;
    background: transparent;
    border: solid 2px #000;
}

.social-area .fa.fb:hover {
    background: #3b5999;
    transform: rotate(-360deg);
    color: #fff;
    border: solid 2px #3b5999;
}

.social-area .fa.twt {
    width: 50px;
    height: 50px;
    background: transparent;
    border: solid 2px #000;
}

.social-area .fa.twt:hover {
    background: #56a3d9;
    transform: rotate(-360deg);
    color: #fff;
    border: solid 2px #56a3d9;
}

.social-area .fa.ln {
    width: 50px;
    height: 50px;
    background: transparent;
    border: solid 2px #000;
}

.social-area .fa.ln:hover {
    background: #0077b5;
    transform: rotate(-360deg);
    color: #fff;
    border: solid 2px #0077b5;
}

.social-area .fa.gm {
    width: 31px;
    height: 30px;
    background: transparent;
    border: solid 2px #000;
}

.social-area .fa.gm:hover {
    background: #de4b39;
    transform: rotate(-360deg);
    color: #fff;
    border: solid 2px #de4b39;
}

.social-area .fa.ig {
    width: 50px;
    height: 50px;
    background: transparent;
    border: solid 2px #000;
}

.social-area .fa.ig:hover {
    background: #8c0a4e;
    transform: rotate(-360deg);
    color: #fff;
    border: solid 2px #8c0a4e;
}

.slider-area-inner {
    width: 100%;
    padding: 40px 0;
    background: #f6f6f6;
}

.contact-area {
    width: 100%;
    text-align: left;
    color: #000;
    padding: 50px;
}

.contact-area h2 {
    text-align: left;
    color: #33bfb4;
    font-size: 75px;
    font-family: 'airbnb_cereal_appextra_bold';
    line-height: 80px;
}

.address-area {
    font-family: 'airbnb_cereal_appbook';
    font-size: 24px;
    line-height: 36px;
    margin-top: 50px;
    border-bottom: solid 3px #dadada;
}

.contact-area h4 {
    text-align: left;
    color: #050708;
    font-size: 40px;
    font-family: 'airbnb_cereal_appbook';
    line-height: 48px;
}

.address-area h3 {
    margin: 0;
    padding: 0;
    font-size: 28px;
    color: #33bfb4;
    font-family: 'airbnb_cereal_appextra_bold';
    text-transform: uppercase;
}

.address-area h4 {
    margin: 0;
    padding: 0;
    font-size: 25px;
    color: #000;
    font-family: 'airbnb_cereal_appextra_bold';
}

.maparea h3 {
    float: left;
    font-size: 40px;
    font-family: 'airbnb_cereal_appextra_bold';
    line-height: 36px;
    text-transform: uppercase;
    color: #000;
}

.maparea h4 {
    float: left;
    font-size: 27px;
    font-family: 'airbnb_cereal_appbook';
    line-height: 30px;
    text-transform: uppercase;
    margin-left: 50px;
    color: #8b8b8b;
}

.maparea ul {
    float: right;
}

.maparea ul li {
    float: right;
    border-right: solid 1px #dadada;
    line-height: 17px;
    text-transform: uppercase;
}

.maparea ul li:last-child {
    border-right: none;
}

.maparea .tab-content {
    border-top: solid 1px #dadada;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
    border: none;
    color: #33bfb4;
    font-weight: bold;
}

.nav-tabs .nav-link {
    border: none;
}

.gallery-bottom {
    width: 100%;
    padding: 50px 0;
}

.gallery-bottom .gallery-btn {
    width: 100%;
    max-width: 333px;
    background: url("../images/gallery-btn01.png") no-repeat;
    display: block;
    position: relative;
    background-size: 100%;
    margin: auto;
    text-align: center;
}

.gallery-bottom .gallery-btn .inner {
    display: block;
    height: 0;
    padding-top: 16.52%;
}

.gallery-bottom .gallery-btn:hover {
    width: 100%;
    max-width: 333px;
    background: url("../images/gallery-btn02.png") no-repeat;
    display: block;
    position: relative;
    background-size: 100%;
    margin: auto;
    text-align: center;
}

.gallery-bottom .product-btn {
    width: 100%;
    max-width: 333px;
    background: url("../images/moreproduct-btn01.png") no-repeat;
    display: block;
    position: relative;
    background-size: 100%;
    margin: auto;
    text-align: center;
}

.gallery-bottom .product-btn .inner {
    display: block;
    height: 0;
    padding-top: 16.52%;
}

.gallery-bottom .product-btn:hover {
    width: 100%;
    max-width: 333px;
    background: url("../images/moreproduct-btn02.png") no-repeat;
    display: block;
    position: relative;
    background-size: 100%;
    margin: auto;
    text-align: center;
}

.featureebox {
    height: 330px;
    width: 100%;
    max-width: 370px;
    display: block;
    margin: 0 auto 30px auto;
    padding: 25px 5px 5px 5px;
    position: relative;

}


.featureebox .fimgboxn {
    min-height: 192px;
}

.featureebox .fimgboxn img {
    display: block;
    margin: 0 auto 20px auto;
    text-align: center;
    margin-bottom: 60px;
    min-width: 140px;
}

.featureebox h2 {
    margin: 0;
    padding: 0;
    text-align: center;
    color: #000;
    text-transform: uppercase;
    font-family: 'airbnb_cereal_appmedium';
    font-size: 17px;
    line-height: 23px;
    margin-bottom: 15px;
}

.featureebox .colorbox {
    display: table;
    margin: 0 auto;
    text-align: center;
    line-height: 50px;
    color: #7e7e7e;
    font-size: 18px;
    font-family: 'airbnb_cereal_appbook';
}

.featureebox .colorbox .newtag {
    float: left;
    margin-right: 8px;
}

.featureebox .colorbox .newtag img {
    float: left;
    margin-bottom: 0px;
}

.featureebox .colordots {
    display: none;
}

.featureebox .selectcolor {
    display: none;
}

.featureebox .addtocart-btn {
    display: none;
}

.featureebox .FeaturedHoverBox:hover {
    width: 100%;
    border-radius: 35px;
    box-shadow: 0px 1px 15px 5px rgba(0, 0, 0, 0.25);
    padding: 25px 5px 25px 5px;
    background: #fff;
    transition: all 0.5s ease;
    position: relative;
    z-index: 8;
    cursor: pointer;
}

.featureebox .FeaturedHoverBox:hover .colorbox {
    display: none;
}

.featureebox .FeaturedHoverBox:hover .colordots {
    display: table;
    margin: 40px auto 20px auto;
    text-align: center;
}

.featureebox .FeaturedHoverBox:hover .colordots img {
    margin-bottom: 0px;
}

.featureebox .FeaturedHoverBox:hover .colordots ul {
    display: block;
    margin: 0 auto;
    padding: 0;
}

.featureebox .FeaturedHoverBox:hover ul li {
    float: left;
    list-style-type: none;
    line-height: 20px;
    margin: 0 10px;
}

.featureebox .FeaturedHoverBox:hover h2 {
    color: #33bfb4;
}

.featureebox .FeaturedHoverBox:hover .selectcolor {
    display: block;
    text-align: center;
    line-height: 50px;
    color: #7e7e7e;
    font-size: 17px;
    font-family: 'airbnb_cereal_appbook';
}

.featureebox .FeaturedHoverBox:hover .addtocart-btn {
    width: 100%;
    max-width: 140px;
    background: url("../images/addtocartbtn01.png") no-repeat;
    display: block;
    position: relative;
    background-size: 100%;
    margin: 7px auto;
}

.featureebox .FeaturedHoverBox:hover .addtocart-btn .inner {
    display: block;
    height: 0;
    padding-top: 30.73%;
}

.featureebox .FeaturedHoverBox:hover .addtocart-btn:hover {
    width: 100%;
    max-width: 140px;
    background: url("../images/addtocartbtn02.png") no-repeat;
    display: block;
    position: relative;
    background-size: 100%;
    margin: 7px auto;
}

.arrivaldate {
    float: left;
    min-width: 365px;
    position: relative;
    padding-left: 120px;
    font-size: 30px;
    text-transform: uppercase;
    line-height: 30px;
    color: #000;
    font-family: 'airbnb_cereal_appbold';
    margin-bottom: 40px;
}

.arrivaldate::before {
    content: '';
    position: absolute;
    left: 0;
    width: 90px;
    height: 27px;
    background: #33bfb4;
    -webkit-border-top-right-radius: 25px;
    -webkit-border-bottom-right-radius: 25px;
    -moz-border-radius-topright: 25px;
    -moz-border-radius-bottomright: 25px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}

.arrivaldate span {
    color: #33bfb4
}

.bborder {
    border-bottom: solid 1px #dadada;
    margin: 0px 0 15px 0;
}

.olddate {
    float: left;
    min-width: 365px;
    position: relative;
    padding-left: 120px;
    font-size: 30px;
    text-transform: uppercase;
    line-height: 30px;
    color: #000;
    font-family: 'airbnb_cereal_appbold';
    margin-bottom: 40px;
    margin-top: 40px;
}

.olddate::before {
    content: '';
    position: absolute;
    left: 0;
    width: 90px;
    height: 27px;
    background: #e9e9e9;
    -webkit-border-top-right-radius: 25px;
    -webkit-border-bottom-right-radius: 25px;
    -moz-border-radius-topright: 25px;
    -moz-border-radius-bottomright: 25px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}

.olddate span {
    color: #819291
}

.content-area h1 {
    text-align: left;
    font-size: 75px;
    color: #33bfb4;
    line-height: 100px;
    font-family: 'airbnb_cereal_appbold';
}

.content-area h3 {
    text-align: left;
    font-size: 36px;
    color: #050708;
    line-height: 40px;
    font-family: 'airbnb_cereal_appbook';
}

#accordion-style-1 {
    margin-bottom: 60px;
}

#accordion-style-1 h1,
#accordion-style-1 a {
    color: #33bfb4;
}

#accordion-style-1 .card-header {
    margin-bottom: 15px;
}

#accordion-style-1 .btn-link {
    font-weight: 400;
    color: #33bfb4;
    background-color: transparent;
    text-decoration: none !important;
    font-size: 40px;
    padding-left: 25px;
    font-family: 'airbnb_cereal_appbold';
}

#accordion-style-1 .card-body {
    border-top: 2px solid #007b5e;
    color: #010101;
    font-size: 30px;
    line-height: 36px;
    font-family: 'airbnb_cereal_appbook';
}

#accordion-style-1 .card-header .btn.collapsed .fa.main {
    display: none;
}

#accordion-style-1 .card-header .btn .fa.main {
    background: transparent;
    padding: 13px 11px;
    color: #000;
    font-size: 60px;
    position: absolute;
    right: 75px;
    top: 10px;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    display: block;
}

#accordion-style-1 .card-header .btn .fa.closedd {
    display: none;
}

#accordion-style-1 .card-header .btn.collapsed .fa.closedd {
    background: transparent;
    padding: 13px 11px;
    color: #33bfb4;
    font-size: 60px;
    position: absolute;
    right: 75px;
    top: 10px;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    display: block;
    font-weight: 300;
}

.termsconditons {
    text-align: left;
    font-size: 30px;
    line-height: 48px;
    font-family: 'airbnb_cereal_appbook';
    color: #010101;
}

.termsconditons h3 {
    text-align: left;
    margin-bottom: 50px;
}

.termsconditons h2 {
    text-align: left;
    margin-bottom: 20px;
    color: #33bfb4;
    font-size: 40px;
    line-height: 44px;
}

.termsconditons ul {
    display: block;
    margin: 0;
    padding: 0
}

.termsconditons ul li {
    display: block;
    list-style-type: none;
    padding-left: 60px;
    font-size: 30px;
    line-height: 48px;
    font-family: 'airbnb_cereal_appbook';
    color: #010101;
    background: url("../images/libullet.png") no-repeat left 12px;
}

.downloadpopup {
    width: 100%;
    max-width: 767px;
    background: #fff;
    text-align: left;
    display: block;
    margin: 60px auto;
    font-size: 30px;
    color: #505050;
    line-height: 36px;
    font-family: 'airbnb_cereal_appbook';
}

.downloadpopup h3 {
    margin: 0;
    padding: 0;
    font-size: 40px;
    color: #33bfb4;
    line-height: 48px;
    margin-bottom: 22px;
    text-align: left;
}

.downloadpopup h2 {
    margin: 0;
    padding: 0;
    font-size: 70px;
    color: #000;
    line-height: 72px;
    margin-bottom: 22px;
    text-align: left;
    font-family: 'airbnb_cereal_appbold';
}

.downloadpopup ul {
    margin: 0;
    padding: 0;
    display: block;
    margin-bottom: 100px;
}

.downloadpopup ul li {
    display: block;
    list-style-type: none;
    padding-left: 90px;
    font-size: 30px;
    line-height: 50px;
    font-family: 'airbnb_cereal_appbook';
    color: #505050;
    background: url("../images/dlistsign.jpg") no-repeat left 0px;
    margin-bottom: 40px;
}

.formarea {
    width: 100%;
    border-top: solid 1px #dadada;
    padding-top: 30px;
}

.formarea .downloadpopup input {
    padding: 15px 60px;
    background: #f5f5f5;
    line-height: 60px;
    border: none;
    border-radius: 75px;
    color: #505050;
    font-size: 35px;
    font-family: 'airbnb_cereal_appbook';
    width: 100%;
    max-width: 767px;
    margin-bottom: 30px;
}

.formarea .downloadpopup input[type='image'] {
    background: transparent;
    border: none;
    outline: 0;
    max-width: 100%;
    width: auto;
    display: block;
    margin: 30px auto;
    text-align: center;
}

.fancybox-iframe {
    max-width: 100%;
    display: block;
    margin: 30px auto;
}


/* Level 1 Drop Down */

.dropDownMenu > li {
    display: inline-block;
    vertical-align: top;
    margin-left: -4px;
    /* solve the 4 pixels spacing between list-items */
}

.dropDownMenu > li:first-child {
    margin-left: 0;
}


/* Level 2 */

.dropDownMenu ul {
    box-shadow: 2px 2px 15px 0 rgba(0, 0, 0, 0.5);
}

.dropDownMenu > li > ul {
    text-align: left;
    display: none;
    background: green;
    position: absolute;
    top: 100%;
    left: 0;
    width: 240px;
    z-index: 999999;
    /* if you have YouTube iframes, is good to have a bigger z-index so the video can appear above the video */
}


/* Level 3 */

.dropDownMenu > li > ul > li > ul {
    text-align: left;
    display: none;
    background: darkcyan;
    position: absolute;
    left: 100%;
    top: 0;
    z-index: 9999999;
}

.sidenav {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 500;
    top: 0;
    left: -100%;
   
    overflow-x: hidden;
    
    background: rgba(0, 0, 0, 0.25);
    
}

.sidenav-inner {
    transition: 0.5s;
    position: relative;
    width: 100%;
    background-color: #fff;
    max-width: 645px;
    padding: 75px 30px;
    -webkit-border-bottom-right-radius: 50px;
    -moz-border-radius-bottomright: 50px;
    border-bottom-right-radius: 50px;
    overflow-y: auto;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}
/* .sidenav-inner:after{
    content: "";
    background: red;
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    right: 0;
} */

.sidenav .sidenav-inner ul {
    margin: 0;
    padding: 0;
    float: left;
    margin-top: 15px;
}

.sidenav .sidenav-inner ul li {
    float: left;
    list-style-type: none;
    font-size: 45px;
    line-height: 30px;
    color: #000;
    text-decoration: none;
    margin-bottom: 0px;
    padding: 0 20px;
}

.sidenav .sidenav-inner ul li a {
    color: #000;
    text-decoration: none;
}

.sidenav .sidenav-inner ul li a:hover {
    color: #33bfb4;
    text-decoration: none;
}


/* The navigation menu links */

.sidenav .sidenav-inner a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #111;
    display: block;
    transition: 0.3s
}

.sidenav .sidenav-inner a h2 {
    margin: 0;
    padding: 0;
    font-size: 105px;
    font-family: 'airbnb_cereal_appbold';
    line-height: 72px;
    margin-bottom: 20px;
}

.sidenav .sidenav-inner a:hover h2 {
    margin: 0;
    padding: 0;
    font-size: 105px;
    font-family: 'airbnb_cereal_appbold';
    line-height: 72px;
    margin-bottom: 20px;
    color: #33bfb4;
}

.sidenav .sidenav-inner h3 {
    margin: 0;
    padding: 0;
    font-size: 105px;
    font-family: 'airbnb_cereal_appbold';
    line-height: 72px;
    margin-bottom: 20px;
}


/* When you mouse over the navigation links, change their color */

.sidenav .sidenav-inner a:hover,
.offcanvas a:focus {
    color: #33bfb4;
}


/* Position and style the close button (top right corner) */

.sidenav .sidenav-inner .closebtn {
    position: absolute;
    top:0;
    left: 0;
    font-size: 45px;
}

/* .overlay {
    background: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 999;
    display: none;
}  */

.social-area02 {
     margin-top: 30px;
     border-top: 1px solid #e4e4e4;
     padding-top: 30px;
     text-align: center;
}
.MenuRightShape{
    background: #eaeaea;
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 60px;
    border-bottom-left-radius: 25px;
}

.social-area02 h3 {
    margin: 0;
    padding: 0;
    text-align: left;
    font-size: 20px;
    line-height: 50px;
    margin-bottom: 8px;
    float: left;
    margin-right: 12px;
}

.social h3 strong {
    font-weight: 700;
    font-family: 'ralewaysemibold';
    color: #fff
}

.social-area02 a {
    float: left;
    padding: 0;
    padding-left: 25px;
}

.social-area02 a .fa {
    float: left;
    transition: ease-in-out .6s;
    border-radius: 50%;
    text-align: center;
    color: #000;
    font-size: 24px;
    line-height: 50px;
    display: block;
    margin-right: 10px;
    margin-bottom: 0;
    padding-top: 0px;
}

.social-area02 a .fa.fb {
    width: 50px;
    height: 50px;
    background: transparent;
    border: solid 2px #000;
}

.social-area02 a .fa.fb:hover {
    background: #3b5999;
    transform: rotate(-360deg);
    color: #fff;
    border: solid 2px #3b5999;
}

.social-area02 a .fa.twt {
    width: 50px;
    height: 50px;
    background: transparent;
    border: solid 2px #000;
}

.social-area02 a .fa.twt:hover {
    background: #56a3d9;
    transform: rotate(-360deg);
    color: #fff;
    border: solid 2px #56a3d9;
}

.social-area02 a .fa.ln {
    width: 50px;
    height: 50px;
    background: transparent;
    border: solid 2px #000;
}

.social-area02 a .fa.ln:hover {
    background: #0077b5;
    transform: rotate(-360deg);
    color: #fff;
    border: solid 2px #0077b5;
}

.social-area02 a .fa.gm {
    width: 50px;
    height: 50px;
    background: transparent;
    border: solid 2px #000;
}

.social-area02 a .fa.gm:hover {
    background: #de4b39;
    transform: rotate(-360deg);
    color: #fff;
    border: solid 2px #de4b39;
}

.social-area02 a .fa.ig {
    width: 50px;
    height: 50px;
    background: transparent;
    border: solid 2px #000;
}

.social-area02 a .fa.ig:hover {
    background: #8c0a4e;
    transform: rotate(-360deg);
    color: #fff;
    border: solid 2px #8c0a4e;
}

.search-area {
    cursor: pointer;
    display: block;
    font-size: 20px;
    /*    padding: 10px 20px 15px 18.5px;*/
    position: relative;
    z-index: 9 !important;
}

.search-area:hover,
.search-area.open {
    cursor: pointer;
}

.searchform {
    display: none;
    position: fixed;
    width: 100%;
    height: 82px;
    line-height: 40px;
    top: 0;
    left: 0;
    /* padding: 0 15px; */
    cursor: default;
    /* border-radius: 2px; */
    border-style: solid;
    border-width: 1px;
    border-color: #e1e1e1;
    /* box-shadow: 0 3px 13px 0 rgba(0, 0, 0, 0.2); */
    margin-left: 0;
    z-index: 20;
    background-color: #fff;
}

.search-area.open .searchform {
    display: block;
}

#search {
    display: block;
    position: relative;
}

#s {
    width: 350px;
    background: #fff;
    padding: 0 11px;
    border: 1px solid #e1e1e1;
    border-right: none;
    color: #888;
    margin: 14px 0;
}

.sbtn {
    display: block;
    position: absolute;
    background: none;
    border: 1px solid #33bfb4;
    color: #fff;
    font-size: 0.6em;
    cursor: pointer;
    right: 0px;
    top: 14px;
    width: 35px;
    background-color: #33bfb4;
}

.content-area-cart .productbox .qtyinde02 {
    width: 100%;
    max-width: 205px;
    background: #fff;
    padding: 5px 15px;
    border-radius: 25px;
    color: #000;
    line-height: 30px;
    font-size: 20px;
    text-align: center;
    float: right;
}

.qtyinde .btn-minus {
    float: left;
    margin-right: 15px;
}

.qtyinde input[type='text'] {
    float: left;
    background: transparent;
    width: 140px;
    height: 32px;
    margin-right: 5px;
    border: none;
    outline: 0;
    font-size: 21px;
    color: #33bfb4;
    font-family: 'airbnb_cereal_appmedium';
    text-align: center;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.qtyinde .btn-plus {
    float: left;
}

.qtyinde .fa {
    font-size: 20px;
}

.qtyinde02 .btn-minus02 {
    float: left;
    margin-right: 15px;
}

.qtyinde02 input[type='text'] {
    float: left;
    background: transparent;
    width: 140px;
    height: 30px;
    margin-right: 5px;
    border: none;
    outline: 0;
    font-size: 25px;
    color: #33bfb4;
    font-family: 'airbnb_cereal_appbook';
    text-align: center;
    line-height: 30px;
}

.qtyinde02 .btn-plus02 {
    float: left;
}

.qtyinde02 .fa {
    font-size: 20px;
}

.radio {
    margin: 16px 30px;
    display: block;
    cursor: pointer;
    float: left;
    font-family: 'airbnb_cereal_appbook';
    font-size: 20px;
}

.radio input {
    display: none;
}

.radio input + span {
    line-height: 22px;
    height: 22px;
    padding-left: 22px;
    display: block;
    position: relative;
    font-size:16px;
}

.radio input + span:not(:empty) {
    padding-left: 30px;
}

.radio input + span:before,
.radio input + span:after {
    content: '';
    width: 30px;
    height: 30px;
    display: block;
    border-radius: 50%;
    left: -15px;
    top: -7px;
    position: absolute;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.radio input + span:before {
    /*  background: #D1D7E3;*/
    transition: background 0.2s ease, -webkit-transform 0.4s cubic-bezier(0.175, 0.885, 0.32, 2);
    transition: background 0.2s ease, transform 0.4s cubic-bezier(0.175, 0.885, 0.32, 2);
    transition: background 0.2s ease, transform 0.4s cubic-bezier(0.175, 0.885, 0.32, 2), -webkit-transform 0.4s cubic-bezier(0.175, 0.885, 0.32, 2);
    background: #e9e9e9;
}

.radio input + span:after {
    /*  background: #fff;*/
    background: #5f5f5f;
    -webkit-transform: scale(0.4);
    transform: scale(0.4);
    transition: -webkit-transform 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.4);
    transition: transform 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.4);
    transition: transform 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.4), -webkit-transform 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.4);
}

.radio input:checked + span:before {
    -webkit-transform: scale(1.04);
    transform: scale(1.04);
    background: #33bfb4;
}

.radio input:checked + span:after {
    -webkit-transform: scale(0.4);
    transform: scale(0.4);
    transition: -webkit-transform .3s ease;
    transition: transform .3s ease;
    transition: transform .3s ease, -webkit-transform .3s ease;
    background: #fff;
}

.radio:hover input + span:before {
    -webkit-transform: scale(0.92);
    transform: scale(0.92);
}

.radio:hover input + span:after {
    -webkit-transform: scale(0.74);
    transform: scale(0.74);
}

.radio:hover input:checked + span:after {
    -webkit-transform: scale(0.4);
    transform: scale(0.4);
}

.cartbtnl {
    float: left;
    color: #050708;
    font-family: 'airbnb_cereal_appbook';
    font-size: 25px;
    line-height: 36px;
    margin-top: 10px;
}

.cartbtnl:hover {
    color: #33bfb4;
    font-family: 'airbnb_cereal_appbook';
    font-size: 25px;
    line-height: 36px;
    text-decoration: none;
}

.cartbtnl .fa {
    float: left;
    color: #33bfb4;
    margin-right: 15px;
    margin-top: 5px;
}

/* .continue-btn {
    width: 100%;
    max-width: 417px;
    background: url("../images/continue01.png") no-repeat;
    display: table;
    margin: 10px auto;
    background-size: 100%;
    position: relative;
} */

/* .continue-btn:hover {
    width: 100%;
    max-width: 417px;
    background: url("../images/continue02.png") no-repeat;
    display: table;
    margin: 10px auto;
    background-size: 100%;
    position: relative;
} */

.continue-btn .inner {
    display: block;
    height: 0;
    padding-top: 16.79%;
}

.chatbot-area {
    width: 100%;
    max-width: 1465px;
    position: relative;
    padding-top: 90px;
    margin: 20% auto;
}

.chatbot-area .imgboxx {
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    margin: -40px auto;
    z-index: 999;
}

.chatbot-area .chat-inner {
    width: 100%;
    background: #fff;
    box-shadow: 10px 0 27px rgba(0, 0, 0, 0.25);
    border-radius: 35px;
    position: relative;
    padding: 110px 0 0 0;
    z-index: 99;
}

.chatbot-area .chat-inner h2 {
    margin: 0;
    padding: 0;
    font-size: 75px;
    line-height: 75px;
    color: #000;
    text-align: center;
    font-family: 'airbnb_cereal_appbold';
}

.chatbot-area .chat-inner h3 {
    margin: 0;
    padding: 0;
    font-size: 40px;
    line-height: 47px;
    color: #000;
    text-align: center;
    font-family: 'airbnb_cereal_appbook';
}

.chatbot-area .chat-inner h2 span {
    color: #33bfb4
}

.chatbot-area .chat-inner .chatbox-inner {
    width: 100%;
    background: #f6f6f6;
    border-radius: 35px;
    padding: 50px;
}

.chatbot-area .chat-inner .chatbox-inner .chatleft {
    width: 100%;
    margin-bottom: 20px;
}

.chatbot-area .chat-inner .chatbox-inner .chatright {
    width: 100%;
    margin-bottom: 20px;
}

.chatbot-area .chat-inner .chatbox-inner .chatleft .imgleft {
    float: left;
    margin-right: 20px;
}

.chatbot-area .chat-inner .chatbox-inner .chatleft .ctextbox {
    background: #fff;
    padding: 10px 15px;
    color: #000;
    text-align: center;
    font-size: 20px;
    font-family: 'airbnb_cereal_appbook';
    float: left;
    line-height: 38px;
    margin-top: 15px;
    border-radius: 35px;
}

.chatbot-area .chat-inner .chatbox-inner .chatright .ctextbox {
    background: #33bfb4;
    padding: 10px 15px;
    color: #fff;
    text-align: center;
    font-size: 20px;
    font-family: 'airbnb_cereal_appbook';
    float: right;
    line-height: 38px;
    margin-top: 15px;
    border-radius: 35px;
}

.chatbot-area .chat-inner .bchatboxx {
    background: #fff;
    padding: 10px 15px;
    color: #000;
    text-align: left;
    font-size: 20px;
    font-family: 'airbnb_cereal_appbook';
    line-height: 38px;
    margin: 15px auto;
    display: table;
    border-radius: 35px;
    width: 90%;
}

.chatbot-area .chat-inner .bchatboxx input[type="text"] {
    background: #fff;
    padding: 10px 15px;
    color: #000;
    text-align: left;
    font-size: 20px;
    font-family: 'airbnb_cereal_appbook';
    float: left;
    width: 85%;
    line-height: 38px;
    border: none;
    outline: none;
}

.chatbot-area .chat-inner .bchatboxx input[type="image"] {
    float: right;
    max-width: 100%;
    width: auto;
    margin-top: 8px;
    margin-right: 8px;
}

.fullHeight {
    height: 100% !important;
}

.fullWidth {
    width: 100%;
}

.BXtpHeaderTp1 {
    font-family: 'airbnb_cereal_appbook';
    position: fixed;
    width: 100%;
    z-index: 10;
    border-bottom: 1px solid #e4e4e4;
}

.BxTp1Cnt1 {
    height: 80px;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px;
    position: relative;
}

.BxTp1Left {
    display: flex;
}

.TopBarIconTp1 {
    width: 30px;
}

.mrgRight50 {
    margin-right: 40px;
}

.posRelative {
    position: relative;
}

.HeroLogo {
    position: absolute;
    top: -30px;
    left: 0;
    display: inline-block;
    width: 120px;
    height: auto;
    z-index: 99;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}

.HeroLogo.onShift {
    position: relative;
    top: auto;
    left: auto;
    display: inline-block;
    width: 71px;
    height: auto;
    z-index: 99;
}

.HeroLogo img {
    width: 100%;
}

.sidemenu a {
    margin-top: 3px;
}

.LogoBoxTp1 {
    width: 150px;
}

.NavLinkBox {
    display: flex;
}

.NavLinkBox .NvLinkTp1 {
    height: 100%;
}

.NavLinkBox .NvLinkTp1 a.NvLinkTp1Item {
    font-size: 18px;
    /* font-family: 'Airbnb Cereal App Light'; */
    font-family: 'airbnb_cereal_appmedium';
    text-align: center;
    color: #3a3a39 !important;
    transition: 1s;
    min-width: 150px;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
}

.NavLinkBox .NvLinkTp1 .SubNavBox {
    min-height: 80px;
    background: #e9e9e9;
    position: fixed;
    left: 0;
    top: -250px;
    width: 100%;
    transition: 0.5s;
    ;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    z-index: -9;
    text-align: center;
}

.NavLinkBox .NvLinkTp1:hover .SubNavBox {
    top: 80px !important;
}

.NavLinkBox .NvLinkTp1:hover a.NvLinkTp1Item {
    background: #f6f6f6;
    color: #3a3a39 !important;
}

.NavLinkBox .NvLinkTp1 .SubNavBox .SubNvLinkBoxLnk {
    font-family: 'Airbnb Cereal App Light';
    display: inline-block;
    min-width: 120px;
    font-size: 15px;
    color: #3a3a39;
    padding-bottom: 5px;
    padding-top: 5px;
    position: relative;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    height: 80px;
    align-items: center;
    justify-content: center;
    display: flex;
}

.SubItemTp1Box:hover > .SubNvLinkBoxLnk {
    color: #33bfb4 !important;
}

.SubItemTp1Box:hover > .SubNvLinkBoxLnk:after {
    content: "";
    height: 2px;
    width: 100%;
    background: #33bfb4;
    left: 0;
    bottom: 0;
    position: absolute;
    transition: 0.5s;
    -webkit-transition: ;
    -moz-transition: ;
    -ms-transition: ;
    -o-transition: ;
}

.SubSystemBox {
    display: inline-block;
    margin: 0 auto;
}

.SubItemTp1Box {
    display: inline-block;
    position: relative;
}

.SubItemBoxTp1 {
    position: fixed;
    right: 0;
    top: 100%;
    background: #33bfb4;
    display: none;
    padding: 20px;
    width: 4100%;
}


.SubItemTp1Box:hover  > .SubItemBoxTp1{
   display: block;
}

.BxTpRight .tphoen {
    padding: 5px 20px;
    background: #33bfb4;
    text-align: center;
    color: #fff;
    line-height: 32px;
    font-size: 17px;
    border-radius: 50px;
    font-family: 'Airbnb Cereal App Light';
}

.BxTpRight .PhoneIconBox img {
    margin-left: 35px;
    width: 30px;
    margin-right: 35px;
}

.BxTpRight .cartIconBox img {
    width: 44px;
}

.single-slider {
    /* height: calc(100vh - 80px) */
    height: 100vh;
}

.single-slider .owl-carousel .owl-nav {
    opacity: 1 !important;
}

.SearchFormBox {
    padding: 20px !important;
}

.SearchFormBox .CloseIcnTp1 {
    font-size: 30px;
    font-family: 'Airbnb Cereal App Light';
    text-align: center;
    color: #33bfb4;
    line-height: 1;
    margin-right: 15px;
}

.SearchFormBox .closeIconTextTp1 {
    font-size: 17px;
    display: flex;
    font-family: 'Airbnb Cereal App Light';
    text-align: center;
    color: #3a3a39 !important;
    line-height: 1;
    align-items: center;
    align-self: center;
    padding-top: 4px;
}

.SearchFormBox .SearchFormField {
    /* box-shadow: 0 3px 13px 0 rgba(0, 0, 0, 0.2); */
    outline: none;
    border: none !important;
    width: 100%;
    border-radius: 20px;
    padding: 1px;
}

.SearchFormBox .SearchBtn1 {
    padding: 5px 20px;
    background: #33bfb4;
    text-align: center;
    color: #fff;
    width: 165px;
    line-height: 27px;
    font-size: 17px;
    outline: none;
    border-radius: 50px;
    font-family: 'Airbnb Cereal App Light';
    border: none;
}

@keyframes slideInDown {
    0% {
        opacity: 0;
        transform: translateY(-($gap*2));
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.ani-slideInDown {
    animation: slideInDown 1000ms ease;
}

.SubItemBoxNavBoxLnksTp1 {
    min-width: 120px;
    text-align: center;
    padding-right: 10px;
    font-size: 16px;
}

.SubItemBoxNavBoxLnksTp1:hover {
    color: #fff;
}

.SubItemBoxTp1ItemsLink {
    color: #3a3a39;
    font-size: 15px;
    text-align: center;
    padding: 5px 10px;
    font-family: 'airbnb_cereal_appmedium';
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}

.SubItemBoxTp1ItemsLink:hover {
    color: #fff;
}

.containerCst {
    max-width: 1440px;
}

.BoxTpArrival {
    height: 410px;
    overflow: hidden;
    padding: 100px;
    padding-top: 0px !important;
    margin: 0 !important;
    position: relative;
    padding-left: 0px !important;
    margin-top: 60px !important;
}

.BoxTpArrival .BoxTpArrivalBg {
    position: absolute;
    right: 0;
    top: 0;
}

.CarouselControllerBox {
    height: auto !important;
}

.ArrowMiddle {
    padding: 0px 25px;
}

.ArrowMiddle .owl-prev {
    position: absolute;
    top: 30%;
    left: -20px;
}

.ArrowMiddle .owl-next {
    position: absolute;
    top: 30%;
    right: -20px;
}

/* .addtocart-btn-tp-1 {
    position: absolute;
    bottom: 0px;
    display: inline-block;
    opacity: 0;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
} */

.slidebox:hover .addtocart-btn-tp-1 {
    opacity: 1;
}
.BottomLinkBox {
    background: #e9e9e9;
    padding: 10px;
    text-align: center;
    margin: 0 auto;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    opacity: 0;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    display: none !important;
}
.BottomLinkBox .addtocart-btn-tp-1 img{
    width: 70%;
    margin: 0 auto;
}
.slidebox{
    border: 1px solid transparent;
}

.slidebox:hover .BottomLinkBox {
    opacity: 1;
}
.slidebox:hover figure img {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    transition: 1s;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
}
.MobileHeader{
    display: none;
}
.ContentBlockTp1{
    padding-top: 60px;
}
.StickyBoxContent{
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    z-index: 9;
}
.StickyNavBox{
    min-height: 80px;
    padding: 20px;
    background: #e9e9e9;
}
.StickyNavBox .LinkTp101{
    color: #3a3a39;
    font-size: 17px;
    text-align: center;
    padding: 5px 10px;
    font-family: 'Airbnb Cereal App Light';
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}
.StickyNavBox .LinkTp101:hover{
    color: #33bfb4;
}
.ProductDetailPage .container{
    max-width: 1400px !important;
}
.ProductDetailPage .card {
    margin-top: 0;
    padding: 20px;
    line-height: 1.5em;
    border: none;
}
.ProductDetailPage .tab-content {
    overflow: hidden;
    border-bottom: 1px solid #e4e4e4;
    margin-bottom: 35px;
    padding-bottom: 35px;
}
.ProductDetailPage .DetailImageTp1{
    height: 300px;
    object-fit: contain;
}
.ProductDetailPage .preview-pic{
    height: auto;
    margin: 0px !important;
    padding: 10px !important;
}
.ProductDetailModalBox{
    max-width: 1200px;
    width: 90%;
}
.ProductDetailModalBox .modal-body{
    padding: 0px;
}
.ProductDetailModalBox .modal-dialog{
    margin: 0 auto;
}
.ProductDetailPage .breadcrumb ul li{
    font-family: 'airbnb_cereal_appmedium';
    font-size: 17px !important;
}
.ProductDetailPage h3{
    font-size: 26px;
    padding: 0px !important;
    font-family: 'airbnb_cereal_appmedium';
}
.ProductDetailPage h4{
    margin-bottom: 5px !important;
    font-size: 19px !important;
    
}
.ProductDetailPage .colorpricebox {
    background: #f5f5f5;
    border-radius: 50px;
    color: #000;
    font-size: 20px;
    padding: 2px 16px;
    font-family: 'airbnb_cereal_appbook';
    line-height: 46px;
    margin-bottom: 15px;
}
.ProductDetailPage .colorspot img {
    width: 19px;
    float: left;
    position: relative;
    margin-right: 15px;
    top: 13px;
}
.ProductDetailPage .selectionbox{
    font-size: 20px;
    background-size: 25px 8px;
}
.ProductDetailPage .qtyindes input[type='text']{
    font-size: 21px;
}
.ProductDetailPage .moreproduct {
    width: 100%;
    background: #f5f5f5;
    padding: 15px;
}
.ProductDetailPage .moreproduct h2{
    font-family: 'airbnb_cereal_appmedium';
    margin: 15px 0 15px 0;
    font-size: 22px;
}
.ProductDetailPage .details p {
    font-family: 'airbnb_cereal_appbook';
    font-size: 15px;
    color: #8b8b8b;
    line-height: 22px;
    padding-bottom: 10px;
    margin-bottom: 0px;
}
.ProductDetailPage .qtyindes{
    margin-bottom: 30px;
}
.AddToQuoteBtn{
    text-align: center;
    display: block;
    padding: 10px;
    color: #33bfb4 !important;
    border: 2px solid #33bfb4;
    font-family: 'airbnb_cereal_appmedium';
    border-radius: 26px;
    font-size: 17px;
    margin-top: 10px;
}
.ModalCloseBtn{
    position: absolute;
    top: 10px;
    right: 15px;
    z-index: 99;
}





.daterangepicker.dropdown-menu {
    font-family: 'airbnb_cereal_appbook';
    max-width:500px;
    z-index: 3000;
    color: #050708;
  }
  
  .daterangepicker.opensleft .ranges, .daterangepicker.opensleft .calendar {
    float: left;
    margin: 4px;
  }
  
  .daterangepicker.opensright .ranges, .daterangepicker.opensright .calendar,
  .daterangepicker.openscenter .ranges, .daterangepicker.openscenter .calendar {
    float: right;
    margin: 4px;
  }
  
  .daterangepicker .ranges {
    width: 220px;
    text-align: left;
    padding-top: 23px;
  }

  .daterangepicker .calendar {
    display: none;
    max-width: 250px;
    width:33.33%;
  }
  .daterangepicker.show-calendar .calendar {
      display: block;
  }
  .daterangepicker .prev,
  .daterangepicker .next
  {
    background:none !important;
    float:none;
  }
  
  .daterangepicker .calendar.single .calendar-date {
    border: none;
  }
  
  .daterangepicker .calendar th, .daterangepicker .calendar td {
    white-space: nowrap;
    text-align: center;
    padding:5px;
  }
  /* .daterangepicker .range_inputs{
    padding-top:120px;
  } */
  .daterangepicker .btn-success {
    color: #fff !important;
    background-color: #33bfb4 !important;
    border-color: #33bfb4 !important;
    width: 100%;
}
.daterangepicker .btn-sm{
    width:100%;
}
  .daterangepicker .daterangepicker_start_input label,
  .daterangepicker .daterangepicker_end_input label {
    color: #333;
    font-size: 11px;
    margin-bottom: 2px;
    text-transform: uppercase;
    text-shadow: 1px 1px 0 #fff;
  }
  
  .daterangepicker .ranges input {
    font-size: 11px;
  }
  
  .daterangepicker .ranges ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .daterangepicker .ranges li {
    font-size: 13px;
    background: #f5f5f5;
    border: 1px solid #f5f5f5;
    color: #08c;
    padding: 3px 12px;
    margin-bottom: 8px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .daterangepicker .ranges li.active, .daterangepicker .ranges li:hover {
    background: #08c;
    border: 1px solid #08c;
    color: #fff;
  }
  
  .daterangepicker .calendar-date {
    border: 1px solid #e4e4e4;
    padding: 4px;
    border-radius: 10px;
    background: #fff;
  }
  
  .daterangepicker .calendar-time {
    text-align: center;
    margin: 8px auto 0 auto;
    line-height: 30px;
  }
  
  .daterangepicker {
    position: absolute;
    background: #fff;
    top: 100px;
    left: 20px;
    padding: 4px;
    margin-top: 1px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
  }
  
  .daterangepicker.opensleft:before {
    position: absolute;
    top: -7px;
    right: 9px;
    display: inline-block;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #ccc;
    border-left: 7px solid transparent;
    border-bottom-color: rgba(0, 0, 0, 0.2);
    content: '';
  }
  
  .daterangepicker.opensleft:after {
    position: absolute;
    top: -6px;
    right: 10px;
    display: inline-block;
    border-right: 6px solid transparent;
    border-bottom: 6px solid #fff;
    border-left: 6px solid transparent;
    content: '';
  }
  
  .daterangepicker.openscenter:before {
    position: absolute;
    top: -7px;
    left: 0;  
    right: 0;
    width: 0;
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #ccc;
    border-left: 7px solid transparent;
    border-bottom-color: rgba(0, 0, 0, 0.2);
    content: '';
  }
  
  .daterangepicker.openscenter:after {
    position: absolute;
    top: -6px;
    left: 0;  
    right: 0;  
    width: 0;
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
    border-right: 6px solid transparent;
    border-bottom: 6px solid #fff;
    border-left: 6px solid transparent;
    content: '';
  }
  
  /* .daterangepicker.opensright:before {
    position: absolute;
    top: -7px;
    right: 9px;
    display: inline-block;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #ccc;
    border-left: 7px solid transparent;
    border-bottom-color: rgba(0, 0, 0, 0.2);
    content: '';
  }
  
  .daterangepicker.opensright:after {
    position: absolute;
    top: -6px;
    left: 10px;
    display: inline-block;
    border-right: 6px solid transparent;
    border-bottom: 6px solid #fff;
    border-left: 6px solid transparent;
    content: '';
  } */
  
  .daterangepicker table {
    width: 100%;
    margin: 0;
  }
  
  .daterangepicker td, .daterangepicker th {
    text-align: center;
    width: 20px;
    height: 20px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    cursor: pointer;
    white-space: nowrap;
  }
  
  .daterangepicker td.off {
    color: #999;
  }
  
  .daterangepicker td.disabled, .daterangepicker option.disabled {
    color: #999;
  }
  
  .daterangepicker td.available:hover, .daterangepicker th.available:hover {
    background: #eee;
  }
  
  .daterangepicker td.in-range {
    background: #ebf4f8;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
  }
  
  .daterangepicker td.active, .daterangepicker td.active:hover {
    background-color: #33bfb4;
    
  }
  
  .daterangepicker td.week, .daterangepicker th.week {
    font-size: 80%;
    color: #ccc;
  }
  
  .daterangepicker select.monthselect, .daterangepicker select.yearselect {
    font-size: 12px;
    padding: 1px;
    height: auto;
    margin: 0;
    cursor: default;
  }
  .daterangepicker select.monthselect {
    margin-right: 2%;
    width: 56%;
  }
  .daterangepicker select.yearselect {
    width: 40%;
  }
  .daterangepicker select.hourselect, .daterangepicker select.minuteselect, .daterangepicker select.secondselect, .daterangepicker select.ampmselect {
    width: 60px;
    margin-bottom: 0;
  }
  
.daterangepicker_start_input,.daterangepicker_end_input{
    margin-bottom:10px;
}
  
  
  .daterangepicker th.month {
    width: auto;
  }

.daterangepicker .daterangepicker_start_input label, .daterangepicker .daterangepicker_end_input label {
    color: #333;
    display: block;
    font-size: 13px;
    font-weight: normal;
    height: 20px;
    line-height: 20px;
    margin-bottom: 2px;
    text-shadow: #fff 1px 1px 0px;
    text-transform: uppercase;
    margin-bottom: 10px;
    font-family: 'airbnb_cereal_appmedium';
}

.daterangepicker .ranges .input-mini {
    border: 1px solid #ccc;
    border-radius: 4px;
    color: #555;
    display: block;
    font-size: 11px;
    height: 30px;
    line-height: 30px;
    vertical-align: middle;
    padding: 0 6px;
    width: 100%;
    font-family: 'airbnb_cereal_appmedium';
    font-size: 13px;
}
.daterangepicker.dropdown-menu{
    min-width: 760px;
    border: 1px solid #e4e4e4;
    background: #e9e9e9;
    padding: 10px;
    border-radius: 20px;
    transition:0.5s;
}
  

.modal{
    background: rgba(255, 255, 255,0.9);
}
